.profile_wrapper {
  background-color: $light-blue;
  margin-top: 600px;
  padding-bottom: 63%;
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  height: 200%;
  width: 100%;
  .company_profiles_wrapper {
    margin-top: -490px;
    width: 30%;
    margin-left: 34%;
    .user_img {   
      text-align: center;
      img {
        border: 4px solid $main-blue;
        border-radius: 50%;
        width: 100px;
        height: 100px;
      }
    }
  }
  .cp-header {
    width: 90%;
    margin-top: -124px;
    h2 {
      margin-top: -250px;
      margin-left: 40px;
      text-align: center;
      font-weight: 100;
      font-size: 22px;
      color: $main-blue;
    }
    h3 {
      margin-top: 0.2%;
      text-align: center;
      margin-left: 9%;
      font-weight: 100;
      font-size: 18px;
      color: black;
    }
    h5 {
      margin-top: -0.9%;
      text-align: center;
      margin-left: 9%;
      font-size: 12px;
      color: $gray;
    }
    p {
      width: 80%;
      margin-top: 1%;
      text-align: justify;
      margin-left: 15%;
      font-size: 14px;
    }
  }
  h4 {
    margin-top: 5%;
    font-weight: 100;
    margin-left: 5.8%;
    color: $main-blue;
    margin-bottom: 30px;
  }
  .cp-row1 {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 90%;
    height: 20%;
    margin-left: 4%;
    .cp-current-cast {
      width: 18%;
      margin-top: 4%;
      margin-left: 2%;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      display: inline-block;
      text-align: center;
      border: 1px solid $light-gray;
      img {
        width: 100%;
        height: 45%;
      }
      h3 {
        margin-top: 5px;
        font-size: 12px;
        text-align: center;
        color: $main-blue;
      }
      p {
        margin-top: -11px;
        font-size: 10px;
      }
    }
  }
  .cp-row2 {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 90%;
    height: 20%;
    margin-left: 4%;
    .cp-current-cast {
      width: 18%;
      margin-top: 4%;
      margin-left: 2%;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      display: inline-block;
      text-align: center;
      border: 1px solid $light-gray;
      img {
        width: 100%;
        height: 45%;
      }
      h3 {
        margin-top: 5px;
        font-size: 12px;
        text-align: center;
        color: $main-blue;
      }
      p {
        margin-top: -11px;
        font-size: 10px;
      }
    }
  }
  .client-list-row1 {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 90%;
    height: 20%;
    margin-left: 4%;
    .cp-clients {
      width: 15%;
      margin-top: 4%;
      margin-left: 2%;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      display: inline-block;
      text-align: center;
      border: 1px solid $light-gray;
      img {
        width: 100%;
        height: 45%;
      }
    }
  }
}








.cp-edit {
  margin-top: -490px;
  margin-left: 86%;
  float: right;
  display: inline;
  width: 50px;
  height: 50px;
  position: fixed;
  img {
    width: 26px;
  }
}



#createModalx {
  display: none; 
  position: fixed;
  z-index: 1;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.create-modal-contentx {
  position: absolute;
  background-color: $light-blue;
  margin: auto;
  margin-top: 2%;
  border: 1px solid #888;
  width: 80%;
  margin-left: 10%;
  height: 66%;
  z-index: 1;
  border-radius: 19px;
  h1 {
    padding: 20px;
    font-size: 25px;
    font-weight: 400;
    margin-top: 5px;
    margin-left: 10px;
    color: $main-blue;
    font-family: $font;
    text-align: center;
    padding-bottom: 50px;
  }
  .cp-left1 {
    margin-top: -35px;
    width: 40%;
    float: left;
    margin-left: 30px;
    padding-bottom: 30px;
    #edit-name {
      width: 80%;
      font-size: 12px;
      font-weight: 400;
      color: $main-blue;
    }
    input[type=text] {
      width: 80%;
      height: 40px;
      margin-top: 6px;
      font-size: 12px;
      font-weight: 400;
      color: $main-blue;
      padding-left: 15px;
      border-radius: 22px;
      border: 2px solid $main-blue;
    }
  }
  .cp-right1 {
    width: 42%;
    float: right;
    margin-left: -23px;
    margin-right: 21px;
    margin-top: -35px;
    padding-bottom: 30px;
    #edit-type {
      width: 86%;
      font-size: 12px;
      color: $main-blue;
      font-weight: 400;
    }
    input[type=text] {
      width: 80%;
      height: 40px;
      margin-top: 6px;
      font-size: 12px;
      font-weight: 400;
      color: $main-blue;
      padding-left: 15px;
      border-radius: 22px;
      border: 2px solid $main-blue;
    }
  }
  .cp-center {
    width: 100%;
    text-align: center;
    #edit-desc {
      width: 80%;
      font-size: 12px;
      margin-left: 9.5%;
      font-weight: 400;
      color: $main-blue;
    }
    input[type=text] {
      width: 80%;
      height: 120px;
      margin-top: 6px;
      font-size: 12px;
      font-weight: 400;
      color: $main-blue;
      margin-left: 9.5%;
      padding-left: 15px;
      border-radius: 22px;
      margin-bottom: 30px;
      border: 2px solid $main-blue;
    }
  }
  .cp-left2 {
    width: 40%;
    float: left;
    margin-left: 30px;
    padding-bottom: 30px;
    #cp-new-password {
      width: 80%;
      font-size: 12px;
      color: $main-blue;
      font-weight: 400;
    }
    input[type=text] {
      width: 80%;
      height: 40px;
      margin-top: 6px;
      font-size: 12px;
      font-weight: 400;
      color: $main-blue;
      padding-left: 15px;
      border-radius: 22px;
      border: 2px solid $main-blue;
    }
  }
  .cp-right2 {
    width: 40%;
    float: right;
    margin-right: 6px;
    padding-bottom: 30px;
    #cp-confirm-password {
      width: 100%;
      font-size: 12px;
      font-weight: 400;
      color: $main-blue;
      margin-left: -19px;
    }
    input[type=text] {
      margin-left: -21px;
      width: 86%;
      height: 40px;
      margin-top: 6px;
      font-size: 12px;
      font-weight: 400;
      color: $main-blue;
      padding-left: 15px;
      border-radius: 22px;
      border: 2px solid $main-blue;
    }
  }
  .save-changes {
    margin-top: 6px;
    padding-top: 20px;
    margin-left: 27%;
    background-color: #226BE4;
    border: 2px solid #226BE4;
    color: white;
    padding: 3px 12px;
    width: 146px;
    height: 40px;
    font-weight: 400;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 25px;
    margin-right: 10%;
    font-size: 14px;
    &:hover {
      margin-top: 10px;
      width: 145px;
      height: 40px;
      font-weight: 400;
      background-color: white;
      border: 2px solid #226BE4;
      border-radius: 25px;
      margin-right: 10%; 
      color: #226BE4;
      font-size: 14px;
    }
  }
}
/* The Close Button */
.create-closex {
  /*display: none;*/
  color: #aaaaaa;
  float: right;
  margin-right: 4%;
  font-size: 28px;
  font-weight: bold;
}
.create-closex:hover,
.create-closex:focus {
  /*display: none;*/
  color: #000;
  text-decoration: none;
  cursor: pointer;
}






.cp-employee-edit {
  margin-top: 15px;
  margin-left: 3%;
  display: inline;
  width: 50px;
  height: 50px;
  position: inherit;
  img {
    width: 22px;
  }
}
.employee-edit-wrapper {
  width: 80%;
  height: 60%;
  margin-left: 11%;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: nowrap;
  .employee-col1 {
    padding-top: 10px;
    width:100%;
    height: 100%;
    padding-bottom: 30px;
    .columns {
      margin-top: -15px;
      height: 100px;
      .basic-info {
        width: 37%;
        float: left;
        margin-bottom: 10px;
        display: inline-block;
        input[type=text] {
          width: 100%;
          height: 27px;
          font-size: 8px;
          padding-left: 15px;
          margin-left: -35px;
          border-radius: 20px;
          border: 1px solid $main-blue;
        }
      }
      .role {
        width: 38%;
        float: right;
        margin-right: 50px;
        margin-bottom: 10px;
        display: inline-block;
        input[type=text]{
          width: 98%;
          height: 27px;
          font-size: 8px;
          padding-left: 15px;
          margin-left: -10px;
          border-radius: 20px;
          border: 1px solid $main-blue;
        }
      }
      .up {
        width: 30%;
        font-size: 16px;
        margin-left: 50%;
        font-weight: 900;
        color: $main-blue;
        text-decoration: none;
      }
      .down {
        width: 30%;
        font-size: 16px;
        margin-left: 50%;
        font-weight: 900;
        color: $main-blue;
        text-decoration: none;
      }
    }
  }
}
.save-changes {
    margin-top: -4px;
    margin-left: 27%;
    background-color: #226BE4;
    border: 2px solid #226BE4;
    color: white;
    padding: 3px 12px;
    width: 146px;
    height: 40px;
    font-weight: 400;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 25px;
    margin-right: 10%;
    font-size: 14px;
    &:hover {
      margin-top: 10px;
      width: 145px;
      height: 40px;
      font-weight: 400;
      background-color: white;
      border: 2px solid #226BE4;
      border-radius: 25px;
      margin-right: 10%; 
      color: #226BE4;
      font-size: 14px;
    }
  }

ul p:first-child a.up,
ul p:last-child a.down {
  display: none;
}



/* The Close Button */
.create-closey {
  /*display: none;*/
  color: #aaaaaa;
  float: right;
  margin-right: 2%;
  font-size: 28px;
  font-weight: bold;
}
.create-closey:hover,
.create-closey:focus {
  /*display: none;*/
  color: #000;
  text-decoration: none;
  cursor: pointer;
}