/* =================== M A I N  H E A D E R =================== */
$yellow: #f9d692;
$main-blue: #226BE4;
$medium-blue: #99CCFF;
$light-blue: #F7FAFF;
$dark-blue: #18253B;
$light-gray: #E9E9E9;
$gray: #B2B2B2;
$font: 'Roboto', sans-serif;
.body {
  position: fixed;
  margin-top: 20px;
  width: 100%;
  background-image: url("../images/background-new.png");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-header {
  background-color: white;
  width: 101%;
  margin-left: -1%;
  margin-top: -52px;
  height: 96px;
  img {
    margin-top: 38px;
    margin-left: 34px;
    float: left;
  }
  span {
    position: fixed;
    background: white;
    left: 0px;
    width: 100%;
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    .logo {
      height: 52px;
      width: auto;
      margin-right: -10px;
    }
    a {
      font-family: $font;
      text-decoration: none;
      font-size: 16px;
      margin-top: 40px;
      margin-left: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
      &:hover {
        color: $light-gray;
      }
    }
  }
  .signout-x {
    margin-left: 57%;
    margin-right: 2%;
    margin-top: 1px;
  }
  .signout-y {
    margin-top: 1px;
  }
  button {
    font-family: $font;
    margin-top: 45px;
    border-radius: 25px;
    padding-top: 6px;
    margin-right: 30px;
    width: 105px;
    height: 33px; 
    font-size: 16px;
    float: right;
    border: 2px solid $main-blue;
    font-family: 'Tajawal', sans-serif;
    text-decoration: none;
  }
}
.main-header .button1 {   /*button 1 = login*/
  background: $main-blue;
  &:hover {
    background: white;
  }
  a {
    font-family: $font;
    text-decoration: none;
    color: white;
    &:hover {
      font-family: $font;
      text-decoration: none;
      color: $main-blue;
    }
  }
}
.main-header .button2 {   /*button 2 = sign up*/
  background: $main-blue;
  &:hover {
    background: white;
  }
  a {
    text-decoration: none;
    color: white;
    font-family: $font;
    &:hover a {
      font-family: $font;
      text-decoration: none;
      color: $main-blue;
    }
  }
}

/* =============== C O M I N G  S O O N  P A G E =============== */


.logo-image {
  width: 300px;
  height: 55px;
}

.coming-soon {
  width: 100%;
  height: auto;
  h1 {
    font-family: $font;
    color: white;
    text-align: center;
    font-weight: 100;
    margin-top: 20%;
    font-size: 66px;
  }
}

.qod-coming-soon {
  width: 100%;
  height: auto;
  h1 {
    font-family: $font;
    color: white;
    text-align: center;
    font-weight: 100;
    margin-top: 18%;
    font-size: 46px;
  }
  h2 {
    width: 80%;
    margin-left: 8%;
    font-family: $font;
    color: white;
    text-align: center;
    font-weight: 100;
    margin-top: 10px;
    font-size: 30px;
  }
  a {
    color: $yellow;
    text-decoration: none;
  }
}

/* ==================== S I G N  I N  M O D A L ==================== */


.index-modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  padding-top: auto;
  left: 0;
  top: 0px;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  .index-modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    margin-top: 275px;
    border-radius: 2%;
    height: auto;
    margin-bottom: 15px;
  }
}
.a-login {             /*login and signup button*/
  width: 100%;
  text-align: center;
  color: $main-blue;
  margin-left: 45%;
  font-size: 22px;
  padding-bottom: 10px;
  text-decoration: none;
}
hr {
  width: 100%;
  height: 2px;
  color: $main-blue;
}
.signin-usertype {
  width: 80%;
  text-align: center;
  margin-top: 10px;
  label {
    font-family: $font;
    color: #0080FF;
    font-size: 14px;
    margin-left: 25px;
    font-weight: 100;
  }
  .styled-select {
    margin-left: 10px;
    height: 29px;
    background-color: #226BE4;
    overflow: hidden;
    width: 170px;
    font-size: 14px;
    font-family: $font;
    font-weight: 100;
    padding-left: 15px;
    color: white;
     -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .styled-select select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px; 
    width: 268px;
  }
}
.first_name {
  width: 50%;
  float: left;
  margin-top: 20px;
  label {
    font-family: $font;
    color: #0080FF;
    font-size: 14px;
    margin-left: 25px;
    font-weight: 100;
  }
  span {
    display: none;
  }
  input[type=text] {
    background-color: $light-gray;
    border-radius: 13%/97%;
    padding-left: 15px;
    margin-left: 5px;
    margin-top: 6px;
    font-size: 14px;
    border: none;
    height: 40px;
    width: 100%;
    color: gray;
    font-family: $font;
  }
}  
.last_name {
  width: 45%;
  float: right;
  margin-top: 20px;
  label {
    color: #0080FF;
    font-size: 14px;
    margin-left: 18px;
    font-weight: 100;
    font-family: $font;
  }
  input[type=text] {
    background-color: $light-gray;
    border-radius: 13%/97%;
    padding-left: 18px;
    margin-top: 6px;
    font-size: 14px;
    border: none;
    height: 40px;
    width: 100%;
    color:gray;
    font-family: $font;
  }
  span {
    display: none;
  }
}
.handle {
  width: 100%;
  margin-top: 10px;
  text-align: center;
  label {
    font-family: $font;
    margin-top: 10px;
    color: #0080FF;
    font-size: 14px;
    margin-left: 25px;
    font-weight: 100;
    float: left;
  }
  input[type=text] {
    font-family: $font;
    background-color: $light-gray;
    border-radius: 13%/180%;
    padding-left: 25px;
    margin-top: 6px;
    font-size: 14px;
    border: none;
    height: 40px;
    width: 100%;
    color: gray;
  }
  span {
    display: none;
  }
}
.signin-email {
  width: 100%;
  margin-top: 10px;
  text-align: center;
  label {
    font-family: $font;
    margin-top: 10px;
    color: #0080FF;
    font-size: 14px;
    margin-left: 25px;
    font-weight: 100;
    float: left;
  }
  input[type=email] {
    font-family: $font;
    background-color: $light-gray;
    border-radius: 13%/180%;
    padding-left: 25px;
    margin-top: 6px;
    font-size: 14px;
    border: none;
    height: 40px;
    width: 100%;
    color: gray;
  }
  span {
    display: none;
  }
}
.signin-password {
  width: 100%;
  margin-top: 10px;
  text-align: center;
  label {
    font-family: $font;
    margin-top: 10px;
    color: #0080FF;
    font-size: 14px;
    margin-left: 25px;
    font-weight: 100;
    float: left;
  }
  input[type=password] {
    font-family: $font;
    background-color: $light-gray;
    border-radius: 13%/180%;
    padding-left: 25px;
    margin-top: 6px;
    font-size: 14px;
    border: none;
    height: 40px;
    width: 100%;
    color: gray;
  }
  span {
    display: none;
  }
  a {
    display: none;
  }
}
.signin-city {
  width: 45%;
  float: left;
  margin-top: 0px;
  label {
    font-family: $font;
    color: #0080FF;
    font-size: 14px;
    margin-left: 25px;
    font-weight: 100;
  }
  span {
    display: none;
  }
  input[type=text] {
    background-color: $light-gray;
    border-radius: 13%/97%;
    padding-left: 15px;
    margin-left: 5px;
    margin-top: 6px;
    font-size: 14px;
    border: none;
    height: 40px;
    width: 100%;
    color: gray;
    font-family: $font;
  }
}
.signin-country {
  width: 45%;
  float: right;
  margin-top: 0px;
  label {
    color: #0080FF;
    font-size: 14px;
    margin-left: 18px;
    font-weight: 100;
    font-family: $font;
  }
  input[type=text] {
    background-color: $light-gray;
    border-radius: 13%/97%;
    padding-left: 18px;
    margin-top: 6px;
    font-size: 14px;
    border: none;
    height: 40px;
    width: 100%;
    color:gray;
    font-family: $font;
  }
  span {
    display: none;
  }
}
.signin-phone {
  width: 45%;
  float: left;
  margin-top: 0px;
  label {
    font-family: $font;
    color: #0080FF;
    font-size: 14px;
    margin-left: 25px;
    font-weight: 100;
  }
  span {
    display: none;
  }
  input[type=text] {
    background-color: $light-gray;
    border-radius: 13%/97%;
    padding-left: 15px;
    margin-left: 5px;
    margin-top: 6px;
    font-size: 14px;
    border: none;
    height: 40px;
    width: 100%;
    color: gray;
    font-family: $font;
  }
}

.signin-submit input[type=button] {
  font-family: $font;
  background-color: $main-blue;
  padding: 12px; 
  margin-left: 40%;
  margin-bottom: -10px;
  width: 20%;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 25px;
  font-size: 14px;
  color: white;
  font-weight: 100;
  &:hover {
    font-family: $font;
    background-color: #0000CD;
    padding: 12px; 
    margin-left: 40%;
    margin-bottom: -10px;
    width: 20%;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 25px;
    font-size: 14px;
    color: white;
    font-weight: 100;
  }
}
.signin-agree {
  margin-left: 3px;
  font-size: 15px;
  a {
    font-family: $font;
    font-size: 15px;
    text-decoration: none;
    color: $main-blue;
  }
}





/* ===================== L O G I N  M O D A L ===================== */

.login-email {
  width: 100%;
  margin-top: 10px;
  text-align: center;
  label {
    font-family: $font;
    color: #0080FF;
    font-size: 14px;
    margin-left: 25px;
    font-weight: 100;
    float: left;
  }
  input[type=email] {
    font-family: $font;
    background-image: url("../images/mail-icon.png");
    background-position: 4.5% 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    padding-top: 2px;
    background-color: $light-gray;
    border-radius: 13%/180%;
    padding-left: 57px; 
    margin-top: 6px;
    font-size: 12px;
    border: none;
    height: 40px;
    width: 100%;
    color: gray;
  }
  span {
    display: none;
  }
}
.login-password {
  width: 100%;
  margin-top: 10px;
  text-align: center;
  label {
    font-family: $font;
    margin-top: 10px;
    color: #0080FF;
    font-size: 14px;
    margin-left: 25px;
    font-weight: 100;
    float: left;
  }
  input[type=password] {
    font-family: $font;
    background-image: url("../images/lock.png");
    background-position: 4.5% 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    padding-top: 2px;
    background-color: $light-gray;
    border-radius: 13%/180%;
    padding-left: 47px;
    margin-top: 6px;
    font-size: 12px;
    border: none;
    height: 40px;
    width: 100%;
    color: gray;
  }
  span {
    display: none;
  }
  a {
    display: none;
    font-family: $font;
  }
}
.login-submit input[type=button] {
  font-family: $font;
  background-color: $main-blue;
  padding: 12px; 
  margin-left: 40%;
  width: 20%;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 25px;
  font-size: 14px;
  color: white;
  font-weight: 100;
  &:hover {
    font-family: $font;
    background-color: #0000CD;
    padding: 12px; 
    margin-left: 40%;
    width: 20%;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 25px;
    color: white;
    font-size: 14px;
    font-weight: 100;
  }
}
.forgot a {
  font-family: $font;
  margin-top: 20px;
  color: #0080FF;;
  text-align: center;
  margin-left: 33%;
  text-decoration: none;
  font-size: 18px;
}


/* ====================== C L O S E  B T N ====================== */
.close {
  font-family: $font;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    font-family: $font;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.close2 {
  font-family: $font;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close2:hover,
.close2:focus {
    font-family: $font;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* ================== J U M B O T R O N  T E X T ================== */
.jumbotron {
  background-image: url("images/Group 3@2x.png");
  text-align: center;
  margin-top: -60px;
}
.jumbotron-page3 img {
  text-align: center;
  margin-top: 25px;
  width: 22%;
  margin-left: 20px;
}
p.big {
  font-family: $font;
  font-weight: 100;
  text-align: center;
  color: white;
  font-size: 54px;
  font-family: $font;
}
p.small {
  font-family: $font;
  font-weight: 100;
  margin-top: -50px;
  text-align: center;
  color: white;
  font-size: 24px;
  font-family: $font;
}

/* ============ M O B I L E  J U M B O T R O N  T E X T ============= */


@media screen and (max-width: 700px) {
  .jumbotron {
    background-image: url("images/Group 3@2x.png");
    text-align: center;
    margin-top: -100px;
    height: 100%;
  }
  .jumbotron-page3 img {
    text-align: center;
    margin-top: 25px;
    width: 22%;
    margin-left: 20px;
  }
  p.big {
    font-family: $font;
    font-weight: 100;
    text-align: center;
    color: white;
    margin-top: 101px;
    font-size: 30px;
    width: 90%;
    margin-left: 4%;
    font-family: 'Tajawal', sans-serif;
  }
  p.small {
    font-family: $font;
    font-weight: 100;
    margin-top: -20px;
    text-align: center;
    color: white;
    font-size: 16px;
    width: 96%;
    margin-left: 2%;
    font-family: 'Tajawal', sans-serif;
  }
}

code span {  /*random*/
  color:green;
  font-family: $font;
}

/* ================= M O D A L  C O N T A I N E R ================= */
/* ======================= A L E R T  B O X ======================= */


#modalContainer {
  position: fixed;
 /* background-color: $main-blue;*/
  position:absolute;
  top:0;
  width:100%;
  height:10%;
  left:0px;
  z-index:10000;
  background-image:url(tp.png); /* required by MSIE to prevent actions on lower z-index elements */
}
#alertBox {
  position: relative;
  width: 100%;
  min-height: 50px;
  max-height: 200px;
  margin-left: 0px;
  margin-top: 50px;
  background-color: #BBD9EE;
  background-repeat: no-repeat;
  top: 10px;
}
#modalContainer > #alertBox {
  position:fixed;
}
#alertBox p {
  font-family: $font;
  height: 0px;
  font-size: 20;
  margin-top: 14px;
  color: $main-blue;
  font-weight: 100;
  text-align: center;
  vertical-align: middle;
  #closeBtn {
    font-family: $font;
    display: block;
    position: relative;
    float: right;
    margin-top: -20px;
    border: 0 none;
    width: 70px;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    background-color: #BBD9EE;
    border-radius: 0px;
    text-decoration: none;
    outline: 0!important;
    font-size: 20px;
  }
}
#myContainer {
  position:relative;
  width:600px;
  margin:auto;
  padding:5px;
  border-top:2px solid #fff;
  border-bottom:2px solid #fff;
}
h1,h2 {
  font-family: $font;
  margin:0;
  padding:4px;
}
code {
  font-family: $font;
  font-size:1.2em;
  color:#069;
}
#credits {
  position:relative;
  margin:25px auto 0px auto;
  width:350px; 
  font:0.7em verdana;
  border-top:1px solid #000;
  border-bottom:1px solid #000;
  height:90px;
  padding-top:4px;
  img {
    float:left;
    margin:5px 10px 5px 0px;
    border:1px solid #000000;
    width:80px;
    height:79px;
  }
}
.important {
  background-color:#F5FCC8;
  padding:2px;

}

/* =========== M O B I L E  M O D A L  C O N T A I N E R ============ */
/* ================ M O B I L E  A L E R T  B O X =================== */


@media screen and (max-width: 700px) {
  #modalContainer {
    position: fixed;
    background-color: $main-blue;
    position:absolute;
    top:0;
    width:100%;
    height:10%;
    left:0px;
    z-index:10000;
    background-image:url(tp.png); /* required by MSIE to prevent actions on lower z-index elements */
  }
  #alertBox {
    width: 100%;
    min-height: 36px;
    max-height: 200px;
    margin-left: 0px;
    margin-top: 85px;
    background-color: #BBD9EE;
    background-repeat: no-repeat;
    top: 10px;
  }
  #modalContainer > #alertBox {
    position:fixed;
  }
  #alertBox p {
    font-family: $font;
    height: 0px;
    font-size: 12px;
    margin-top: 14px;
    color: $main-blue;
    font-weight: 100;
    text-align: center;
    vertical-align: middle;
  }
  #alertBox #closeBtn {
    font-family: $font;
    display: block;
    position: relative;
    float: right;
    margin-top: -14px;
    border: 0 none;
    width: 70px;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    background-color: #BBD9EE;
    border-radius: 0px;
    text-decoration: none;
    outline: 0!important;
    font-size: 13px;
  }
  #mContainer {
    position:relative;
    width:600px;
    margin:auto;
    padding:5px;
    border-top:2px solid #fff;
    border-bottom:2px solid #fff;
  }
  h1,h2 {
    font-family: $font;
    margin:0;
    padding:4px;
  }
  code {
    font-size:1.2em;
    color:#069;
  }
  #credits {
    position:relative;
    margin:25px auto 0px auto;
    width:350px; 
    font:0.7em verdana;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    height:90px;
    padding-top:4px;
  }
  #credits img {
    float:left;
    margin:5px 10px 5px 0px;
    border:1px solid #000000;
    width:80px;
    height:79px;
  }
  .important {
    background-color:#F5FCC8;
    padding:2px;
  
  }
}
.about {
  margin-top: 9%;
  width: 100%;
  border-bottom: 2px solid #E9E9E9;
  h2 {
    margin-left: 5%;
    width: 90%;
    color: #226BE4;
    font-weight: 300;
    font-size: 28px;
    text-align: center;
  }
  p {
    width: 80%;
    margin-left: 10%;
    color: black;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 10px;
  }
}
.faq {
  padding-top: 20px;
  h2 {
    margin-left: 5%;
    width: 90%;
    font-size: 28px;
    color: #226BE4;
    font-weight: 300;
    text-align: center;
  }
  h3 {
    margin-top: 60px;
    margin-left: 10%;
    width: 90%;
    color: #226BE4;
    font-weight: 300;
  }
  p {
    width: 80%;
    margin-left: 10%;
    color: black;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 18px;
  }
}
.terms {
  padding-bottom: 20px;
  border-bottom: px solid #E9E9E9;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 6%;
  .terms-button {
    background-color: white;
    border: 2px solid $main-blue;
    color: $main-blue;
    padding: 3px 12px;
    border-radius: 2%/15%;
    width: auto;
    height: 38px;
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    /*border-radius: 25px;*/
    font-size: 12px;
    a {
      font-family: $font;
      text-decoration: none;
      p {
        font-family: $font;
        margin-top: 5.5px;
        color: $main-blue;
      }
    }
    &:hover {
      width: auto;
      height: 38px;
      margin-top: 20px;
      background-color: $light-blue;
      border: 2px solid $medium-blue;
      border-radius: 2%/15%;
      color: #1B5AC3;
      font-size: 12px;
      padding: 3px 12px;
      text-align: center;
      a {
        font-family: $font;
        text-decoration: none;
        p {
          font-family: $font;
          color: $medium-blue;
          margin-top: 5px;
        }
      }
    }
  }
}
.contact {
  border-top: 2px solid #E9E9E9;
  padding-bottom: 50px;
  padding-top: 4%;
  h2 {
    margin-left: 5%;
    width: 90%;
    font-size: 28px;
    color: #226BE4;
    font-weight: 300;
    text-align: center;
  }
  p {
    width: 80%;
    margin-left: 9.7%;
    color: black;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 25px;
  }
  .checkbox {
    margin-left: 46%;
    text-align: justify;
  }
  .contact-body {
    text-align: center;
    input[type=text] {
      margin-left: 25%;
      padding-top: -20px;
      width: 50%;
      height: 175px;
      padding-left: 15px;
      border-radius: 20px;
      border: 2px solid #226BE4;
    }
  }
  .contact-submit {
    margin-top: 2%;
    margin-left: 46%;
    background-color: #226BE4;
    border: 2px solid #226BE4;
    color: white;
    padding: 3px 12px;
    width: 106px;
    height: 36px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 25px;
    margin-right: 10%;
    font-size: 14px;
    a {
      color: white;
      text-decoration: none;
    }
    &:hover {
      margin-top: 2%;
      margin-left: 46%;
      width: 105px;
      height: 36px;
      background-color: white;
      border: 2px solid #226BE4;
      border-radius: 25px;
      margin-right: 10%; 
      color: #226BE4;
      font-size: 14px;
      a {
        color: #226BE4;
        text-decoration: none;
      }
    }
  }
}


















































































@media screen and (max-width: 1200px) {
  /*.main-header {
    background-color: white;
    width: 100%;
    margin-left: 0%;
    margin-top: -35px;
    height: 110px;
    text-align: center;
    button {
      margin-top: -1px;
      border-radius: 25px;
      padding-top: 1px;
      margin-right: 54px;
      width: 70px;
      height: 20px;
      font-size: 12px;
      border: 2px solid $main-blue;
      font-family: 'Tajawal', sans-serif;
      text-decoration: none;
    }
    .main-header span .logo {
      height: 50px;
      width: 91%;
      text-align: center;
    }
    img {
      margin-top: 38px;
      margin-left: 10%;
      width: 79%;
      height: 42%;
    }
    span a {
      font-family: $font;
      text-decoration: none;
      margin-top: 0px;
      text-align: center;
      width: 7%;
      left: 27px;
      padding-left: 30px;
      color: #818181;
      display: block;
      transition: 0.3s;
      &:hover {
        color: $light-gray;
      }
      p {
        font-family: $font;
        font-size: 13px;
      }
    }
  }
  .main-header .button1 {
    margin-left: 20px;
  }
  .main-header .button2 {
    margin-left: 20px;
  }*/
  
  
  
  
 
  
  /*.logo-image {
    width: 300px;
    height: 55px;
    margin-left: 11%;
    margin-bottom: 12px;
  }
  .coming-soon {
    width: 100%;
    height: auto;
    h1 {
      font-family: $font;
      color: white;
      text-align: center;
      font-weight: 100;
      margin-top: 50%;
      margin-left: 5%;
      width: 90%;
      font-size: 36px;
    }
  }
  */
  
  
  
  
  
  
  .index-modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: auto;
    left: 0;
    top: 0px;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    .index-modal-content {
      background-color: white;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      margin-top: 175px;
      border-radius: 2%;
      height: auto;
      margin-bottom: 15px;
    }
  }
  .a-login {             /*login and signup button*/
    width: 100%;
    text-align: center;
    color: $main-blue;
    margin-left: 44%;
    font-size: 26px;
    padding-bottom: 10px;
    text-decoration: none;
  }
  hr {
    width: 100%;
    height: 2px;
    color: $main-blue;
  }
  .signin-usertype {
    width: 80%;
    text-align: center;
    margin-top: 10px;
    label {
      font-family: $font;
      color: #0080FF;
      font-size: 18px;
      margin-left: 25px;
      font-weight: 100;
    }
    .styled-select {
      margin-left: 10px;
      height: 33px;
      background-color: #226BE4;
      overflow: hidden;
      width: 170px;
      font-size: 14px;
      font-family: $font;
      font-weight: 100;
      padding-left: 15px;
      color: white;
       -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
    .styled-select select {
      background: transparent;
      border: none;
      font-size: 14px;
      height: 29px;
      padding: 5px; 
      width: 268px;
    }
  }
  .first_name {
    width: 50%;
    float: left;
    margin-top: 20px;
    label {
      font-family: $font;
      color: #0080FF;
      font-size: 18px;
      margin-left: 25px;
      font-weight: 100;
    }
    span {
      display: none;
    }
    input[type=text] {
      background-color: $light-gray;
      border-radius: 13%/97%;
      padding-left: 15px;
      margin-left: 5px;
      margin-top: 6px;
      font-size: 16px;
      border: none;
      height: 50px;
      width: 100%;
      color: gray;
      font-family: $font;
    }
  }  
  .last_name {
    width: 45%;
    float: right;
    margin-top: 20px;
    label {
      color: #0080FF;
      font-size: 18px;
      margin-left: 18px;
      font-weight: 100;
      font-family: $font;
    }
    input[type=text] {
      background-color: $light-gray;
      border-radius: 13%/97%;
      padding-left: 18px;
      margin-top: 6px;
      font-size: 16px;
      border: none;
      height: 50px;
      width: 100%;
      color:gray;
      font-family: $font;
    }
    span {
      display: none;
    }
  }
  .handle {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    label {
      font-family: $font;
      margin-top: 10px;
      color: #0080FF;
      font-size: 18px;
      margin-left: 25px;
      font-weight: 100;
      float: left;
    }
    input[type=text] {
      font-family: $font;
      background-color: $light-gray;
      border-radius: 13%/180%;
      padding-left: 25px;
      margin-top: 6px;
      font-size: 16px;
      border: none;
      height: 50px;
      width: 100%;
      color: gray;
    }
    span {
      display: none;
    }
  }
  .signin-email {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    label {
      font-family: $font;
      margin-top: 10px;
      color: #0080FF;
      font-size: 18px;
      margin-left: 25px;
      font-weight: 100;
      float: left;
    }
    input[type=email] {
      font-family: $font;
      background-color: $light-gray;
      border-radius: 13%/180%;
      padding-left: 25px;
      margin-top: 6px;
      font-size: 16px;
      border: none;
      height: 50px;
      width: 100%;
      color: gray;
    }
    span {
      display: none;
    }
  }
  .signin-password {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    label {
      font-family: $font;
      margin-top: 10px;
      color: #0080FF;
      font-size: 18px;
      margin-left: 25px;
      font-weight: 100;
      float: left;
    }
    input[type=password] {
      font-family: $font;
      background-color: $light-gray;
      border-radius: 13%/180%;
      padding-left: 25px;
      margin-top: 6px;
      font-size: 16px;
      border: none;
      height: 50px;
      width: 100%;
      color: gray;
    }
    span {
      display: none;
    }
    a {
      display: none;
    }
  }
  .signin-city {
    width: 45%;
    float: left;
    margin-top: 0px;
    label {
      font-family: $font;
      color: #0080FF;
      font-size: 18px;
      margin-left: 25px;
      font-weight: 100;
    }
    span {
      display: none;
    }
    input[type=text] {
      background-color: $light-gray;
      border-radius: 13%/97%;
      padding-left: 15px;
      margin-left: 5px;
      margin-top: 6px;
      font-size: 16px;
      border: none;
      height: 50px;
      width: 100%;
      color: gray;
      font-family: $font;
    }
  }
  .signin-country {
    width: 45%;
    float: right;
    margin-top: 0px;
    label {
      color: #0080FF;
      font-size: 18px;
      margin-left: 18px;
      font-weight: 100;
      font-family: $font;
    }
    input[type=text] {
      background-color: $light-gray;
      border-radius: 13%/97%;
      padding-left: 18px;
      margin-top: 6px;
      font-size: 16px;
      border: none;
      height: 50px;
      width: 100%;
      color:gray;
      font-family: $font;
    }
    span {
      display: none;
    }
  }
  .signin-phone {
    width: 45%;
    float: left;
    margin-top: 0px;
    label {
      font-family: $font;
      color: #0080FF;
      font-size: 18px;
      margin-left: 25px;
      font-weight: 100;
    }
    span {
      display: none;
    }
    input[type=text] {
      background-color: $light-gray;
      border-radius: 13%/97%;
      padding-left: 15px;
      margin-left: 5px;
      margin-top: 6px;
      font-size: 16px;
      border: none;
      height: 50px;
      width: 100%;
      color: gray;
      font-family: $font;
    }
  }
  
  .signin-submit input[type=button] {
    font-family: $font;
    background-color: $main-blue;
    padding: 14px; 
    margin-left: 40%;
    margin-bottom: -10px;
    width: 20%;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 25px;
    font-size: 16px;
    color: white;
    font-weight: 100;
    &:hover {
      font-family: $font;
      background-color: #0000CD;
      padding: 12px; 
      margin-left: 40%;
      margin-bottom: -10px;
      width: 20%;
      border:0 none;
      cursor:pointer;
      -webkit-border-radius: 5px;
      border-radius: 25px;
      font-size: 14px;
      color: white;
      font-weight: 100;
    }
  }
  .signin-agree {
    margin-left: 3px;
    font-size: 15px;
    a {
      font-family: $font;
      font-size: 15px;
      text-decoration: none;
      color: $main-blue;
    }
  }
  
  
  
  
  
  

  .login-email {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    label {
      font-family: $font;
      color: #0080FF;
      font-size: 18px;
      margin-left: 24px;
      font-weight: 100;
      float: left
    }
    input[type=email] {
      font-family: $font;
      background-image: url("../images/mail-icon.png");
      background-position: 4.5% 50%;
      background-repeat: no-repeat;
      background-size: 20px;
      padding-top: 2px;
      background-color: #E0E0E0;
      border-radius: 13%/180%;
      padding-left: 65px; 
      margin-top: 6px;
      font-size: 16px;
      border: none;
      height: 55px;
      width: 100%;
      color: gray;
    }
    span {
      display: none;
    }
  }
  .login-password {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    label {
      font-family: $font;
      margin-top: 10px;
      color: #0080FF;
      font-size: 18px;
      margin-left: 24px;
      font-weight: 100;
      float: left;
    }
    input[type=password] {
      font-family: $font;
      background-image: url("../images/lock.png");
      background-position: 4.5% 50%;
      background-repeat: no-repeat;
      background-size: 20px;
      padding-top: 2px;
      background-color: $light-gray;
      border-radius: 13%/180%;
      padding-left: 65px;
      margin-top: 6px;
      font-size: 16px;
      border: none;
      height: 55px;
      width: 100%;
      color: gray;
    }
    span {
      display: none;
    }
    a {
      display: none;
      font-family: $font;
    }
  }
  .login-submit input[type=button] {
    font-family: $font;
    background-color: $main-blue;
    padding: 14px; 
    margin-left: 40%;
    width: 20%;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 25px;
    font-size: 16px;
    color: white;
    font-weight: 100;
    &:hover {
      font-family: $font;
      background-color: #0000CD;
      padding: 14px; 
      margin-left: 40%;
      width: 20%;
      border:0 none;
      cursor:pointer;
      -webkit-border-radius: 5px;
      border-radius: 25px;
      color: white;
      font-size: 16px;
      font-weight: 100;
    }
  }
  .forgot a {
    font-family: $font;
    margin-top: 20px;
    color: #0080FF;;
    text-align: center;
    margin-left: 33%;
    text-decoration: none;
    font-size: 18px;
  }
}

















.production-login {
  width: 100%;
  text-align: center;
  color: #226BE4;
  margin-left: 37%;
  font-size: 22px;
  padding-bottom: 10px;
  text-decoration: none;
  .signin-form {

  }
}
#myModalCompany {
  .index-modal-content {
    .company-login {
      width: 100%;
      text-align: center;
      color: #226BE4;
      margin-left: 37%;
      font-size: 22px;
      padding-bottom: 10px;
      text-decoration: none;
    }
    .signin {
      .signin-form {
        width: 90%;
        .c-left {
          width: 48%;
          float: left;
          margin-left: 15px;
          float: left;
          /*margin-top: -10px;*/
          display: inline-block;
          .signin-label {
            font-size: 16px;
            color: $main-blue;
            margin-left: 24px;
          }
          input[type=text] {
            width: 100%;
            height: 35px;
            font-size: 12px;
            margin-top: 5px;
            font-weight: 400;
            border-radius: 25px;
            padding-left: 23px;
            border: 1px solid $main-blue;
          }
        }
        .c-right {
          width: 48%;
          float: right;
          margin-right: -41px;
          float: right;
          display: inline-block;
          .signin-label {
            color: $main-blue;
            font-size: 16px;
            margin-left: 24px;
          }
          input[type=text] {
            width: 100%;
            height: 35px;
            font-size: 12px;
            margin-top: 5px;
            font-weight: 400;
            border-radius: 25px;
            padding-left: 23px;
            border: 1px solid $main-blue;
          }
        }
        .c-left2 {
          width: 48%;
          float: left;        
          margin-left: 15px;
          /*margin-top: -10px;*/
          display: inline-block;
          .signin-label {
            font-size: 16px;
            color: $main-blue;
            margin-left: 24px;
          }
          #company-type {
            width: 100%;
            color: white;
            height: 35px;
            margin-top: 6px;
            font-size: 12px;
            font-weight: 400;
            padding-left: 23px;
            border-radius: 50px;
            background-color: $main-blue;
            border: 1px solid $main-blue;
          }
        }
        .c-right2 {
          width: 38%;
          float: left;
          margin-top: 46px;
          margin-left: 48px;
          display: inline-block;
        }
        .c-center {
          width: 104%;
          float: left;
          margin-left: 18px;
          text-align: center;
          display: inline-block;
          .signin-label {
            font-size: 16px;
            color: $main-blue;
            margin-left: -84px;
            margin-left: -400px;
          }
          input[type=text] {
            width: 100%;
            height: 35px;
            margin-top: 6px;
            font-size: 12px;
            font-weight: 400;
            padding-left: 23px;
            border-radius: 25px;
            margin-bottom: 30px;
            border: 1px solid $main-blue;
          }
          .signin-label2 {
            font-size: 16px;
            color: $main-blue;
            margin-left: -452px;
          }
        }
        .signin-submit {
          margin-left: 9%;
        }
      }
    }
  }
}


#myProductionModal {
  .index-modal-content {
    .production-login {
      width: 100%;
      text-align: center;
      color: #226BE4;
      margin-left: 37%;
      font-size: 22px;
      padding-bottom: 10px;
      text-decoration: none;
    }
    .signin {
      .signin-form {
        width: 90%;
        .pro-left {
          width: 50%;
          float: left;
          /*margin-top: -10px;*/
          display: inline-block;
          .signin-label {
            font-size: 16px;
            color: $main-blue;
            margin-left: 15px;
          }
          input[type=text] {
            width: 100%;
            height: 35px;
            font-size: 12px;
            margin-top: 5px;
            font-weight: 400;
            border-radius: 25px;
            padding-left: 15px;
            border: 1px solid $main-blue;
          }
        }
        .pro-right {
          width: 40%;
          float: right;
          display: inline-block;
          .signin-label {
            color: $main-blue;
            font-size: 16px
          }
          #production-type {
            width: 100%;
            color: white;
            height: 35px;
            margin-top: 6px;
            font-size: 12px;
            font-weight: 400;
            padding-left: 15px;
            border-radius: 50px;
            background-color: $main-blue;
            border: 1px solid $main-blue;
          }
        }
        .pro-left2 {
          width: 50%;
          float: left;
          /*margin-top: -10px;*/
          display: inline-block;
          .signin-label {
            font-size: 16px;
            color: $main-blue;
            margin-left: 15px;
          }
          input[type=text] {
            width: 100%;
            height: 35px;
            font-size: 12px;
            margin-top: 5px;
            font-weight: 400;
            border-radius: 25px;
            padding-left: 15px;
            border: 1px solid $main-blue;
          }
        }
        .pro-right2 {
          width: 40%;
          float: right;
          display: inline-block;
          .signin-label {
            color: $main-blue;
            font-size: 16px
          }
          #production-status {
            width: 100%;
            color: white;
            height: 35px;
            margin-top: 6px;
            font-size: 12px;
            font-weight: 400;
            padding-left: 15px;
            border-radius: 50px;
            background-color: $main-blue;
            border: 1px solid $main-blue;
          }
        }
        .pro-left3 {
          width: 50%;
          float: left;
          /*margin-top: -10px;*/
          display: inline-block;
          .signin-label {
            font-size: 16px;
            color: $main-blue;
            margin-left: 15px;
          }
          input[type=text] {
            width: 100%;
            height: 35px;
            font-size: 12px;
            margin-top: 5px;
            font-weight: 400;
            border-radius: 25px;
            padding-left: 15px;
            border: 1px solid $main-blue;
          }
        }
        .pro-right3 {
          width: 40%;
          float: right;
          display: inline-block;
          .signin-label {
            font-size: 16px;
            color: $main-blue;
            margin-left: 15px;
          }
          input[type=text] {
            width: 100%;
            height: 35px;
            font-size: 12px;
            margin-top: 5px;
            font-weight: 400;
            border-radius: 25px;
            padding-left: 15px;
            border: 1px solid $main-blue;
          }
        }
        .pro-left4 {
          width: 50%;
          float: left;
          /*margin-top: -10px;*/
          display: inline-block;
          .signin-label {
            font-size: 16px;
            color: $main-blue;
            margin-left: 15px;
          }
          input[type=text] {
            width: 100%;
            height: 35px;
            font-size: 12px;
            margin-top: 5px;
            font-weight: 400;
            border-radius: 25px;
            padding-left: 15px;
            border: 1px solid $main-blue;
          }
        }
      }
    }
  }
}

#myPersonalModal {
  .index-modal-content {
    .personal-login {
      width: 100%;
      text-align: center;
      color: #226BE4;
      margin-left: 37%;
      font-size: 22px;
      padding-bottom: 10px;
      text-decoration: none;
    }
    .signin {
      .signin-form {
        width: 90%;
        .p-left {
          width: 50%;
          float: left;
          /*margin-top: -10px;*/
          display: inline-block;
          .signin-label {
            font-size: 16px;
            color: $main-blue;
            margin-left: 15px;
          }
          input[type=text] {
            width: 100%;
            height: 35px;
            font-size: 12px;
            margin-top: 5px;
            font-weight: 400;
            border-radius: 25px;
            padding-left: 15px;
            border: 1px solid $main-blue;
          }
        }
        .p-right {
          width: 40%;
          float: right;
          display: inline-block;
          .signin-label {
            color: $main-blue;
            font-size: 16px
          }
          #personal-type {
            width: 100%;
            color: white;
            height: 35px;
            margin-top: 6px;
            font-size: 12px;
            font-weight: 400;
            padding-left: 15px;
            border-radius: 50px;
            background-color: $main-blue;
            border: 1px solid $main-blue;
          }
        }
        .p-center {
          width: 100%;
          float: left;
          text-align: center;
          display: inline-block;
          .signin-label {
            font-size: 16px;
            color: $main-blue;
            margin-left: -380px;
          }
          input[type=text] {
            width: 100%;
            height: 35px;
            font-size: 12px;
            margin-top: 6px;
            font-weight: 400;
            border-radius: 25px;
            padding-left: 15px;
            border: 1px solid $main-blue;
          }
        }
        .signin-submit {
          margin-left: 9%;
        }
      }
    }
  }
}



