.pp-main-image {
  img {
    width: 100%;
    height: 335px;
  }
}
.pp-header {
  width: 100%;
  text-align: center;
  h2 {
    margin-top: 5px;
    color: $main-blue;
  }
  h3 {
    margin-top: 7px;
    color: black;
    font-size: 16px;
    font-weight: 100;
  }
  p {
    font-weight: 300;
    font-size: 13px;
  }
}
.pp-edit {
  margin-top: 44px;
  margin-left: 48.5%;
  display: inline;
  width: 50px;
  height: 50px;
  position: inherit;
  img {
    width: 26px;
  }
}
.pp-follow {
  margin-top: 44px;
  margin-left: 47%;
  display: inline;
  width: 50px;
  height: 50px;
  position: inherit;
  .follow {
    background-color: #226BE4;
    border: 2px solid #226BE4;
    color: white;
    padding: 3px 12px;
    width: 86px;
    height: 32px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 25px;
    margin-right: 10%;
    font-size: 12px;
    &:hover {
      width: 86px;
      height: 32px;
      background-color: white;
      border: 2px solid #226BE4;
      border-radius: 25px;
      margin-right: 10%; 
      color: #226BE4;
      font-size: 12px;
    }
  }
}
.production-profiles-wrapper {
  border-bottom: 2px solid $main-blue;
  /*display: none;*/
  width: 100%;
  height: auto;
  h4 {
    font-weight: 100;
    margin-left: 5.8%;
    color: $main-blue;
    margin-bottom: -35px;
  }
  .pp-cast-edit {
    margin-top: 9px;
    margin-left: 14%;
    width: 50px;
    height: 50px;
    position: inherit;
    img {
      width: 26px;
    }
  }
  .pp-production-edit {
    margin-top: 9px;
    margin-left: 18.6%;
    width: 50px;
    height: 50px;
    position: inherit;
    img {
      width: 26px;
    }
  }
  .pp-row1 {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 90%;
    height: 24%;
    margin-left: 4%;
    .pp-current-cast {
      width: 22%;
      margin-top: 7%;
      margin-left: 2%;
      text-align: center;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      display: inline-block;
      padding-bottom: 50px;
      border: 1px solid $light-gray;
      img {
        width: 100%;
        height: 45%;
      }
      h3 {
        margin-top: 5px;
        text-align: center;
        color: $main-blue;
      }
      p {
        margin-top: -16px;
      }
      h4 {
        margin-top: -12px;
        font-size: 14px;
        color: $dark-blue;
      }
    }
  }
  .pp-row2 {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 90%;
    height: 20%;
    margin-left: 4%;
    h4 {
      font-weight: 100;
      margin-left: 5px;
      color: $main-blue;
      margin-bottom: -35px;
    }
    .pp-current-cast {
      width: 22%;
      margin-top: 7%;
      margin-left: 2%;
      text-align: center;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      display: inline-block;
      padding-bottom: 50px;
      border: 1px solid $light-gray;
      img {
        width: 100%;
        height: 45%;
      }
      h3 {
        margin-top: 5px;
        text-align: center;
        color: $main-blue;
      }
      p {
        margin-top: -16px;
      }
      h4 {
        margin-top: -12px;
        font-size: 14px;
        color: $dark-blue;
      }
    }
  }
}
.pp-show-more {
  .pp-button {
    background-color: rgba(51, 153, 255, 0.3);
    border: 1px solid $light-blue;
    color: $main-blue;
    padding: 3px 12px;
    width: 105px;
    height: 36px;
    margin-top: 50px;
    text-align: center;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    margin-left: 0%;
    font-size: 14px;
    margin-bottom: 10px;
    font-family: $font;
    p {
      margin-top: 6px;
    }
    &:hover {
      background-color: white;
      color: $medium-blue;
      border: 1px solid $medium-blue;
      padding: 3px 12px;
      width: 105px;
      height: 36px;
      margin-top: 50px;
      text-align: center;
      cursor: pointer;
      -webkit-transition-duration: 0.4s; 
      transition-duration: 0.4s;
      margin-left: 0%;
      font-size: 14px;
      margin-bottom: 10px;
      font-family: $font;
    }
  }
}
.visiblediv {
    display: none;
}

















.second_nav_right {
  padding-bottom: 30%;
  width: 100%;
  margin-left: 4%;
  margin-top: 3%;
  flex: 1 1 160px;
  a {
    font-family: $font;
    margin-top: -15px;
    text-decoration: none;
    float: right;
    width: 18%;
    display: inline;
    &:first-child {
      font-family: $font;
      margin-left: 0%;
      margin-right: 18%;
    }
    .p-tag {
      font-family: $font;
      text-align: center;
      color: $gray;
    }
    .p-tag.active {
      font-family: $font;
      color: $main-blue;
      border-bottom: 4px solid $main-blue;
      padding-bottom: 15px;
    }
  }
  #pp-profile-postsbox {
    background-color: $light-blue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    height: auto;
    overflow: hidden;
    padding-top: 50px;
    margin-top: 62px;
    margin-left: 9%;
    width: 74%;
    height: 90%;
    h3 {
      font-family: $font;
      color: black;
      font-size: 16px;
      width: 100%;
      font-weight: 400;
      margin-bottom: 3px;
    }
    .userfeed-post {
      box-shadow: 0 6px 2px -2px rgba(220,220,220,0.5);
      background-color: white;
      margin-bottom: 20px;
      border-radius: 3%;
      width: 100%;
      height: auto;
      padding: 10px;
      overflow: none;
      .publisher {
        float: left;
        .userfeed-publisher-image {
          width: 43px;
          height: 43px;
          border-radius:50%;
          margin-left: 20px;
          margin-top: 5px;
        }
        .userfeed-name {
          font-family: $font;
          font-size: 20px;
          font-weight: 400;
          margin-left: 10px;
          margin-top: 18px;
        }
      }
      .userfeed-image{
        width: 100%;
        height: auto;
        padding-bottom: 5px;
      }
      .userfeed-title {
        font-family: $font;
        float: left;
        margin-left: 20px;
        color: $main-blue;
        font-size: 18px;
      }
      .userfeed-favorite {
        width: 100%;
        .heart {
          width: 25px;
          height: 25px;
          float: left;
          margin-top: -4px;
          &:hover {
            background-color: red;
          }
        }
        p {
          font-family: $font;
          font-size: 15px;
          margin-left: -4px;
          margin-top: 5px;
          color: red;
        }
      }

      .comment_box {
        width: 20px;
        height: 20px;
        float: left;
        margin-right: 9px;
        margin-top: -32px;
        margin-left: 51px;
      }
      .share_icon {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 9px;
        margin-top: -32px;
        margin-left: 87px;
      }
      .flag_icon {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 9px;
        margin-top: -31px;
        margin-left: 122px;
      }
      .time{
        width: 100%;
        box-shadow: 0 21px 0px -7px rgba(220, 220, 220, 0.5);
        .clock{
          width: 18px;
          height: 18px;
          float:left;
          padding-right: 4px;        
          margin-left: 154px;
          margin-top: -32px;
        }
        p {
          font-family: $font;
          padding-top: 3px;
          font-weight: 100;
          font-size: 14px;
          margin-left: 174px;
          margin-top: -32.5px;
        }
      }
      .userfeed-description {
        text-align: justify;
        margin: 0px 8px;
        width: 94%;
        font-size: 16px;
        padding:10px;
        overflow: hidden;
      }
      button {
        background-color: rgba(51, 153, 255, 0.3);
        border: 1px solid $light-blue;
        color: $main-blue;
        padding: 3px 12px;
        width: 105px;
        height: 36px;
        margin-top: 20px;
        text-align: center;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; 
        transition-duration: 0.4s;
        margin-left: 40%;
        font-size: 14px;
        margin-bottom: 20px;
        font-family: $font;
        &:hover {
          background-color: white;
          color: $medium-blue;
          border: 1px solid $medium-blue;
          padding: 3px 12px;
          width: 105px;
          height: 36px;
          margin-top: 20px;
          text-align: center;
          cursor: pointer;
          -webkit-transition-duration: 0.4s; 
          transition-duration: 0.4s;
          margin-left: 40%;
          font-size: 14px;
          margin-bottom: 20px;
          font-family: $font;
        }
      }
      .hidden-post {
        max-height: 80px;
      }
      .revealed-post {
        max-height: none;
      }
      .readMore {
        display: block;
        margin-left: auto;
        margin-right: auto;
        &:hover {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
  #pp-profile-calendar {
    display: none;
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    height: auto;
    overflow: hidden;
    padding-top: 50px;
    margin-top: 62px;
    margin-left: 9%;
    width: 74%;
    height: 90%;
    h1 {
      font-family: $font;
      margin-top: 110px;
      font-weight: 100;
      font-size: 30px;
      text-align: center;
      color: $main-blue;
    }
  }
  #pp-profile-followers {
    display: none;
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    height: auto;
    overflow: hidden;
    padding-top: 50px;
    margin-top: 62px;
    margin-left: 9%;
    width: 74%;
    height: 90%;
    h1 {
      font-family: $font;
      margin-top: 110px;
      font-weight: 100;
      font-size: 30px;
      text-align: center;
      color: $main-blue;
    }
    /*.follow {
      width: 47%;
      margin-top: -6%;
      margin-bottom: 7%;
      margin-left: 1.5%;
      margin-right: 0.5%;
      height: 82px;
      border: 1px solid $light-gray;
      display: inline-block;
      img {
        float: left;
        width: 60px;
        height: 60px;
        margin-top: 2.5%;
        margin-left: 4%;
        margin-right: 3%;
        border-radius: 50%;
        border: 2px solid $main-blue;
      }
      p {
        font: $font;
        float: left;
        margin-top: 33px;
        display: inline;
        font-weight: 400;
        font-size: 13px;
      }
    }*/
  }
  #pp-profile-following {
    display: none;
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    height: auto;
    overflow: hidden;
    padding-top: 50px;
    margin-top: 62px;
    margin-left: 9%;
    width: 74%;
    height: 90%;
    h1 {
      font-family: $font;
      margin-top: 110px;
      font-weight: 100;
      font-size: 30px;
      text-align: center;
      color: $main-blue;
    }
    /*.follow {
      width: 47%;
      margin-top: -6%;
      margin-bottom: 7%;
      margin-left: 1.5%;
      margin-right: 0.5%;
      height: 82px;
      border: 1px solid $light-gray;
      display: inline-block;
      img {
        float: left;
        width: 60px;
        height: 60px;
        margin-top: 2.5%;
        margin-left: 4%;
        margin-right: 3%;
        border-radius: 50%;
        border: 2px solid $main-blue;
      }
      p {
        font: $font;
        float: left;
        margin-top: 33px;
        display: inline;
        font-weight: 400;
        font-size: 13px;
      }
    }*/
  }
  .follow-image{
    width: 43px;
    height: 43px;
    border-radius:50%;
  }
}




