/*$other-blue-dark: #226BE4;
$other-blue-light: #;*/


.hidden{
  display: none;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
#wrapper {
  background-color:#ecf2f9;
  padding-bottom:30px;
  padding:10px;           
}
.navbar {
  position: fixed;
  background: white;
  margin-left: -8px;
  padding-left: 4px;
  top: -1;
  width: 100%;
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 4px;
  padding-bottom: 5px;
  a { 
    font-family: $font;
    text-decoration: none;
    p {
      color: $gray;
      &:hover { 
        font-family: $font;
        text-decoration:none; color: $light-gray;
        font-size: 16px;
        font-weight: 100;
        margin-left: 44px;
        margin-top: 19px;
      }
    }
    .discover-p-tag {
      margin-top: 39px; 
      &:hover {
        margin-top: 39px;
      }
    }
    .explore-p-tag {
      margin-top: 39px;
      &:hover {
        margin-top: 39px;
      }
    }
  }



.signout {
  display: flex;
  justify-content: flex-end;
  flex-grow: 2;
  &:first-child {
    margin-left: 40%;
  }
  .signout-button {
    background-color: #226BE4;
    border: 2px solid #226BE4;
    color: white;
    padding: 3px 12px;
    width: 86px;
    height: 32px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 25px;
    margin-right: 10%;
    font-size: 12px;
    &:hover {
      width: 86px;
      height: 32px;
      background-color: white;
      border: 2px solid #226BE4;
      border-radius: 25px;
      margin-right: 10%; 
      color: #226BE4;
      font-size: 12px;
    }
  }
  .search {
    position: relative;
    padding: 0 0 0 20px;
    margin: 0 20px;
    /* direction: rtl; */
    width: 246px;
    #input {
      height: 26px;
      margin: 0;
      margin-left: -18px;
      width: 100%;
      padding-left: 15px;
      border-radius: 25px;
      border: 2px solid $main-blue;
    }
    #search_query_input {
      height: 26px;
      margin: 0;
      margin-left: -18px;
      width: 100%;
      padding-left: 15px;
      border-radius: 25px;
      border: 2px solid $main-blue;
    }
    #input_img {
      position: absolute;
      bottom: 7px;
      right: 12px;
      width: 18px;
      height: 18px;
    }
  }
}


   

@media screen and (max-width: 1200px) {
  .signout {
    display: flex;
    justify-content: flex-end;
    flex-grow: 2;
    &:first-child {
      margin-left: 40%;
    }
    .signout-button {
      background-color: #226BE4;
      border: 2px solid #226BE4;
      color: white;
      padding: 3px 12px;
      width: 86px;
      height: 32px;
      text-align: center;
      font-size: 12px;
      cursor: pointer;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      border-radius: 25px;
      margin-right: 10%;
      font-size: 12px;
      &:hover {
        width: 86px;
        height: 32px;
        background-color: white;
        border: 2px solid #226BE4;
        border-radius: 25px;
        margin-right: 10%; 
        color: #226BE4;
        font-size: 12px;
      }
    }
    .search {
      position: relative;
      padding: 0 0 0 20px;
      margin: 0 20px;
      width: 246px;
      #input {
        height: 12px;
        margin: 0;
        margin-left: -18px;
        width: 100%;
        padding-left: 15px;
        border-radius: 25px;
        border: 2px solid $main-blue;
      }
      #input_img {
        position: absolute;
        bottom: 7px;
        right: 12px;
        width: 18px;
        height: 18px;
      }
    }
  }
} 


@media screen and (max-width: 900px) {
  .signout {
    width: 15%;
    display: flex;
    justify-content: flex-end;
    flex-grow: 2;
    &:first-child {
      margin-left: 40%;
    }
    .signout-button {
      background-color: #226BE4;
      border: 2px solid #226BE4;
      color: white;
      padding: 0px 10px;
      width: 339px;
      height: 33px;
      text-align: center;
      font-size: 12px;
      cursor: pointer;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      border-radius: 25px;
      margin-right: 10%;
      font-size: 12px;
      &:hover {
        width: 86px;
        height: 32px;
        background-color: white;
        border: 2px solid #226BE4;
        border-radius: 25px;
        margin-right: 10%; 
        color: #226BE4;
        font-size: 12px;
      }
    }
    .search {
      position: relative;
      padding: 0 0 0 20px;
      margin-left: -99px;
      margin: 0 20px;
      width: 301px;
      #input {
        height: 12px;
        margin: 0;
        margin-left: -114px;
        width: 296%;
        padding-left: 15px;
        border-radius: 25px;
        border: 2px solid $main-blue;
      }
      #input_img {
        position: absolute;
        bottom: 7px;
        right: 12px;
        width: 18px;
        height: 18px;
      }
    }
  }
}



  p {
    font-family: $font;
    color: $gray;
    font-size: 16px;
    font-weight: 100;
    margin-left: 44px;
    margin-top: 19px;
    &:hover {
      color: $light-gray;
      margin-left: 44px;
    }
  }
}


 /* .open_sidenav {
    width: 36px;
    font-size: 30px;
    cursor: pointer;
    margin-top: 10px;
  }*/
/*  .logo {
    height: 50%;
    width: auto;
    margin-right: -10px;
    margin-top: 3px;
  }*/
/*}*/
@media screen and (max-width: 995px) {
  .navbar {
    position: fixed;
    background: white;
    margin-left: -8px;
    padding-left: 4px;
    top: -1;
    width: 100%;
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 4px;
    padding-bottom: 5px;
    a { 
      width: 7%;
      font-family: $font;
      text-decoration: none;
      p {
        color: $gray;
        font-size: 12px;
        margin-left: -111px;
        &:hover { 
          font-family: $font;
          text-decoration:none; color: $light-gray;
          font-size: 16px;
          font-weight: 100;
          margin-left: 30px;
          margin-top: 19px;
        }
      }
      .discover-p-tag {
        margin-top: 39px; 
        &:hover {
          margin-top: 39px;
        }
      }
      .explore-p-tag {
        margin-top: 39px;
        &:hover {
          margin-top: 39px;
        }
      }
    }
    .logo-a {
      height: 57%;
      width: 44%;
      margin-top: 3px;
      .logo {
        height: 42px;
        width: 80%;
        margin-left: -11px;
        margin-right: -10px;
        margin-top: -4px;
      }
    }
    .search {
      margin-left: 570px;
      margin-top: 4px;
      margin-right: 16px;
      width: 30%;
      position: fixed;
      .search-icon {
        width: 16px;
        height: 16px;
        right: 18.5%;
        margin-top: 8px;
        z-index: 2;
        position: fixed;
      }
      input[type=text] {
        width: 76%;
        padding: 5px;
        font-size: 14px;
        padding-top: 8px;
        position: relative;
        padding-left: 15px;
        padding-right: 5px;
        padding-bottom: 9px;
        border-radius: 25px;
        border: 2px solid $main-blue;
      }
    }
    p {
      font-family: $font;
      color: $gray;
      font-size: 16px;
      font-weight: 100;
      margin-left: 15px;
      margin-top: 19px;
      &:hover {
        color: $light-gray;
      }
    }
  }
}


@media screen and (max-width: 700px) {
  .navbar { 
    a {
      font-family: $font;
      width: 24%;
      margin-left: 0px;
      margin-top: -38px;
      p {
        font-family: $font;
        font-size: 14px;
        font-weight: 100;
        margin-left: 36px;
        margin-top: 22px;
      }
      .discover-p-tag {
        margin-top: 27px; 
      }
      .explore-p-tag {
        margin-top: 27px;
      }
      .newsfeed-p-tag {
        margin-top: 36px;
        margin-left: 11px;
        font-size: 14px;
      }
    }
    .logo-a {
      height: 55%;
      width: 82%;
      margin-top: -52px;
      .logo {
        height: 42px;
        width: 100%;
        margin-left: -11px;
        margin-right: -10px;
        margin-top: -4px;
      }
    }
    .open_sidenav {
      width: 36px;
      font-size: 30px;
      cursor: pointer;
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .navbar {
    position: fixed;
    background: white;
    margin-left: -8px;
    padding-left: 4px;
    top: -1;
    width: 100%;
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 4px;
    padding-bottom: 5px;
    a { 
      font-family: $font;
      text-decoration: none;
      p {
        color: $gray;
        &:hover { 
          font-family: $font;
          text-decoration:none; color: $light-gray;
          font-size: 16px;
          font-weight: 100;
          margin-left: 30px;
          margin-top: 19px;
        }
      }
      .discover-p-tag {
        margin-top: 39px; 
        &:hover {
          margin-top: 39px;
        }
      }
      .explore-p-tag {
        margin-top: 39px;
        &:hover {
          margin-top: 39px;
        }
      }
    }
    .search {
      margin-left: 592px;
      margin-top: 2px;
      margin-right: 16px;
      width: 24%;
      position: inherit;
      .search-icon {
        width: 18px;
        height: 18px;
        right: -79%;
        top: 3%;
        z-index: 2;
        position: relative;
      }
      input[type=text] {
        padding: 5px; 
        width: 76%;
        padding-right: 5px;
        padding-top: 11px;
        padding-bottom: 9px;
        padding-left: 15px;
        position: relative;
        border-radius: 25px;
        font-size: 14px;
        border: 2px solid $main-blue;
      }
    }
    p {
      font-family: $font;
      color: $gray;
      font-size: 16px;
      font-weight: 100;
      margin-left: 15px;
      margin-top: 19px;
      &:hover {
        color: $light-gray;
      }
    }
  }
}




@media screen and (max-width: 800px) {
  .navbar {
    position: fixed;
    background: white;
    margin-left: -8px;
    padding-left: 4px;
    top: -1;
    width: 100%;
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 4px;
    padding-bottom: 5px;
    a { 
      font-family: $font;
      padding-left: 30px;
      text-decoration: none;
      p {
        color: $gray;
        font-size: 12px;
        /*margin-left: 23px;*/
        margin-left: -91px;
        &:hover { 
          font-family: $font;
          text-decoration:none; color: $light-gray;
          font-size: 16px;
          font-weight: 100;
          margin-left: 30px;
          margin-top: 19px;
        }
      }
      .discover-p-tag {
        margin-top: 39px; 
        &:hover {
          margin-top: 39px;
        }
      }
      .explore-p-tag {
        margin-top: 39px;
        &:hover {
          margin-top: 39px;
        }
      }
    }
    .search {
      margin-left: 489px;
      margin-top: 4px;
      margin-right: 16px;
      width: 23%;
      position: fixed;
      .search-icon {
        width: 16px;
        height: 16px;
        right: 17%;
        margin-top: -10px;
        z-index: 6;
        position: fixed;
      }
      input[type=text] {
        width: 76%;
        padding: 5px;
        font-size: 14px;
        padding-top: 8px;
        position: relative;
        padding-left: 15px;
        padding-right: 5px;
        padding-bottom: 9px;
        border-radius: 25px;
        border: 2px solid $main-blue;
      }
    }
    p {
      font-family: $font;
      color: $gray;
      font-size: 16px;
      font-weight: 100;
      margin-left: 15px;
      margin-top: 19px;
      &:hover {
        color: $light-gray;
      }
    }
  }
}







/* ===================== S I G N  O U T ===================== */


.profile-signout {
  display: flex;
  justify-content: flex-end;
  flex-grow: 2;
}
.profile-signout-button {
  font-family: $font;
  background-color: #1B5AC3;
  border: 2px solid #1B5AC3;
  color: white;
  padding: 3px 12px;
  width: 105px;
  height: 36px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 25px;
  margin-right: 45px;
  font-size: 14px;
  &:hover {
    font-family: $font;
    width: 105px;
    height: 36px;
    background-color: white;
    border: 2px solid #1B5AC3;
    border-radius: 25px;
    margin-right: 45px; 
    color: #1B5AC3;
    font-size: 14px;
  }
}
@media screen and (max-width: 700px) {
  .profile-signout-button {
    font-family: $font;
    background-color: #1B5AC3;
    border: 2px solid #1B5AC3;
    color: white;
    padding: 3px 12px;
    width: 85px;
    height: 28px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 25px;
    margin-left: 20%;
    margin-top: -34px;
    font-size: 13px;
    &:hover {
      font-family: $font;
      background-color: white;
      border: 2px solid #1B5AC3;
      color: #1B5AC3;
      padding: 3px 12px;
      width: 85px;
      height: 28px;
      text-align: center;
      cursor: pointer;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      border-radius: 25px;
      margin-right: 15%;
      margin-top: -14px;
      font-size: 13px;
    }
  }
}
.user_name {
  font-family: $font;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  display: block;
  transition: 0.3s;
}
.user_pic {
  border-radius: 50%;
  width: 136px;
  height: auto;
}
.profile_wrapper {
  background-color: $light-blue;
  margin-top: 130px;
  padding-bottom: 15%;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  .user_profile_left {
    float: left;
    margin-top: -6%;
    width: 30%;
    margin-left: 4%;
    .user_img {   
      text-align: center;
      img {
        border: 4px solid $main-blue;
        border-radius: 50%;
        width: 150px;
        height: 150px;
      }
    }
    .name {
      font-family: $font;
      font-size: 18px;
      color: $main-blue;
      text-align: center;
    }
    .username {
      font-family: $font;
      font-size: 16px;
      margin-top: -10px;
      color: $gray;
      text-align: center;
    }
    .title {
      font-family: $font;
      font-size: 16px;
      font-weight: 100;
      margin-top: 0px;
      color: $gray;
      text-align: center;
    }
    .organization {
      font-family: $font;
      font-size: 16px;
      font-weight: 100;
      margin-top: -10px;
      color: $gray;
      text-align: center;
    }
    .user_type {
      font-family: $font;
      font-size: 16px;
      font-weight: 100;
      margin-top: -10px;
      color: $gray;
      text-align: center;
    }
    .briefcase_icon {
      text-align: center;
      margin-top: 28px;
      img {
        width: 28px;
        height: 24px;
      }
    }
    .previous {
      font-family: $font;
      font-size: 16px;
      margin-top: -10px;
      color: $gray;
      text-align: center;
    }
    .previous_job {
      font-family: $font;
      font-size: 16px;
      font-weight: 100;
      margin-top: -10px;
      color: $gray;
      text-align: center;
    }
    .location_icon {
      font-family: $font;
      text-align: center;
      margin-top: 28px;
      img {
        width: 28px;
        height: 28px;
      }
    }
    .location {
      font-family: $font;
      font-size: 16px;
      margin-top: -10px;
      color: $gray;
      text-align: center;
    }
    .view-more {
      background-color: rgba(51, 153, 255, 0.3);
      border: 2px solid $light-blue;
      color: $main-blue;
      padding: 3px 12px;
      width: 105px;
      height: 36px;
      margin-top: 20px;
      text-align: center;
      font-size: 12px;
      cursor: pointer;
      -webkit-transition-duration: 0.4s; 
      transition-duration: 0.4s;
      /*border-radius: 25px;*/
      font-size: 14px;
      a {
        font-family: $font;
        text-decoration: none;
        p {
          font-family: $font;
          margin-top: 5px;
          color: $main-blue;
        }
      }
      &:hover {
        width: 103px;
        height: 34px;
        margin-top: 20px;
        background-color: white;
        border: 2px solid $medium-blue;
        /*border-radius: 25px;*/
        color: #1B5AC3;
        font-size: 14px;
        a {
          font-family: $font;
          text-decoration: none;
          p {
            font-family: $font;
            color: $medium-blue;
            margin-top: 3px;
          }
        }
      }
    }
    .edit-button {
      text-align: center;
      padding-top: 5%;
      padding-left: 46%;
      width: 30px;
      height: 30px;
    }
  }
  .second_nav_right {
    width: 65%;
    margin-top: -3%;
    flex: 1 1 160px;
    a {
      font-family: $font;
      margin-top: -15px;
      text-decoration: none;
      float: right;
      width: 18%;
      display: inline;
      &:first-child {
        font-family: $font;
        margin-left: 0%;
        margin-right: 18%;
      }
      .p-tag {
        font-family: $font;
        text-align: center;
        color: $gray;
      }
      .p-tag.active {
        font-family: $font;
        color: $main-blue;
        border-bottom: 4px solid $main-blue;
        padding-bottom: 15px;
      }
    }
    #profile-postsbox {
      min-height: 100%;
      background-color: $light-blue;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: space-around;
      height: auto;
      overflow: hidden;
      padding-top: 50px;
      margin-top: 62px;
      margin-left: 9%;
      width: 74%;
      h3 {
        font-family: $font;
        color: black;
        font-size: 16px;
        width: 100%;
        font-weight: 400;
        margin-bottom: 3px;
      }
      .userfeed-post {
        box-shadow: 0 6px 2px -2px rgba(220,220,220,0.5);
        background-color: white;
        margin-bottom: 20px;
        border-radius: 3%;
        width: 100%;
        height: auto;
        padding: 10px;
        overflow: none;
        .publisher {
          float: left;
          .userfeed-publisher-image {
            width: 43px;
            height: 43px;
            border-radius:50%;
            margin-left: 20px;
            margin-top: 5px;
          }
          .userfeed-name {
            font-family: $font;
            font-size: 20px;
            font-weight: 400;
            margin-left: 10px;
            margin-top: 18px;
          }
        }
        .userfeed-image{
          width: 100%;
          height: auto;
          padding-bottom: 5px;
        }
        .userfeed-title {
          font-family: $font;
          float: left;
          margin-left: 20px;
          color: $main-blue;
          font-size: 18px;
        }
        .userfeed-favorite {
          width: 100%;
          .heart {
            width: 25px;
            height: 25px;
            float: left;
            margin-top: -4px;
            &:hover {
              background-color: red;
            }
          }
          p {
            font-family: $font;
            font-size: 15px;
            margin-left: -4px;
            margin-top: 5px;
            color: red;
          }
        }

        .comment_box {
          width: 20px;
          height: 20px;
          float: left;
          margin-right: 9px;
          margin-top: -32px;
          margin-left: 51px;
        }
        .share_icon {
          width: 18px;
          height: 18px;
          float: left;
          margin-right: 9px;
          margin-top: -32px;
          margin-left: 87px;
        }
        .flag_icon {
          width: 18px;
          height: 18px;
          float: left;
          margin-right: 9px;
          margin-top: -31px;
          margin-left: 122px;
        }
        .time{
          width: 100%;
          box-shadow: 0 21px 0px -7px rgba(220, 220, 220, 0.5);
          .clock{
            width: 18px;
            height: 18px;
            float:left;
            padding-right: 4px;        
            margin-left: 154px;
            margin-top: -32px;
          }
          p {
            font-family: $font;
            padding-top: 3px;
            font-weight: 100;
            font-size: 14px;
            margin-left: 174px;
            margin-top: -32.5px;
          }
        }
        .userfeed-description {
          text-align: justify;
          margin: 0px 8px;
          width: 94%;
          font-size: 16px;
          padding:10px;
          overflow: hidden;
        }
        button {
          background-color: rgba(51, 153, 255, 0.3);
          border: 1px solid $light-blue;
          color: $main-blue;
          padding: 3px 12px;
          width: 105px;
          height: 36px;
          margin-top: 20px;
          text-align: center;
          cursor: pointer;
          -webkit-transition-duration: 0.4s; 
          transition-duration: 0.4s;
          margin-left: 40%;
          font-size: 14px;
          margin-bottom: 20px;
          font-family: $font;
          &:hover {
            background-color: white;
            color: $medium-blue;
            border: 1px solid $medium-blue;
            padding: 3px 12px;
            width: 105px;
            height: 36px;
            margin-top: 20px;
            text-align: center;
            cursor: pointer;
            -webkit-transition-duration: 0.4s; 
            transition-duration: 0.4s;
            margin-left: 40%;
            font-size: 14px;
            margin-bottom: 20px;
            font-family: $font;
          }
        }
        .hidden-post {
          max-height: 80px;
        }
        .revealed-post {
          max-height: none;
        }
        .readMore {
          display: block;
          margin-left: auto;
          margin-right: auto;
          &:hover {
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
  }
  #profile-calendar {
    min-height: 100%;
    display: none;
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    height: auto;
    overflow: hidden;
    padding-top: 50px;
    margin-top: 62px;
    margin-left: 9%;
    width: 74%;
    height: 90%;
    h1 {
      font-family: $font;
      margin-top: 110px;
      font-weight: 100;
      font-size: 30px;
      text-align: center;
      color: $main-blue;
    }
  }
  #profile-followers {
    display: none;
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    height: auto;
    overflow: hidden;
    padding-top: 50px;
    margin-top: 62px;
    margin-left: 9%;
    width: 74%;
    height: 90%;
    h1 {
      font-family: $font;
      margin-top: 110px;
      font-weight: 100;
      font-size: 30px;
      text-align: center;
      color: $main-blue;
    }
    .follow {
      width: 47%;
      margin-top: -6%;
      margin-bottom: 7%;
      margin-left: 1.5%;
      margin-right: 0.5%;
      height: 82px;
      border: 1px solid $light-gray;
      display: inline-block;
      img {
        float: left;
        width: 60px;
        height: 60px;
        margin-top: 2.5%;
        margin-left: 4%;
        margin-right: 3%;
        border-radius: 50%;
        border: 2px solid $main-blue;
      }
      p {
        font: $font;
        float: left;
        margin-top: 33px;
        display: inline;
        font-weight: 400;
        font-size: 13px;
      }
    }
  }
  #profile-following {
    display: none;
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    height: auto;
    overflow: hidden;
    padding-top: 50px;
    margin-top: 62px;
    margin-left: 9%;
    width: 74%;
    height: 90%;
    h1 {
      font-family: $font;
      margin-top: 110px;
      font-weight: 100;
      font-size: 30px;
      text-align: center;
      color: $main-blue;
    }
    .follow {
      width: 47%;
      margin-top: -6%;
      margin-bottom: 7%;
      margin-left: 1.5%;
      margin-right: 0.5%;
      height: 82px;
      border: 1px solid $light-gray;
      display: inline-block;
      img {
        float: left;
        width: 60px;
        height: 60px;
        margin-top: 2.5%;
        margin-left: 4%;
        margin-right: 3%;
        border-radius: 50%;
        border: 2px solid $main-blue;
      }
      p {
        font: $font;
        float: left;
        margin-top: 33px;
        display: inline;
        font-weight: 400;
        font-size: 13px;
      }
    }
  }
  .follow-image{
    width: 43px;
    height: 43px;
    border-radius:50%;
  }
}























































/* P R O F I L E  E D I T  M O D A L */
#createModalx {
  display: none; 
  position: fixed;
  z-index: 1;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.create-modal-contenty {
  position: absolute;
  background-color: $light-blue;
  margin: auto;
  margin-top: 2%;
  border: 1px solid #888;
  width: 66%;
  margin-left: 17%;
  height: 106%;
  z-index: 1;
  border-radius: 19px;
  h1 {
    font-family: $font;
    color: $main-blue;
    font-weight: 400;
    text-align: center;
    padding: 20px;
    padding-bottom: 50px;
    font-size: 30px;
  }
    .edit-left1 {
      margin-top: -20px;
      width: 42%;
      float: left;
      margin-left: 83px;
      padding-bottom: 30px;
      #edit-first {
        width: 80%;
        font-size: 13px;
        font-weight: 400;
        color: $main-blue;
      }
      input[type=text] {
        width: 80%;
        height: 30px;
        margin-top: 6px;
        font-size: 12px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .edit-right1 {
      width: 42%;
      float: right;
      margin-left: -23px;
      margin-right: 21px;
      margin-top: -20px;
      padding-bottom: 30px;
      #edit-last {
        width: 86%;
        font-size: 13px;
        color: $main-blue;
        font-weight: 400;
      }
      input[type=text] {
        width: 80%;
        height: 30px;
        margin-top: 6px;
        font-size: 12px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .edit-left2 {
      width: 42%;
      float: left;
      margin-top: -5px;
      margin-left: 83px;
      padding-bottom: 30px;
      #edit-username {
        width: 80%;
        font-size: 13px;
        font-weight: 400;
        color: $main-blue;
      }
      input[type=text] {
        width: 80%;
        height: 30px;
        margin-top: 6px;
        font-size: 12px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .edit-right2 {
      width: 42%;
      float: right;
      margin-top: -5px;
      margin-left: -23px;
      margin-right: 21px;
      padding-bottom: 30px;
      #edit-headline {
        width: 86%;
        font-size: 13px;
        color: $main-blue;
        font-weight: 400;
      }
      input[type=text] {
        width: 80%;
        height: 30px;
        margin-top: 6px;
        font-size: 12px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .edit-left3 {
      margin-top: -5px;
      width: 42%;
      float: left;
      margin-left: 83px;
      padding-bottom: 30px;
      #edit-job-title {
        width: 80%;
        font-size: 13px;
        font-weight: 400;
        color: $main-blue;
      }
      input[type=text] {
        width: 80%;
        height: 30px;
        margin-top: 6px;
        font-size: 12px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .edit-right3 {
      width: 42%;
      float: right;
      margin-left: -23px;
      margin-right: 21px;
      margin-top: -5px;
      padding-bottom: 30px;
      #edit-company {
        width: 86%;
        font-size: 13px;
        color: $main-blue;
        font-weight: 400;
      }
      input[type=text] {
        width: 80%;
        height: 30px;
        margin-top: 6px;
        font-size: 12px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .edit-left4 {
      margin-top: -5px;
      width: 42%;
      float: left;
      margin-left: 83px;
      padding-bottom: 30px;
      #edit-previous-job {
        width: 80%;
        font-size: 13px;
        font-weight: 400;
        color: $main-blue;
      }
      input[type=text] {
        width: 80%;
        height: 30px;
        margin-top: 6px;
        font-size: 12px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .edit-right4 {
      width: 42%;
      float: right;
      margin-left: -23px;
      margin-right: 21px;
      margin-top: -5px;
      padding-bottom: 30px;
      #edit-previous-company {
        width: 86%;
        font-size: 13px;
        color: $main-blue;
        font-weight: 400;
      }
      input[type=text] {
        width: 80%;
        height: 30px;
        margin-top: 6px;
        font-size: 12px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .edit-left5 {
      margin-top: -5px;
      width: 42%;
      float: left;
      margin-left: 83px;
      padding-bottom: 30px;
      #edit-email {
        width: 80%;
        font-size: 13px;
        font-weight: 400;
        color: $main-blue;
      }
      input[type=text] {
        width: 80%;
        height: 30px;
        margin-top: 6px;
        font-size: 12px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .edit-right5 {
      width: 42%;
      float: right;
      margin-left: -23px;
      margin-right: 21px;
      margin-top: -5px;
      padding-bottom: 30px;
      #edit-phone {
        width: 86%;
        font-size: 13px;
        color: $main-blue;
        font-weight: 400;
      }
      input[type=text] {
        width: 80%;
        height: 30px;
        margin-top: 6px;
        font-size: 12px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .edit-left6 {
      margin-top: -5px;
      width: 42%;
      float: left;
      margin-left: 83px;
      padding-bottom: 30px;
      #edit-city {
        width: 80%;
        font-size: 13px;
        font-weight: 400;
        color: $main-blue;
      }
      input[type=text] {
        width: 80%;
        height: 30px;
        margin-top: 6px;
        font-size: 12px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .edit-right6 {
      width: 42%;
      float: right;
      margin-left: -23px;
      margin-right: 21px;
      margin-top: -5px;
      padding-bottom: 30px;
      #edit-country {
        width: 86%;
        font-size: 13px;
        color: $main-blue;
        font-weight: 400;
      }
      input[type=text] {
        width: 80%;
        height: 30px;
        margin-top: 6px;
        font-size: 12px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .articles-extra-buttons {
      width: 100%;
      float: left;
      margin-top: -10px;
      margin-left: 82px;
      .attach-photo {
        img {
          width: 35px;
          height: 35px;
        }
      }
    }
    .toggle {
      width: 36%;
      float: left;
      margin-top: -2%;
      margin-left: 35%;
      text-align: center;
      padding-bottom: 15px;
      .switch1 {
        float: left;
        width: 18%;
        height: 34px;
        margin-top: 11px;
        position: relative;
        display: inline-block;
        input {
          display: none;
        }
        p {
          margin-left: -64px;
          margin-top: -24px;
          width: 200px;
          font-size: 14px;
          color: $main-blue;
        }
      }
      .switch2 {
        float: right;
        width: 18%;
        height: 34px;
        margin-top: 11px;
        margin-right: 75px;
        position: relative;
        display: inline-block;
        input {
          display: none;
        }
        p {
          margin-left: -30px;
          margin-top: -24px;
          width: 200px;
          font-size: 14px;
          color: $main-blue;
        }
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        &:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
        }
      }
      
      input:checked + .slider {
        background-color: $medium-blue;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
      .slider.round {
        border-radius: 34px;
        &:before {
          border-radius: 50%;
        }
      }
    
  }

  /*SLIDER ENDS HERE*/
  .save-changes {
    margin-left: 42%;
    background-color: #226BE4;
    border: 2px solid #226BE4;
    color: white;
    padding: 3px 12px;
    width: 146px;
    height: 40px;
    font-weight: 400;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 25px;
    margin-right: 10%;
    font-size: 14px;
    &:hover {
      width: 145px;
      height: 40px;
      font-weight: 400;
      background-color: white;
      border: 2px solid #226BE4;
      border-radius: 25px;
      margin-right: 10%; 
      color: #226BE4;
      font-size: 14px;
    }
  }
}
/* The Close Button */
.create-closex {
  /*display: none;*/
  color: #aaaaaa;
  float: right;
  margin-right: 2%;
  font-size: 28px;
  font-weight: bold;
}
.create-closex:hover,
.create-closex:focus {
  /*display: none;*/
  color: #000;
  text-decoration: none;
  cursor: pointer;
}





































/* S M A L L  I P A D  V I E W  E D I T  M O D A L */
@media screen and (max-width: 1200px) {
  #createModalx {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  .create-modal-contenty {
    position: absolute;
    background-color: $light-blue;
    margin: auto;
    margin-top: 2%;
    border: 1px solid #888;
    width: 80%;
    margin-left: 10%;
    height: 68%;
    z-index: 1;
    border-radius: 19px;
    h1 {
      font-family: $font;
      color: $main-blue;
      font-weight: 400;
      text-align: center;
      padding: 20px;
      font-size: 30px;
      padding-bottom: 55px;
    }
    .edit-left1 {
      margin-top: -20px;
      width: 42%;
      float: left;
      margin-left: 54px;
      padding-bottom: 30px;
      #edit-first {
        width: 80%;
        font-size: 13px;
        font-weight: 400;
        color: $main-blue;
      }
      input[type=text] {
        width: 80%;
        height: 35px;
        margin-top: 6px;
        font-size: 12px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .edit-right1 {
      width: 42%;
      float: right;
      margin-left: -23px;
      margin-right: 21px;
      margin-top: -20px;
      padding-bottom: 30px;
      #edit-last {
        width: 86%;
        font-size: 13px;
        color: $main-blue;
        font-weight: 400;
      }
      input[type=text] {
        width: 80%;
        height: 35px;
        margin-top: 6px;
        font-size: 12px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .edit-left2 {
      width: 42%;
      float: left;
      margin-top: -5px;
      margin-left: 54px;
      padding-bottom: 30px;
      #edit-username {
        width: 80%;
        font-size: 13px;
        font-weight: 400;
        color: $main-blue;
      }
      input[type=text] {
        width: 80%;
        height: 35px;
        margin-top: 6px;
        font-size: 12px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .edit-right2 {
      width: 42%;
      float: right;
      margin-top: -5px;
      margin-left: -23px;
      margin-right: 21px;
      padding-bottom: 30px;
      #edit-headline {
        width: 86%;
        font-size: 13px;
        color: $main-blue;
        font-weight: 400;
      }
      input[type=text] {
        width: 80%;
        height: 35px;
        margin-top: 6px;
        font-size: 12px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .edit-left3 {
      margin-top: -5px;
      width: 42%;
      float: left;
      margin-left: 54px;
      padding-bottom: 30px;
      #edit-job-title {
        width: 80%;
        font-size: 13px;
        font-weight: 400;
        color: $main-blue;
      }
      input[type=text] {
        width: 80%;
        height: 35px;
        margin-top: 6px;
        font-size: 12px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .edit-right3 {
      width: 42%;
      float: right;
      margin-left: -23px;
      margin-right: 21px;
      margin-top: -5px;
      padding-bottom: 30px;
      #edit-company {
        width: 86%;
        font-size: 13px;
        color: $main-blue;
        font-weight: 400;
      }
      input[type=text] {
        width: 80%;
        height: 35px;
        margin-top: 6px;
        font-size: 12px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .edit-left4 {
      margin-top: -5px;
      width: 42%;
      float: left;
      margin-left: 54px;
      padding-bottom: 30px;
      #edit-previous-job {
        width: 80%;
        font-size: 13px;
        font-weight: 400;
        color: $main-blue;
      }
      input[type=text] {
        width: 80%;
        height: 35px;
        margin-top: 6px;
        font-size: 12px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .edit-right4 {
      width: 42%;
      float: right;
      margin-left: -23px;
      margin-right: 21px;
      margin-top: -5px;
      padding-bottom: 30px;
      #edit-previous-company {
        width: 86%;
        font-size: 13px;
        color: $main-blue;
        font-weight: 400;
      }
      input[type=text] {
        width: 80%;
        height: 35px;
        margin-top: 6px;
        font-size: 12px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .edit-left5 {
      margin-top: -5px;
      width: 42%;
      float: left;
      margin-left: 54px;
      padding-bottom: 30px;
      #edit-email {
        width: 80%;
        font-size: 13px;
        font-weight: 400;
        color: $main-blue;
      }
      input[type=text] {
        width: 80%;
        height: 35px;
        margin-top: 6px;
        font-size: 12px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .edit-right5 {
      width: 42%;
      float: right;
      margin-left: -23px;
      margin-right: 21px;
      margin-top: -5px;
      padding-bottom: 30px;
      #edit-phone {
        width: 86%;
        font-size: 13px;
        color: $main-blue;
        font-weight: 400;
      }
      input[type=text] {
        width: 80%;
        height: 35px;
        margin-top: 6px;
        font-size: 12px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .edit-left6 {
      margin-top: -5px;
      width: 42%;
      float: left;
      margin-left: 54px;
      padding-bottom: 30px;
      #edit-city {
        width: 80%;
        font-size: 13px;
        font-weight: 400;
        color: $main-blue;
      }
      input[type=text] {
        width: 80%;
        height: 35px;
        margin-top: 6px;
        font-size: 12px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .edit-right6 {
      width: 42%;
      float: right;
      margin-left: -23px;
      margin-right: 21px;
      margin-top: -5px;
      padding-bottom: 30px;
      #edit-country {
        width: 86%;
        font-size: 13px;
        color: $main-blue;
        font-weight: 400;
      }
      input[type=text] {
        width: 80%;
        height: 35px;
        margin-top: 6px;
        font-size: 12px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .articles-extra-buttons {
      width: 100%;
      float: left;
      margin-top: -10px;
      margin-left: 82px;
      .attach-photo {
        img {
          width: 35px;
          height: 35px;
        }
      }
    }
    .toggle {
      width: 36%;
      float: left;
      margin-top: -2%;
      margin-left: 35%;
      text-align: center;
      padding-bottom: 15px;
      .switch1 {
        float: left;
        width: 27%;
        height: 34px;
        margin-top: 11px;
        position: relative;
        display: inline-block;
        input {
          display: none;
        }
        p {
          margin-left: -82px;
          margin-top: -24px;
          width: 200px;
          font-size: 14px;
          color: $main-blue;
        }
      }
      .switch2 {
        float: right;
        width: 27%;
        height: 34px;
        margin-top: 11px;
        margin-right: 0px;
        position: relative;
        display: inline-block;
        input {
          display: none;
        }
        p {
          margin-left: -58px;
          margin-top: -24px;
          width: 200px;
          font-size: 14px;
          color: $main-blue;
        }
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        &:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
        }
      }
      
      input:checked + .slider {
        background-color: $medium-blue;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
      .slider.round {
        border-radius: 34px;
        &:before {
          border-radius: 50%;
        }
      }
    }

  /*SLIDER ENDS HERE*/
  .save-changes {
    margin-left: 39%;
    background-color: #226BE4;
    border: 2px solid #226BE4;
    color: white;
    padding: 3px 12px;
    width: 146px;
    height: 40px;
    font-weight: 400;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 25px;
    margin-right: 10%;
    font-size: 14px;
    &:hover {
      width: 145px;
      height: 40px;
      font-weight: 400;
      background-color: white;
      border: 2px solid #226BE4;
      border-radius: 25px;
      margin-right: 10%; 
      color: #226BE4;
      font-size: 14px;
    }
  }
}
  /* The Close Button */
  .create-closex {
    /*display: none;*/
    color: #aaaaaa;
    float: right;
    margin-right: 2%;
    font-size: 28px;
    font-weight: bold;
  }
  .create-closex:hover,
  .create-closex:focus {
    /*display: none;*/
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}
  









































































