.profile-signout-button {
  background-color: #1B5AC3;
  border: 2px solid #1B5AC3;
  color: white;
  padding: 3px 12px;
  width: 85px;
  height: 28px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  border-radius: 25px;
  margin-left: 20%;
  margin-top: -34px;
  font-size: 13px;
  &:hover {
    background-color: white;
    border: 2px solid #1B5AC3;
    color: #1B5AC3;
    padding: 3px 12px;
    width: 85px;
    height: 28px;
    text-align: center;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 25px;
    margin-right: 15%;
    margin-top: -14px;
    font-size: 13px;
  }
}

.user_name {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  display: block;
  transition: 0.3s;
}
.user_pic {
  border-radius: 50%;
  width: 136px;
  height: auto;
}
.profile_wrapper {
  background-color: $light-blue;
  margin-top: 310px;
  padding-bottom: 8%;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  .user_profile_left {
    float: left;
    margin-top: -50%;
    width: 100%;
    margin-left: 4%;
    .user_img {   
      text-align: center;
      img {
        border: 4px solid $main-blue;
        border-radius: 50%;
        width: 100px;
        height: 100px;
      }
    }
    .name {
      text-align: center;
      width: 100%;
      font-size: 20px;
      color: $main-blue;
      margin-top: 5px;
      text-align: center;
    }
    .username {
      font-size: 16px;
      margin-top: -10px;
      color: $main-blue;
      text-align: center;
      display: none;
    }
    .title {
      font-size: 16px;
      font-weight: 100;
      margin-top: 0px;
      color: $main-blue;
      text-align: center;
      display: none;
    }
    .organization {
      font-size: 16px;
      font-weight: 100;
      margin-top: -10px;
      color: $main-blue;
      text-align: center;
      display: none;
    }
    .user_type {
      font-size: 16px;
      font-weight: 100;
      margin-top: -10px;
      color: $main-blue;
      text-align: center;
      display: none;
    }
    .briefcase_icon {
      text-align: center;
      margin-top: 28px;
      img {
        width: 28px;
        height: 24px;
        display: none;
      }
    }
    .previous {
      font-size: 16px;
      margin-top: -10px;
      color: $main-blue;
      text-align: center;
      display: none;
    }
    .previous_job {
      font-size: 16px;
      font-weight: 100;
      margin-top: -10px;
      color: $main-blue;
      text-align: center;
      display: none;
    }
    .location_icon {
      text-align: center;
      margin-top: 28px;
      img {
        width: 28px;
        height: 28px;
        display: none;
      }
    }
    .location {
      font-size: 16px;
      margin-top: -10px;
      color: $main-blue;
      text-align: center;
    }
    .view-more {
      background-color: $main-blue;
      border: 2px solid $main-blue;
      color: white;
      padding: 3px 12px;
      width: 105px;
      height: 36px;
      margin-top: 20px;
      text-align: center;
      font-size: 12px;
      cursor: pointer;
      -webkit-transition-duration: 0.4s; 
      transition-duration: 0.4s;
      border-radius: 25px;
      font-size: 14px;
      display: none;
      &:hover {
        width: 105px;
        height: 36px;
        margin-top: 20px;
        background-color: white;
        border: 2px solid $main_blue;
        border-radius: 25px;
        color: #1B5AC3;
        font-size: 14px;
      }
      a {
        text-decoration: none;
        p {
          color: white;
          margin-top: 4px;
          &:hover {
            color: $main-blue;
            margin-top: 4px;
          }
        }
      }
    }
  }
  .second_nav_right {
    width: 100%;
    margin-top: -5%;
    flex: 1 1 160px;
    a {
      text-decoration: none;
      float: left;
      width: 19%;
      margin-left: 0%;
      font-size: 12px;
      display: inline;
      margin-top: -17px;
      &:first-child {
        margin-left: 10%;
        margin-right: 0px;
      }
      .p-tag {
        text-align: center;
        color: $gray;
      }
      .p-tag.active {
        color: $main-blue;
        border-bottom: 4px solid $main-blue;
        padding-bottom: 5px;
      }
    }
    #profile-postsbox {
      background-color: $light-blue;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: space-around;
      height: auto;
      overflow: hidden;
      padding-top: 50px;
      margin-top: 62px;
      margin-left: 8.5%;
      width: 84%;
      h3 {
        color: black;
        font-size: 16px;
        width: 100%;
        margin-bottom: 3px;
      }
      .userfeed-post {
        background-color: white;
        margin-bottom: 20px;
        border-radius: 1.8%/6%;
        width: 100%;
        height: auto;
        overflow: none;
        .publisher {
          float: left;
          .userfeed-publisher-image {
            width: 35px;
            height: 35px;
            margin-left: 3px;
            margin-top: 5px;
          }
          .userfeed-name {
            font-size: 20px;
            font-weight: 400;
            margin-left: 10px;
            margin-top: 11px;
          }
        }
        .userfeed-image{
          width: 100%;
          height: 150px;
        }
        .userfeed-title {
          /*float: left;*/
          width: 90%;
          margin-left: 34px;
          margin-top: 35px;
          color: $main-blue;
          font-size: 18px;
        }
        .userfeed-description {
          text-align: justify;
          margin-left: -3px;
          width: 94%;
          margin-top: 0px;
          font-size: 16px;
        }
      }
    }
    #profile-calendar {
      display: none;
      background-color: white;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: space-around;
      height: auto;
      overflow: hidden;
      padding-top: 50px;
      margin-top: 62px;
      margin-left: 12%;
      width: 74%;
      height: 90%;
      h1 {
        margin-top: 60px;
        padding-bottom: 150px;
        font-weight: 100;
        font-size: 20px;
        text-align: center;
        color: $main-blue;
      }
    }
    #profile-followers {
      display: none;
      background-color: white;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: space-around;
      height: auto;
      overflow: hidden;
      padding-top: 50px;
      margin-top: 62px;
      margin-left: 10%;
      width: 80%;
      height: 90%;
      h1 {
        margin-top: 60px;
        padding-bottom: 150px;
        font-weight: 100;
        font-size: 20px;
        text-align: center;
        color: $main-blue;
      }
      .follow {
        width: 46.6%;
        margin-top: -13%;
        margin-bottom: 14%;
        margin-left: 1.6%;
        margin-right: 0%;
        height: 53px;
        border: 1px solid $light-gray;
        display: inline-block;
        img {
          float: left;
          width: 25px;
          height: 25px;
          margin-top: 9%;
          margin-left: 2%;
          margin-right: 2%;
          border-radius: 50%;
          border: 2px solid $main-blue;
        }
        p {
          font: $font;
          float: left;
          margin-top: 23px;
          display: inline;
          font-weight: 400;
          font-size: 7px;
        }
      }
    }
    #profile-following {
      display: none;
      background-color: white;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: space-around;
      height: auto;
      overflow: hidden;
      padding-top: 50px;
      margin-top: 62px;
      margin-left: 13%;
      width: 74%;
      height: 90%;
      h1 {
        margin-top: 60px;
        padding-bottom: 150px;
        font-weight: 100;
        font-size: 20px;
        text-align: center;
        color: $main-blue;
      }
      .follow {
        width: 46.6%;
        margin-top: -13%;
        margin-bottom: 14%;
        margin-left: 1.6%;
        margin-right: 0%;
        height: 53px;
        border: 1px solid $light-gray;
        display: inline-block;
        img {
          float: left;
          width: 25px;
          height: 25px;
          margin-top: 9%;
          margin-left: 2%;
          margin-right: 2%;
          border-radius: 50%;
          border: 2px solid $main-blue;
        }
        p {
          font: $font;
          float: left;
          margin-top: 23px;
          display: inline;
          font-weight: 400;
          font-size: 7px;
        }
      }
    }
  }
}
















/* P R O F I L E  E D I T  M O D A L */
#createModalx {
  display: none; 
  position: fixed;
  z-index: 1;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.create-modal-contentx {
  position: absolute;
  background-color: $light-blue;
  margin: auto;
  margin-top: 2%;
  border: 1px solid #888;
  width: 80%;
  margin-left: 10%;
  height: 66%;
  z-index: 1;
  border-radius: 19px;
  h1 {
    font-family: $font;
    color: $main-blue;
    font-weight: 400;
    text-align: center;
    padding: 20px;
    font-size: 26px;
  }
  .edit-left1 {
    width: 36%;
    float: left;
    margin-left: 28px;
    padding-bottom: 35px;
    #edit-first {
      width: 80%;
      font-size: 11px;
      font-weight: 400;
      color: $main-blue;
    }
    input[type=text] {
      width: 90%;
      height: 30px;
      margin-top: 6px;
      font-size: 12px;
      font-weight: 400;
      color: $main-blue;
      padding-left: 15px;
      border-radius: 22px;
      border: 2px solid $main-blue;
    }
  }
  .edit-right1 {
    width: 36%;
    float: right;
    padding-bottom: 35px;
    #edit-last {
      width: 86%;
      font-size: 11px;
      color: $main-blue;
      font-weight: 400;
    }
    input[type=text] {
      width: 90%;
      height: 30px;
      margin-top: 6px;
      font-size: 12px;
      font-weight: 400;
      color: $main-blue;
      padding-left: 15px;
      border-radius: 22px;
      border: 2px solid $main-blue;
    }
  }
  .edit-center {
    width: 100%;
    text-align: center;
    #edit-email {
      margin-top: 20px;
      width: 80%;
      /*font-size: 11px;*/    
      margin-left: 9.5%;
      font-weight: 400;
      color: $main-blue;
    }
    input[type=text] {
      width: 80%;
      height: 30px;
      margin-top: 2px;
      font-size: 12px;
      font-weight: 400;
      color: $main-blue;
      margin-left: 9.5%;
      padding-left: 15px;
      border-radius: 22px;
      border: 2px solid $main-blue;
    }
    #edit-username {
      width: 80%;
      font-size: 11px;
      margin-left: 9.5%;
      font-weight: 400;
      color: $main-blue;
    }
    input[type=text] {
      width: 80%;
      height: 30px;
      margin-top: 2px;
      font-size: 12px;
      font-weight: 400;
      color: $main-blue;
      margin-left: 9.5%;
      padding-left: 15px;
      border-radius: 22px;
      border: 2px solid $main-blue;
    }
  }
  .edit-left2 {
    width: 36%;
    float: left;
    margin-left: 26px;
    padding-bottom: 15px;
    #edit-new-password {
      width: 80%;
      font-size: 11px;
      color: $main-blue;
      font-weight: 400;
    }
    input[type=text] {
      width: 80%;
      height: 30px;
      margin-top: 6px;
      font-size: 12px;
      font-weight: 400;
      color: $main-blue;
      padding-left: 15px;
      border-radius: 22px;
      border: 2px solid $main-blue;
    }
  }
  .edit-right2 {
    width: 36%;
    float: right;
    margin-left: -10px;
    padding-bottom: 15px;
    #edit-confirm-password {
      width: 80%;
      font-size: 10px;
      font-weight: 400;
      color: $main-blue;
      margin-left: -18px;
    }
    input[type=text] {
      margin-left: -21px;
      width: 86%;
      height: 30px;
      margin-top: 6px;
      font-size: 12px;
      font-weight: 400;
      color: $main-blue;
      padding-left: 15px;
      border-radius: 22px;
      border: 2px solid $main-blue;
    }
  }
  .save-changes {
    margin-top: 5%;
    margin-left: 26%;
    background-color: #226BE4;
    border: 2px solid #226BE4;
    color: white;
    padding: 3px 12px;
    width: 146px;
    height: 40px;
    font-weight: 400;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 25px;
    margin-right: 10%;
    font-size: 14px;
    &:hover {
      width: 145px;
      height: 40px;
      font-weight: 400;
      background-color: white;
      border: 2px solid #226BE4;
      border-radius: 25px;
      margin-right: 10%; 
      color: #226BE4;
      font-size: 14px;
    }
  }
}
/* The Close Button */
.create-closex {
  /*display: none;*/
  color: #aaaaaa;
  float: right;
  margin-right: 2%;
  font-size: 28px;
  font-weight: bold;
}
.create-closex:hover,
.create-closex:focus {
  /*display: none;*/
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


















/*=================== I P A D  V I E W ====================*/
