.navbar {
  position: fixed;
  background: white;
  margin-left: -5px;
  padding-left: 4px;
  top: -1;
  width: 100%;
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 4px;
  padding-bottom: 52px;
  a { 
    font-family: $font;
    text-decoration: none;
    p {
      color: $gray;
      margin-left: 8px;
      margin-top: -10px;
      &:hover { 
        font-family: $font;
        text-decoration:none; color: $light-gray;
        font-size: 16px;
        font-weight: 100;
        margin-left: 25px;
        margin-top: 19px;
      }
    }
    .discover-p-tag {
      margin-top: 2px; 
      &:hover {
        margin-top: 39px;
      }
    }
    .explore-p-tag {
      margin-top: 2px;
      &:hover {
        margin-top: 39px;
      }
    }
  }
  p {
    font-family: $font;
    color: $gray;
    font-size: 16px;
    font-weight: 100;
    margin-left: 25px;
    margin-top: 19px;
    &:hover {
      color: $light-gray;
    }
  }

  .signout {
    width: 15%;
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    flex-grow: 2;
    &:first-child {
      margin-left: 40%;
    }
    .search {
      position: relative;
      padding: 0 0 0 -9px;
      margin-left: 35px;
      margin: 0 75px;
      width: 75px;
      #input {
        height: 15px;
        margin: 0;
        margin-top: -8px;
        margin-left: -111px;
        width: 296%;
        padding-left: 15px;
        border-radius: 25px;
        border: 2px solid $main-blue;
      }
      #search_query_input {
        height: 15px;
        margin: 0;
        margin-top: -8px;
        margin-left: -111px;
        width: 296%;
        padding-left: 15px;
        border-radius: 25px;
        border: 2px solid $main-blue;
      }
      #input_img {
        position: absolute;
        bottom: 10px;
        right: -41px;
        width: 15px;
        height: 15px;
      }
    }
    .signout-button {
      background-color: #226BE4;
      border: 2px solid #226BE4;
      color: white;
      padding: 0px 10px;
      width: 80px;
      height: 33px;
      text-align: center;
      font-size: 12px;
      cursor: pointer;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      border-radius: 25px;
      margin-right: 5%;
      font-size: 12px;
      &:hover {
        width: 86px;
        height: 32px;
        background-color: white;
        border: 2px solid #226BE4;
        border-radius: 25px;
        margin-right: 10%; 
        color: #226BE4;
        font-size: 12px;
      }
    }
  }
}

.user_name {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  display: block;
  transition: 0.3s;
}
.user_pic {
  border-radius: 50%;
  width: 136px;
  height: auto;
}
.profile_wrapper {
  background-color: $light-blue;
  margin-top: 310px;
  padding-bottom: 8%;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  .user_profile_left {
    float: left;
    margin-top: -11%;
    width: 100%;
    margin-left: 0%;
    .user_img {   
      text-align: center;
      img {
        border: 4px solid $main-blue;
        border-radius: 50%;
        width: 80px;
        height: 80px;
      }
    }
    .name {
      text-align: center;
      width: 100%;
      font-size: 20px;
      color: $main-blue;
      margin-top: 5px;
      text-align: center;
    }
    .username {
      font-size: 16px;
      margin-top: -10px;
      color: $main-blue;
      text-align: center;
      display: none;
    }
    .title {
      font-size: 16px;
      font-weight: 100;
      margin-top: 0px;
      color: $main-blue;
      text-align: center;
      display: none;
    }
    .organization {
      font-size: 16px;
      font-weight: 100;
      margin-top: -10px;
      color: $main-blue;
      text-align: center;
      display: none;
    }
    .user_type {
      font-size: 16px;
      font-weight: 100;
      margin-top: -10px;
      color: $main-blue;
      text-align: center;
      display: none;
    }
    .briefcase_icon {
      text-align: center;
      margin-top: 28px;
      img {
        width: 28px;
        height: 24px;
        display: none;
      }
    }
    .previous {
      font-size: 16px;
      margin-top: -10px;
      color: $main-blue;
      text-align: center;
      display: none;
    }
    .previous_job {
      font-size: 16px;
      font-weight: 100;
      margin-top: -10px;
      color: $main-blue;
      text-align: center;
      display: none;
    }
    .location_icon {
      text-align: center;
      margin-top: 28px;
      img {
        width: 28px;
        height: 28px;
        display: none;
      }
    }
    .location {
      font-size: 16px;
      margin-top: -10px;
      color: $main-blue;
      text-align: center;
    }
    .view-more {
      background-color: $main-blue;
      border: 2px solid $main-blue;
      color: white;
      padding: 3px 12px;
      width: 105px;
      height: 36px;
      margin-top: 20px;
      text-align: center;
      font-size: 12px;
      cursor: pointer;
      -webkit-transition-duration: 0.4s; 
      transition-duration: 0.4s;
      border-radius: 25px;
      font-size: 14px;
      display: none;
      &:hover {
        width: 105px;
        height: 36px;
        margin-top: 20px;
        background-color: white;
        border: 2px solid $main_blue;
        border-radius: 25px;
        color: #1B5AC3;
        font-size: 14px;
      }
      a {
        text-decoration: none;
        p {
          color: white;
          margin-top: 4px;
          &:hover {
            color: $main-blue;
            margin-top: 4px;
          }
        }
      }
    }
    .edit-button {
      float: left;
    }
  }
  .second_nav_right {
    width: 100%;
    margin-top: -5%;
    flex: 1 1 160px;
    a {
      text-decoration: none;
      float: left;
      width: 19%;
      margin-left: 0%;
      font-size: 12px;
      display: inline;
      margin-top: -17px;
      &:first-child {
        margin-left: 10%;
        margin-right: 0px;
      }
      .p-tag {
        text-align: center;
        color: $gray;
      }
      .p-tag.active {
        color: $main-blue;
        border-bottom: 4px solid $main-blue;
        padding-bottom: 5px;
      }
    }
    #profile-postsbox {
      background-color: $light-blue;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: space-around;
      height: auto;
      overflow: hidden;
      padding-top: 50px;
      margin-left: -1.5%;
      width: 98%;
      h3 {
        color: black;
        font-size: 16px;
        width: 100%;
        margin-bottom: 3px;
      }
      .userfeed-post {
        background-color: white;
        margin-bottom: -20px;
        border-radius: 3%;
        width: 100%;
        height: auto;
        overflow: none;
        &:hover {
          color: white;
          background: linear-gradient(#226BE4 10%, white 45%, white);
        }
        .publisher {
          float: left;
          width: 90%;
          .userfeed-publisher-image {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-left: 5%;
            margin-top: 5px;
          }
          .userfeed-name {
            font-family: $font;
            font-size: 22px;
            font-weight: 400;
            margin-left: 11px;
            margin-top: 17px;
          }
        }
        .userfeed-image{
          width: 100%;
          height: 155px;
          padding-bottom: 5px;
        }
        .userfeed-title {
          font-family: "Roboto", sans-serif;
          float: left;
          margin-left: 5%;
          margin-top: 20px;
          color: #1B5AC3;
          font-size: 16px;
          font-weight: 900;
        }
        .userfeed-favorite {
          width: 100%;
          .heart {
            width: 25px;
            height: 25px;
            float: left;
            margin-left: 4%;
            margin-top: -4px;
            &:hover {
              background-color: red;
            }
          }
          p {
            font-family: $font;
            font-size: 15px;
            margin-left: -4px;
            margin-top: 5px;
            color: red;
          }
        }

        .comment_box {
          width: 22px;
          height: 22px;
          float: right;
           margin-right: 26%;
          margin-top: -32px;
          margin-left: 51px;
        }
        .share_icon {
          width: 22px;
          height: 22px;
          float: right;
          margin-right: 46%;
          margin-top: -32px;
        }
        .flag_icon {
          width: 22px;
          height: 22px;
          float: right;
          margin-right: 6%;
          margin-top: -31px;
          margin-left: 122px;
        }
        .time{
          width: 100%;
          box-shadow: 0 21px 0px -7px rgba(220, 220, 220, 0.5);
          .clock{
            width: 18px;
            height: 18px;
            float:left;
            padding-right: 4px;        
            margin-left: 154px;
            margin-top: -32px;
          }
          p {
            font-family: $font;
            padding-top: 3px;
            font-weight: 100;
            font-size: 14px;
            margin-left: 174px;
            margin-top: -32.5px;
          }
        }
        .userfeed-description {
          width: 90%;
          color: gray;
          overflow: hidden;
          font-size: 14px;
          margin: 0px 8px;
          margin-top: -5%;
          margin-left: 6%;
          font-weight: 100;
          padding-bottom: 5%;
          text-align: justify;
        }
        button {
          background-color: rgba(51, 153, 255, 0.3);
          border: 1px solid $light-blue;
          color: $main-blue;
          padding: 3px 12px;
          width: 105px;
          height: 36px;
          margin-top: 20px;
          text-align: center;
          cursor: pointer;
          -webkit-transition-duration: 0.4s; 
          transition-duration: 0.4s;
          margin-left: 40%;
          font-size: 14px;
          margin-bottom: 20px;
          font-family: $font;
          &:hover {
            background-color: white;
            color: $medium-blue;
            border: 1px solid $medium-blue;
            padding: 3px 12px;
            width: 105px;
            height: 36px;
            margin-top: 20px;
            text-align: center;
            cursor: pointer;
            -webkit-transition-duration: 0.4s; 
            transition-duration: 0.4s;
            margin-left: 40%;
            font-size: 14px;
            margin-bottom: 20px;
            font-family: $font;
          }
        }
        .hidden-post {
          width: 90%;
          color: gray;
          font-size: 14px;
          max-height: 80px;
          margin-left: 5%;
          margin-top: -10px;
          font-weight: 100;
          padding-bottom: 11%;
        }
        .revealed-post {
          max-height: none;
        }
        .readMore {
          display: block;
          margin-left: auto;
          margin-right: auto;
          &:hover {
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
    #profile-calendar {
      display: none;
      background-color: white;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: space-around;
      height: auto;
      overflow: hidden;
      padding-top: 50px;
      margin-top: 62px;
      margin-left: 12%;
      width: 74%;
      height: 90%;
      h1 {
        margin-top: 60px;
        padding-bottom: 150px;
        font-weight: 100;
        font-size: 20px;
        text-align: center;
        color: $main-blue;
      }
    }
    #profile-followers {
      display: none;
      background-color: white;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: space-around;
      height: auto;
      overflow: hidden;
      padding-top: 0px;
      margin-top: 62px;
      margin-left: 10%;
      width: 80%;
      height: 90%;
      h1 {
        margin-top: 60px;
        padding-bottom: 150px;
        font-weight: 100;
        font-size: 20px;
        text-align: center;
        color: $main-blue;
      }
      .following {
        width: 90%;
        padding: 1%;
        margin-top: 0%;
        margin-left: 1.5%;
        border-radius: 25px;
        display: inline-block;
        border: 2px solid $light-blue;
        .following-text {
          width: 46%;
          float: right;
          display: inline-block;
          .following-name {
            width: 100%;
            font-size: 15px;
            margin-top: 20%;
            margin-left: -42%;
            font-weight: 400;
            color: $dark-blue;
          }
          .following-handle {
            width: 100%;
            font-size: 14px;
            margin-left: -42%;
            margin-top: -5px;
            font-weight: 100;
            color: $dark-blue;
          }
        }
        .following-img-wrap {
          width: 46%;
          float: left;
          margin-top: 18px;
          padding-right: 5px;
          display: inline-block;
          .following-img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 2px solid $main-blue;
          }
        }
      }
      .follow {
        width: 46.6%;
        margin-top: -13%;
        margin-bottom: 14%;
        margin-left: 1.6%;
        margin-right: 0%;
        height: 53px;
        border: 1px solid $light-gray;
        display: inline-block;
        img {
          float: left;
          width: 25px;
          height: 25px;
          margin-top: 9%;
          margin-left: 2%;
          margin-right: 2%;
          border-radius: 50%;
          border: 2px solid $main-blue;
        }
        p {
          font: $font;
          float: left;
          margin-top: 23px;
          display: inline;
          font-weight: 400;
          font-size: 7px;
        }
      }
    }
    #profile-following {
      display: none;
      background-color: white;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: space-around;
      height: auto;
      overflow: hidden;
      margin-top: 62px;
      margin-left: 13%;
      width: 74%;
      height: 90%;
      h1 {
        margin-top: 60px;
        padding-bottom: 150px;
        font-weight: 100;
        font-size: 20px;
        text-align: center;
        color: $main-blue;
      }
      .following {
        width: 90%;
        padding: 1%;
        margin-top: 0%;
        margin-left: 1.5%;
        border-radius: 25px;
        display: inline-block;
        border: 2px solid $light-blue;
        .following-text {
          width: 46%;
          float: right;
          display: inline-block;
          .following-name {
            width: 100%;
            font-size: 15px;
            margin-top: 20%;
            margin-left: -42%;
            font-weight: 400;
            color: $dark-blue;
          }
          .following-handle {
            width: 100%;
            font-size: 14px;
            margin-left: -42%;
            margin-top: -5px;
            font-weight: 100;
            color: $dark-blue;
          }
        }
        .following-img-wrap {
          width: 46%;
          float: left;
          margin-top: 18px;
          padding-right: 5px;
          display: inline-block;
          .following-img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 2px solid $main-blue;
          }
        }
      }
      .follow {
        width: 46.6%;
        margin-top: -13%;
        margin-bottom: 14%;
        margin-left: 1.6%;
        margin-right: 0%;
        height: 53px;
        border: 1px solid $light-gray;
        display: inline-block;
        img {
          float: left;
          width: 25px;
          height: 25px;
          margin-top: 9%;
          margin-left: 2%;
          margin-right: 2%;
          border-radius: 50%;
          border: 2px solid $main-blue;
        }
        p {
          font: $font;
          float: left;
          margin-top: 23px;
          display: inline;
          font-weight: 400;
          font-size: 7px;
        }
      }
    }
  }
}
















/* P R O F I L E  E D I T  M O D A L */
#createModalx {
  display: none; 
  position: fixed;
  z-index: 1;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.create-modal-contenty {
  position: absolute;
  background-color: $light-blue;
  margin: auto;
  margin-top: 2%;
  border: 1px solid #888;
  width: 80%;
  margin-left: 10%;
  height: 75%;
  z-index: 1;
  border-radius: 19px;
  h1 {
    font-family: $font;
    color: $main-blue;
    font-weight: 400;
    text-align: center;
    padding: 20px;
    font-size: 18px;
  }
  .edit-left1 {
      margin-top: -5px;
      width: 42%;
      float: left;
      margin-left: 22px;
      padding-bottom: 18px;
      #edit-first {
        width: 80%;
        font-size: 10px;
        font-weight: 400;
        color: $main-blue;
      }
      input[type=text] {
        width: 80%;
        height: 20px;
        margin-top: 2px;
        font-size: 10px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .edit-right1 {
      width: 42%;
      float: right;
      margin-left: -23px;
      margin-right: 15px;
      margin-top: -5px;
      padding-bottom: 18px;
      #edit-last {
        width: 86%;
        font-size: 10px;
        color: $main-blue;
        font-weight: 400;
      }
      input[type=text] {
        width: 80%;
        height: 20px;
        margin-top: 2px;
        font-size: 10px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .edit-left2 {
      width: 42%;
      float: left;
      margin-top: -5px;
      margin-left: 22px;
      padding-bottom: 18px;
      #edit-username {
        width: 80%;
        font-size: 10px;
        font-weight: 400;
        color: $main-blue;
      }
      input[type=text] {
        width: 80%;
        height: 20px;
        margin-top: 2px;
        font-size: 10px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .edit-right2 {
      width: 42%;
      float: right;
      margin-top: -5px;
      margin-left: -23px;
      margin-right: 15px;
      padding-bottom: 18px;
      #edit-headline {
        width: 86%;
        font-size: 10px;
        color: $main-blue;
        font-weight: 400;
      }
      input[type=text] {
        width: 80%;
        height: 20px;
        margin-top: 2px;
        font-size: 10px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .edit-left3 {
      margin-top: -5px;
      width: 42%;
      float: left;
      margin-left: 22px;
      padding-bottom: 18px;
      #edit-job-title {
        width: 80%;
        font-size: 10px;
        font-weight: 400;
        color: $main-blue;
      }
      input[type=text] {
        width: 80%;
        height: 20px;
        margin-top: 2px;
        font-size: 10px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .edit-right3 {
      width: 42%;
      float: right;
      margin-left: -23px;
      margin-right: 15px;
      margin-top: -5px;
      padding-bottom: 18px;
      #edit-company {
        width: 86%;
        font-size: 10px;
        color: $main-blue;
        font-weight: 400;
      }
      input[type=text] {
        width: 80%;
        height: 20px;
        margin-top: 2px;
        font-size: 10px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .edit-left4 {
      margin-top: -5px;
      width: 42%;
      float: left;
      margin-left: 22px;
      padding-bottom: 18px;
      #edit-previous-job {
        width: 80%;
        font-size: 10px;
        font-weight: 400;
        color: $main-blue;
      }
      input[type=text] {
        width: 80%;
        height: 20px;
        margin-top: 2px;
        font-size: 10px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .edit-right4 {
      width: 42%;
      float: right;
      margin-left: -23px;
      margin-right: 15px;
      margin-top: -5px;
      padding-bottom: 18px;
      #edit-previous-company {
        width: 86%;
        font-size: 10px;
        color: $main-blue;
        font-weight: 400;
      }
      input[type=text] {
        width: 80%;
        height: 20px;
        margin-top: 2px;
        font-size: 10px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .edit-left5 {
      margin-top: -5px;
      width: 42%;
      float: left;
      margin-left: 22px;
      padding-bottom: 18px;
      #edit-email {
        width: 80%;
        font-size: 10px;
        font-weight: 400;
        color: $main-blue;
      }
      input[type=text] {
        width: 80%;
        height: 20px;
        margin-top: 2px;
        font-size: 10px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .edit-right5 {
      width: 42%;
      float: right;
      margin-left: -23px;
      margin-right: 15px;
      margin-top: -5px;
      padding-bottom: 18px;
      #edit-phone {
        width: 86%;
        font-size: 10px;
        color: $main-blue;
        font-weight: 400;
      }
      input[type=text] {
        width: 80%;
        height: 20px;
        margin-top: 2px;
        font-size: 10px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .edit-left6 {
      margin-top: -5px;
      width: 42%;
      float: left;
      margin-left: 22px;
      padding-bottom: 18px;
      #edit-city {
        width: 80%;
        font-size: 10px;
        font-weight: 400;
        color: $main-blue;
      }
      input[type=text] {
        width: 80%;
        height: 20px;
        margin-top: 2px;
        font-size: 10px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .edit-right6 {
      width: 42%;
      float: right;
      margin-left: -23px;
      margin-right: 15px;
      margin-top: -5px;
      padding-bottom: 18px;
      #edit-country {
        width: 86%;
        font-size: 10px;
        color: $main-blue;
        font-weight: 400;
      }
      input[type=text] {
        width: 80%;
        height: 20px;
        margin-top: 2px;
        font-size: 10px;
        font-weight: 400;
        color: $main-blue;
        padding-left: 15px;
        border-radius: 22px;
        border: 2px solid $main-blue;
      }
    }
    .articles-extra-buttons {
      width: 100%;
      float: left;
      margin-top: -11px;
      margin-left: 22px;
      .attach-photo {
        img {
          width: 25px;
          height: 25px;
        }
      }
    }
    .toggle {
      width: 32%;
      float: left;
      margin-top: -2%;
      margin-left: 35%;
      text-align: center;
      padding-bottom: 5px;
      .switch1 {
        float: left;
        width: 27%;
        height: 34px;
        margin-top: 11px;
        margin-left: -15px;
        position: relative;
        display: inline-block;
        input {
          display: none;
        }
        p {
          margin-left: -82px;
          margin-top: -24px;
          width: 200px;
          font-size: 10px;
          color: $main-blue;
        }
      }
      .switch2 {
        float: right;
        width: 27%;
        height: 34px;
        margin-top: 11px;
        margin-right: 0px;
        position: relative;
        display: inline-block;
        input {
          display: none;
        }
        p {
          margin-left: -53px;
          margin-top: -24px;
          width: 200px;
          font-size: 10px;
          color: $main-blue;
        }
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        height: 22px;
        width: 33px;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        &:before {
          position: absolute;
          content: "";
          height: 16px;
          width: 16px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
        }
      }
      
      input:checked + .slider {
        background-color: $medium-blue;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
      }
      
      .slider.round {
        border-radius: 34px;
        &:before {
          border-radius: 50%;
        }
      }
    }

  /*SLIDER ENDS HERE*/
  .save-changes {
    margin-left: 27%;
    background-color: #226BE4;
    border: 2px solid #226BE4;
    color: white;
    padding: 3px 12px;
    width: 146px;
    height: 40px;
    font-weight: 400;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 25px;
    margin-right: 10%;
    font-size: 14px;
    &:hover {
      width: 145px;
      height: 40px;
      font-weight: 400;
      background-color: white;
      border: 2px solid #226BE4;
      border-radius: 25px;
      margin-right: 10%; 
      color: #226BE4;
      font-size: 14px;
    }
  }
}
/* The Close Button */
.create-closex {
  /*display: none;*/
  color: #aaaaaa;
  float: right;
  margin-right: 2%;
  font-size: 28px;
  font-weight: bold;
}
.create-closex:hover,
.create-closex:focus {
  /*display: none;*/
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


















/*=================== I P A D  V I E W ====================*/
