.profile_wrapper {
  background-color: white;
  margin-top: 760px;
  padding-bottom: 22%;
  /*display: flex;*/
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  .pe-wrapper {
    margin-top: -490px;
    width: 30%;
    margin-left: 34%;
    .user_img {   
      text-align: center;
      img {
        border: 4px solid $main-blue;
        border-radius: 50%;
        width: 150px;
        height: 150px;
      }
    }
  }
  .pe-header {
    width: 90%;

    margin-top: -64px;
    .pe-name h2 {
      margin-top: -250px;
      margin-left: 95px;
      text-align: center;
      font-weight: 100;
      font-size: 24px;
      color: $main-blue;
    }
    .pe-handle h3 {
      margin-top: 0.2%;
      text-align: center;
      margin-left: 9%;
      font-weight: 400;
      font-size: 18px;
      color: $gray;
    }
    .pe-title h4 {
      margin-top: 0.5%;
      text-align: center;
      margin-left: 9%;
      font-size: 18px;
      font-weight: 900;
      color: $gray;
    }
    .pe-company h5 {
      width: 42%;
      margin-top: 3.5%;
      text-align: center;
      margin-left: 33%;
      font-size: 14px;
      font-weight: 400;
      color: $gray;
    }
    .pe-role h6 {
      width: 41%;
      margin-top: -1.5%;
      text-align: center;
      margin-left: 33.8%;
      font-size: 14px;
      font-weight: 400;
      color: $gray;
    }
    .pe-show-more {
      width: 40%;
      margin-top: 4.5%;
      text-align: center;
      margin-left: 33.8%;
      img {
        width: 25px;
        height: 25px;
      }
    }
  }
  .visiblediv {
    display: none;
  }
}
.pe-wrapper2 {
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  margin-top: -76%;
  .pe-city-country {
    width: 45%;
    float: left;
    /*margin-top: -0.7%;*/
    text-align: center;
    img {
      width: 25px;
      height: 25px;
    }
    h2 {
      font-weight: 400;
      font-size: 14px;
      color: $gray;
    }
  }
  .pe-previous-job {
    float: right;
    width: 45%;
    text-align: center;
    img {
      width: 23px;
      height: 23px;
    }
    h2 {
      font-weight: 400;
      font-size: 14px;
      color: $gray;
    }
  }
}



.pe-nav {
  width: 80%;
  margin-top: 10%;
  flex-wrap: wrap;
  a {
    font-family: $font;
    margin-top: -15px;
    text-decoration: none;
    float: right;
    width: 18%;
    margin-right: 2%;
    display: inline;
    &:first-child {
      font-family: $font;
      margin-left: 0%;
      margin-right: 0%;
    }
    .p-tag {
      font-family: $font;
      text-align: center;
      color: $gray;
    }
    .p-tag.active {
      font-family: $font;
      color: $main-blue;
      border-bottom: 4px solid $main-blue;
      padding-bottom: 15px;
    }
  }
  #profile-moments {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    height: auto;
    overflow: hidden;
    padding-top: 20px;
    margin-top: 62px;
    margin-left: 23%;
    padding-bottom: 30%;
    width: 80%;
    height: 90%;
    .pe-moments {
      h1 {
        font-family: $font;
        margin-top: 110px;
        font-weight: 100;
        font-size: 30px;
        text-align: center;
        color: $main-blue;
      }
    }
  }
  #profile-postsbox {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    height: auto;
    overflow: hidden;
    padding-top: 20px;
    margin-top: 62px;
    margin-left: 23%;
    padding-bottom: 30%;
    width: 80%;
    height: 90%;
    .pe-milestones {
      h1 {
        font-family: $font;
        margin-top: 110px;
        font-weight: 100;
        font-size: 30px;
        text-align: center;
        color: $main-blue;
      }
    }
  }
  #profile-calendar {
    display: none;
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    height: auto;
    overflow: hidden;
    padding-top: 20px;
    margin-top: 62px;
    margin-left: 23%;
    padding-bottom: 30%;
    width: 80%;
    height: 90%;
    .pe-articles {
      h1 {
        font-family: $font;
        margin-top: 110px;
        font-weight: 100;
        font-size: 30px;
        text-align: center;
        color: $main-blue;
      }
    }
  }  
  #profile-followers {
    display: none;
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    height: auto;
    overflow: hidden;
    padding-top: 20px;
    margin-top: 62px;
    margin-left: 23%;
    padding-bottom: 30%;
    width: 80%;
    height: 90%;
    .pe-events {
      h1 {
        font-family: $font;
        margin-top: 110px;
        font-weight: 100;
        font-size: 30px;
        text-align: center;
        color: #546e99;
      }
    }
  }
}


/*.milestones-modal-content {
  background-color: #fefefe;
  margin: auto;
  margin-top: 4%;
  border: 1px solid #888;
  width: 60%;
  margin-left: 20%;
  height: 60%;
  h2 {
    text-align: center;
    font-weight: 400;
    font-size: 24px;
  }
}*/

/*#milestonesModal {
  width: 100%;
  height: 100%;
  z-index: 2;
  h3 {
    text-align: center;
    color: $main-blue;
  }
}
#momentsModal {
  width: 60%;
  h3 {
    text-align: center;
    color: $main-blue;
  }
}*/


.create-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.create-modal-content {
  position: absolute;
  background-color: $gray;
  margin: auto;
  margin-top: 4%;
  border: 1px solid #888;
  width: 60%;
 /* padding-bottom: 20px;*/
  margin-left: 20%;
  height: 60%;
  z-index: 1;
  .column1 {
    text-align: center;
    float: left;
    width: 25%;
    height: 100%;
    display: inline-block;
    background-color: #c0d0f6;
    h3 {
      font-family: $font;
      text-align: center;
      font-size: 28px;
      color: white;
      font-weight: 100;
      padding-bottom: 5px;
      width: 80%;
      margin-left: 10%;
      &:hover {
        color: $dark-blue;
      }
    }
    img {
      width: 150px;
      height: 100px;
      margin-bottom: 10px;
      border-radius: 12px;
    }
    h4 {
      width: 90%;
      height: 35%;
      font-size: 16px;
      font-weight: 400;
      margin-left: 4.5%;
      color: $dark-blue;
      text-align: center;
    }
    .create-button-wrapper {
      width: 100%;
      text-align: center;
      margin-top: -180px;
      margin-left: -0.7%;
      .create-button {
        border-radius: 24%/72%;
        background-color: #1E2E49;
        color: white;
        padding: 5px 12px;
        width: 100px;
        height: 35px;
        margin-top: 200px;
        text-align: center;
        cursor: pointer;
        border: 1px solid #1E2E49;
        -webkit-transition-duration: 0.4s; 
        transition-duration: 0.4s;
        margin-left: 0%;
        font-size: 13px;
        margin-bottom: 10px;
        font-family: $font;
        p {
          color: white;
          font-weight: 100;
          margin-top: 6px;
          font-size: 10px;
        }
        &:hover {
          border-radius: 24%/72%;
          background-color: $main-blue;
          color: $medium-blue;
          padding: 5px 12px;
          width: 100px;
          height: 35px;
          margin-top: 200px;
          text-align: center;
          cursor: pointer;
          border: 1px solid $main-blue;
          -webkit-transition-duration: 0.4s; 
          transition-duration: 0.4s;
          margin-left: 0%;
          font-size: 13px;
          margin-bottom: 10px;
          font-family: $font;
          p {
            color: white;
            font-weight: 100;
            margin-top: 6px;
            font-size: 10px;
          }
        }
      }
    }
  }
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }

  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    &:hover {
      background-color: #ddd;
    }
  }

  /* Create an active/current tablink class */
  /*.tab button.active {
      background-color: #ccc;
  }*/

  /* Style the tab content */
  .tabcontent {
    position: inherit;
    display: none;
    padding: 6px 11px;
    border-top: none;
    margin-top: 8%;
    /*background-color: white;*/
    width: 97.4%;
    height: 85%;
  }
  #create-milestones {
    background-color: #c0d0f6;
    h3 {
      margin-top: 2%;
      color: white;
      font-size: 20px;
      font-weight: 400;
      margin-left: 6%;
    }
    .milestone-left {
      width: 40%;
      float: left;
      margin-top: -6px;
      margin-left: 50px;
      display: inline-block;
      .milestone-label {
        font-size: 12px;
        font-weight: 400;
        margin-left: 9px;
        font-family: $font;
        color: $main-blue;
      }
      #milestone-type {
        width: 100%;
        color: white;
        height: 35px;
        margin-top: 6px;
        font-size: 12px;
        font-weight: 400;
        padding-left: 20px;
        border-radius: 50px;
        background-color: $main-blue;
        border: 1px solid $main-blue;
      }
    }
    .milestone-right {
      width: 40%;
      float: right;
      margin-top: -45px;
      display: inline-block;
      img {
        width: 55%;
        height: 115px;
        margin-left: 18px;
      }
    }
    .milestone-left2 {
      width: 40%;
      float: left;
      margin-top: 14px;
      margin-left: 50px;
      display: inline-block;
      .milestone-label {
        font-size: 12px;
        font-weight: 400;
        margin-left: 16px;
        font-family: $font;
        color: $main-blue;
      }
      input[type=text] {
        width: 95%;
        height: 35px;
        font-size: 12px;
        margin-top: 5px;
        font-weight: 400;
        border-radius: 25px;
        padding-left: 15px;
        border: 1px solid $main-blue;
      }
    }
    .milestone-right2 {
      width: 40%;
      float: right;
      margin-top: -8px;
      margin-right: 55px;
      display: inline-block;
      .milestone-label {
        font-size: 12px;
        font-weight: 400;
        margin-left: 16px;
        font-family: $font;
        color: $main-blue;
      }
      input[type=text] {
        width: 95%;
        height: 35px;
        font-size: 12px;
        margin-top: 5px;
        font-weight: 400;
        border-radius: 25px;
        padding-left: 15px;
        border: 1px solid $main-blue;
      }
    }
    .milestone-center {
      width: 86%;
      margin-top: -2px;
      margin-left: 6%;
      display: inline-block;
      .milestone-label {
        font-size: 12px;
        font-weight: 400;
        margin-left: 16px;
        font-family: $font;
        color: $main-blue;
      }
      .milestone-text {
        width: 100%;
        height: 100px;
        font-size: 14px;
        margin-top: 5px;
        font-weight: 400;
        border-radius: 25px;
        padding-left: 15px;
        padding-top: 15px;
        border: 1px solid $main-blue;
      }
    }
    .only-me-checkbox {
      float: left;
      margin-left: 6%;
      font-size: 14px;
      color: $main-blue;
    }
      
    button {
      float: right;
      width: 102px;
      height: 33px;
      margin-right: 6%;
      margin-top: -5px;
      background-color: #226BE4;
      border: 1px solid $main-blue;
      color: white;
      padding: 5px 12px;
      text-align: center;
      cursor: pointer;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      font-size: 14px;
      font-family: $font;
      border-radius: 25px;
    }
  }
  #create-moments{
    background-color: #abc1f4;
    h3 {
      margin-top: 2%;
      color: white;
      font-size: 20px;
      font-weight: 400;
      margin-left: 6%;
    }
    .moments-left {
      width: 40%;
      float: left;
      margin-top: -6px;
      margin-left: 50px;
      display: inline-block;
      .moments-label {
        font-size: 12px;
        font-weight: 400;
        margin-left: 9px;
        font-family: $font;
        color: $main-blue;
      }
      #moments-type {
        width: 100%;
        color: white;
        height: 35px;
        margin-top: 6px;
        font-size: 12px;
        font-weight: 400;
        padding-left: 20px;
        border-radius: 50px;
        background-color: $main-blue;
        border: 1px solid $main-blue;
      }
    }
    .moments-right {
      width: 40%;
      float: right;
      margin-top: 26px;
      margin-right: 54px;
      padding-bottom: 36px;
      display: inline-block;
      .attach-photo {
        width: 56px;
        margin-left: 41%;
        margin-top: 9px;
        margin-top: -44px;
      }
    }
    .moments-left2 {
      width: 40%;
      float: left;
      margin-top: 5px;
      margin-left: 50px;
      display: inline-block;
      .moments-label {
        font-size: 12px;
        font-weight: 400;
        margin-left: 16px;
        font-family: $font;
        color: $main-blue;
      }
      input[type=text] {
        width: 95%;
        height: 35px;
        font-size: 12px;
        margin-top: 5px;
        font-weight: 400;
        border-radius: 25px;
        padding-left: 15px;
        border: 1px solid $main-blue;
      }
    }
    .moments-right2 {
      width: 40%;
      float: right;
      margin-top: -25px;
      margin-right: 55px;
      display: inline-block;
      .moments-label {
        font-size: 12px;
        font-weight: 400;
        margin-left: 16px;
        font-family: $font;
        color: $main-blue;
      }
      input[type=text] {
        width: 95%;
        height: 35px;
        font-size: 12px;
        margin-top: 5px;
        font-weight: 400;
        border-radius: 25px;
        padding-left: 15px;
        border: 1px solid $main-blue;
      }
    }
    .moments-center {
      width: 86%;
      margin-top: 8px;
      margin-left: 6%;
      display: inline-block;
      .moments-label {
        font-size: 12px;
        font-weight: 400;
        margin-left: 16px;
        font-family: $font;
        color: $main-blue;
      }
      .moments-text {
        width: 100%;
        height: 100px;
        font-size: 14px;
        margin-top: 5px;
        font-weight: 400;
        border-radius: 25px;
        padding-left: 15px;
        padding-top: 15px;
        border: 1px solid $main-blue;
      }
    }
    button {
      float: right;
      width: 102px;
      height: 33px;
      margin-right: 6%;
      margin-top: -5px;
      background-color: #226BE4;
      border: 1px solid $main-blue;
      color: white;
      padding: 5px 12px;
      text-align: center;
      cursor: pointer;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      font-size: 14px;
      font-family: $font;
      border-radius: 25px;
    }
  }
  #create-articles{
    width: 97.4%;
    background-color: #95b0f0;
    h3 {
      font-weight: 400;
      color: white;
      font-size: 20px;
      margin-left: 4%;
      margin-top: 3%;
    }
    .left {
      width: 46%;
      float: left;
      margin-top: 0%;
      margin-bottom: 3%;
      display: inline-block;
      #a-header {
        color: $main-blue;
        font-size: 12px;
        font-weight: 400;
        font-family: $font;
        margin-left: 45px;
      }
      #articles-header{
        margin-left: 8%;
        width: 86%;
        height: 16px;
        float: left;
        margin-top: 3%;
        margin-bottom: 2%;
        border-radius: 25px;
        padding: 10px 12px 10px;
        border: 1px solid $main-blue;
      }
    }
    .right {
      width: 46%;
      float: right;
      margin-top: 0%;
      margin-bottom: 3%;
      display: inline-block;
      #a-title {
        color: $main-blue;
        font-size: 12px;
        font-weight: 400;
        font-family: $font;
        margin-left: 45px;
      }
      #articles-title {
        margin-right: 8%;
        width: 86%;
        height: 16px;
        float: right;
        margin-top: 3%;
        margin-bottom: 2%;
        border-radius: 25px;
        padding: 10px 12px 10px;
        border: 1px solid $main-blue;
      }
    }
    .center { 
      margin-top: 3%;
      width: 100%;
      float: left;
      #a-body {
        float: left;
        color: $main-blue;
        font-size: 12px;
        font-weight: 400;
        font-family: $font;
        margin-top: -40px;
        margin-left: 45px;
      }
      #articles-body {
        float: left;
        width: 93%;
        margin-left: 3.4%;
        margin-top: -14px;
        height: 40px;
        font-size: 14px;
        border-radius: 25px;
        box-sizing: border-box;
        padding: 22px 12px 50px;
        border: 1px solid $main-blue;
      }
      #a-tag {
        margin-top: 15px;
        float: left;
        color: $main-blue;
        font-size: 12px;
        font-weight: 400;
        font-family: $font;
        margin-left: 45px;
      }
      #articles-tag {
        margin-left: 4%;
        width: 88%;
        height: 16px;
        margin-top: 10px;
        border-radius: 25px;
        padding: 10px 12px 10px;
        border: 1px solid $main-blue;
      }
    }
    .articles-extra-buttons {
      margin-left: 48px;
      width: 90%;
      padding-top: 50px;
      z-index: 4;
      .attach-photo {
        margin-left: 0%;
        margin-top: 15px;
        width: 5%;
        float: left;
        display: inline-block;
      }
      .privacy-btn {
        margin-top: 15px;
        margin-left: -10%;
        width: 18%;
        float: left;
        display: inline-block;
        img {
          width: 35px;
          height: 35px;
        }
      }
    }
    .input-button {
      text-align: center;
      width: 102px;
      height: 33px;
      margin-left: 33%;
      margin-top: 50px;
      background-color: #226BE4;
      border: 1px solid $main-blue;
      color: white;
      padding: 5px 12px;
      text-align: center;
      cursor: pointer;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      font-size: 14px;
      font-family: $font;
      border-radius: 25px;
    }
  }
  #create-events{
    background-color: #7fa2ed;
    h3 {
      font-weight: 400;
      color: white;
      font-size: 20px;
      margin-left: 4%;
      margin-top: 3%;
    }
    .left {
      width: 46%;
      float: left;
      margin-top: 0%;
      margin-bottom: 3%;
      display: inline-block;
      #e-header {
        color: $main-blue;
        font-size: 12px;
        font-weight: 400;
        font-family: $font;
        margin-left: 45px;
      }
      #events-header{
        margin-left: 8%;
        width: 86%;
        height: 16px;
        float: left;
        margin-top: 3%;
        margin-bottom: 2%;
        border-radius: 25px;
        padding: 10px 12px 10px;
        border: 1px solid $main-blue;
      }
    }
    .right {
      width: 46%;
      float: right;
      margin-top: 0%;
      margin-bottom: 3%;
      display: inline-block;
      #e-title {
        color: $main-blue;
        font-size: 12px;
        font-weight: 400;
        font-family: $font;
        margin-left: 45px;
      }
      #events-title {
        margin-right: 8%;
        width: 86%;
        height: 16px;
        float: right;
        margin-top: 3%;
        margin-bottom: 2%;
        border-radius: 25px;
        padding: 10px 12px 10px;
        border: 1px solid $main-blue;
      }
    }
    .center { 
      margin-top: 3%;
      width: 100%;
      float: left;
      #e-body {
        float: left;
        color: $main-blue;
        font-size: 12px;
        font-weight: 400;
        font-family: $font;
        margin-top: -40px;
        margin-left: 45px;
      }
      #events-body {
        float: left;
        width: 93%;
        margin-left: 3.4%;
        margin-top: -14px;
        height: 40px;
        font-size: 14px;
        border-radius: 25px;
        box-sizing: border-box;
        padding: 22px 12px 50px;
        border: 1px solid $main-blue;
      }
      #e-tag {
        margin-top: 15px;
        float: left;
        color: $main-blue;
        font-weight: 400;
        font-family: $font;
        font-size: 12px;
        margin-left: 45px;
      }
      #events-tag {
        margin-left: 4%;
        width: 88%;
        height: 16px;
        margin-top: 10px;
        border-radius: 25px;
        padding: 10px 12px 10px;
        border: 1px solid $main-blue;
      }
    }
    .events-extra-buttons {
      margin-left: 48px;
      width: 90%;
      padding-top: 50px;
      z-index: 4;
      .attach-photo {
        margin-left: 0%;
        margin-top: 15px;
        width: 5%;
        float: left;
        display: inline-block;
      }
      .privacy-btn {
        margin-top: 15px;
        margin-left: -10%;
        width: 18%;
        float: left;
        display: inline-block;
        img {
          width: 35px;
          height: 35px;
        }
      }
    }
    .input-button {
      text-align: center;
      width: 102px;
      height: 33px;
      margin-left: 33%;
      margin-top: 50px;
      background-color: #226BE4;
      color: white;
      padding: 5px 12px;
      text-align: center;
      cursor: pointer;
      border: 1px solid $main-blue;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      font-size: 14px;
      font-family: $font;
      border-radius: 25px;
    }
  }


  .column2 {
    width: 25%;
    height: 100%;
    text-align: center;
    float: left;
    display: inline-block;
    background-color: #abc1f4;
    border-right: 0px solid $light-gray;
    h3 {
      font-family: $font;
      text-align: center;
      font-size: 28px;
      color: white;
      font-weight: 100;
      padding-bottom: 5px;
      width: 80%;
      margin-left: 10%;
      &:hover {
        color: $dark-blue;
      }
    }
    img {
      width: 150px;
      height: 100px;
      margin-bottom: 10px;
      border-radius: 12px;
    }
    h4 {
      width: 90%;
      height: 35%;
      font-size: 16px;
      font-weight: 400;
      margin-left: 4.5%;
      color: $dark-blue;
      text-align: center;
    }
    .create-button-wrapper {
      width: 100%;
      text-align: center;
      margin-top: -180px;
      margin-left: -0.7%;
      .create-button {
        border-radius: 24%/72%;
        background-color: #1E2E49;
        color: $main-blue;
        padding: 5px 12px;
        width: 100px;
        height: 35px;
        margin-top: 200px;
        text-align: center;
        cursor: pointer;
        border: 1px solid #1E2E49;
        -webkit-transition-duration: 0.4s; 
        transition-duration: 0.4s;
        margin-left: 0%;
        font-size: 13px;
        margin-bottom: 10px;
        font-family: $font;
        p {
          color: white;
          font-weight: 100;
          margin-top: 6px;
          font-size: 10px;
        }
        &:hover {
          border-radius: 24%/72%;
          background-color: $main-blue;
          color: $medium-blue;
          padding: 5px 12px;
          width: 100px;
          height: 35px;
          margin-top: 200px;
          text-align: center;
          cursor: pointer;
          border: 1px solid $main-blue;
          -webkit-transition-duration: 0.4s; 
          transition-duration: 0.4s;
          margin-left: 0%;
          font-size: 13px;
          margin-bottom: 10px;
          font-family: $font;
          p {
            color: white;
            font-weight: 100;
            margin-top: 6px;
            font-size: 10px;
          }
        }
      }
    }
  }
  .column3 {
    width: 25%;
    height: 100%;
    text-align: center;
    float: left;
    display: inline-block;
    background-color: #95b0f0;
    border-right: 0px solid $light-gray;
    h3 {
      font-family: $font;
      text-align: center;
      font-size: 28px;
      color: white;
      font-weight: 100;
      padding-bottom: 5px;
      width: 80%;
      margin-left: 10%;
      &:hover {
        color: $dark-blue;
      }
    }
    img {
      width: 150px;
      height: 100px;
      margin-bottom: 10px;
      border-radius: 12px;
    }
    h4 {
      width: 90%;
      height: 35%;
      font-size: 16px;
      font-weight: 400;
      margin-left: 4.5%;
      color: $dark-blue;
      text-align: center;
    }
    .create-button-wrapper {
      width: 100%;
      text-align: center;
      margin-top: -180px;
      margin-left: -0.7%;
      .create-button {
        border-radius: 24%/72%;
        background-color: #1E2E49;
        color: $main-blue;
        padding: 5px 12px;
        width: 100px;
        height: 35px;
        margin-top: 200px;
        text-align: center;
        cursor: pointer;
        border: 1px solid #1E2E49;
        -webkit-transition-duration: 0.4s; 
        transition-duration: 0.4s;
        margin-left: 0%;
        font-size: 13px;
        margin-bottom: 10px;
        font-family: $font;
        p {
          color: white;
          font-weight: 100;
          margin-top: 6px;
          font-size: 10px;
        }
        &:hover {
          border-radius: 24%/72%;
          background-color: $main-blue;
          color: $medium-blue;
          padding: 5px 12px;
          width: 100px;
          height: 35px;
          margin-top: 200px;
          text-align: center;
          cursor: pointer;
          border: 1px solid $main-blue;
          -webkit-transition-duration: 0.4s; 
          transition-duration: 0.4s;
          margin-left: 0%;
          font-size: 13px;
          margin-bottom: 10px;
          font-family: $font;
          p {
            color: white;
            font-weight: 100;
            margin-top: 6px;
            font-size: 10px;
          }
        }
      }
    }
  }
  .column4 {
    text-align: center;
    float: left;
    width: 25%;
    height: 100%;
    display: inline-block;
    background-color: #7fa2ed;
    h3 {
      font-family: $font;
      text-align: center;
      font-size: 28px;
      color: white;
      font-weight: 100;
      padding-bottom: 5px;
      width: 80%;
      margin-left: 10%;
      &:hover {
        color: $dark-blue;
      }
    }
    img {
      width: 150px;
      height: 100px;
      margin-bottom: 10px;
      border-radius: 12px;
    }
    h4 {
      width: 90%;
      height: 35%;
      font-size: 16px;
      font-weight: 400;
      margin-left: 4.5%;
      color: $dark-blue;
      text-align: center;
    }
    .create-button-wrapper {
      width: 100%;
      text-align: center;
      margin-top: -180px;
      margin-left: -0.7%;
      .create-button {
        border-radius: 24%/72%;
        background-color: #1E2E49;
        color: $main-blue;
        padding: 5px 12px;
        width: 100px;
        height: 35px;
        margin-top: 200px;
        text-align: center;
        cursor: pointer;
        border: 1px solid #1E2E49;
        -webkit-transition-duration: 0.4s; 
        transition-duration: 0.4s;
        margin-left: 0%;
        font-size: 13px;
        margin-bottom: 10px;
        font-family: $font;
        p {
          color: white;
          font-weight: 100;
          margin-top: 6px;
          font-size: 10px;
        }
        &:hover {
          border-radius: 24%/72%;
          background-color: $main-blue;
          color: $medium-blue;
          padding: 5px 12px;
          width: 100px;
          height: 35px;
          margin-top: 200px;
          text-align: center;
          cursor: pointer;
          border: 1px solid $main-blue;
          -webkit-transition-duration: 0.4s; 
          transition-duration: 0.4s;
          margin-left: 0%;
          font-size: 13px;
          margin-bottom: 10px;
          font-family: $font;
          p {
            color: white;
            font-weight: 100;
            margin-top: 6px;
            font-size: 10px;
          }
        }
      }
    }
  }
}

/* The Close Button */
.create-close {
  color: white;
  float: right;
  display: block;
  font-size: 28px;
  font-weight: bold;
  margin-top: -35px;
  margin-left: -20px;
  margin-right: -26px;
}

.create-close:hover,
.create-close:focus {
  /*display: none;*/
  display: block;
  color: $light-gray;
  text-decoration: none;
  cursor: pointer;
}







































































































/*=============== I P A D  V I E W ===============*/
@media screen and (max-width: 1200px) {
  .create-modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .create-modal-content {
    position: absolute;
    background-color: #fefefe;
    margin: auto;
    margin-top: 4%;
    border: 1px solid #888;
    width: 80%;
    margin-left: 8.5%;
    height: 60%;
    z-index: 1;
    .column1 {
    text-align: center;
    float: left;
    width: 25%;
    height: 100%;
    display: inline-block;
    background-color: #c0d0f6;
    h3 {
      font-family: $font;
      text-align: center;
      font-size: 26px;
      color: white;
      font-weight: 100;
      padding-bottom: 5px;
      width: 80%;
      margin-left: 10%;
      &:hover {
        color: $dark-blue;
      }
    }
    img {
      width: 150px;
      height: 100px;
      margin-bottom: 10px;
      border-radius: 12px;
    }
    h4 {
      width: 80%;
      height: 55%;
      font-size: 16px;
      font-weight: 400;
      margin-left: 9.5%;
      margin-top: 30px;
      color: $dark-blue;
      text-align: center;
    }
    .create-button-wrapper {
      width: 100%;
      text-align: center;
      margin-top: -220px;
      margin-left: -0.7%;
      .create-button {
        border-radius: 24%/72%;
        background-color: #1E2E49;
        color: white;
        padding: 5px 12px;
        width: 100px;
        height: 35px;
        margin-top: 200px;
        text-align: center;
        cursor: pointer;
        border: 1px solid #1E2E49;
        -webkit-transition-duration: 0.4s; 
        transition-duration: 0.4s;
        margin-left: 0%;
        font-size: 13px;
        margin-bottom: 10px;
        font-family: $font;
        p {
          color: white;
          font-weight: 100;
          margin-top: 6px;
          font-size: 10px;
        }
        &:hover {
          border-radius: 24%/72%;
          background-color: $main-blue;
          color: $medium-blue;
          padding: 5px 12px;
          width: 100px;
          height: 35px;
          margin-top: 200px;
          text-align: center;
          cursor: pointer;
          border: 1px solid $main-blue;
          -webkit-transition-duration: 0.4s; 
          transition-duration: 0.4s;
          margin-left: 0%;
          font-size: 13px;
          margin-bottom: 10px;
          font-family: $font;
          p {
            color: white;
            font-weight: 100;
            margin-top: 6px;
            font-size: 10px;
          }
        }
      }
    }
  }
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }

  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    &:hover {
      background-color: #ddd;
    }
  }

  /* Create an active/current tablink class */
  /*.tab button.active {
      background-color: #ccc;
  }*/

  /* Style the tab content */
  .tabcontent {
    position: inherit;
    display: none;
    padding: 6px 9px;
    border-top: none;
    margin-top: 11%;
    /*background-color: white;*/
    width: 97.5%;
    height: 87%;
  }
  #create-milestones {
    background-color: #c0d0f6;
    h3 {
      margin-top: 2%;
      color: white;
      font-size: 24px;
      font-weight: 400;
      margin-left: 6%;
    }
    .milestone-left {
      width: 40%;
      float: left;
      margin-top: -2px;
      margin-left: 50px;
      display: inline-block;
      .milestone-label {
        font-size: 18px;
        font-weight: 400;
        margin-left: 9px;
        font-family: $font;
        color: $main-blue;
      }
      #milestone-type {
        width: 100%;
        color: white;
        height: 50px;
        margin-top: 6px;
        font-size: 16px;
        font-weight: 400;
        padding-left: 20px;
        border-radius: 50px;
        background-color: $main-blue;
        border: 1px solid $main-blue;
      }
    }
    .milestone-right {
      width: 40%;
      float: right;
      margin-top: -52px;
      display: inline-block;
      img {
        width: 70%;
        height: 140px;
        margin-left: -8px;
      }
    }
    .milestone-left2 {
      width: 40%;
      float: left;
      margin-top: 40px;
      margin-left: 50px;
      display: inline-block;
      .milestone-label {
        font-size: 18px;
        font-weight: 400;
        margin-left: 16px;
        font-family: $font;
        color: $main-blue;
      }
      input[type=text] {
        width: 95%;
        height: 50px;
        font-size: 16px;
        margin-top: 5px;
        font-weight: 400;
        border-radius: 25px;
        padding-left: 15px;
        border: 1px solid $main-blue;
      }
    }
    .milestone-right2 {
      width: 40%;
      float: right;
      margin-top: 17px;
      margin-right: 55px;
      display: inline-block;
      .milestone-label {
        font-size: 18px;
        font-weight: 400;
        margin-left: 16px;
        font-family: $font;
        color: $main-blue;
      }
      input[type=text] {
        width: 95%;
        height: 50px;
        font-size: 16px;
        margin-top: 5px;
        font-weight: 400;
        border-radius: 25px;
        padding-left: 15px;
        border: 1px solid $main-blue;
      }
    }
    .milestone-center {
      width: 83%;
      margin-top: 15px;
      margin-left: 7%;
      display: inline-block;
      .milestone-label {
        font-size: 18px;
        font-weight: 400;
        margin-left: 15px;
        font-family: $font;
        color: $main-blue;
      }
     .milestone-text  {
        width: 100%;
        height: 250px;
        font-size: 16px;
        margin-top: 5px;
        font-weight: 400;
        border-radius: 25px;
        padding-left: 15px;
        border: 1px solid $main-blue;
      }
    }
    button {
      float: none;
      width: 20%;
      margin-top: 20px;
      margin-right: 0px;
      margin-left: 41%;
      border-radius: 25px;
      background-color: #226BE4;
      color: white;
      padding: 5px 12px;
      height: 50px;
      text-align: center;
      cursor: pointer;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      font-size: 18px;
      font-family: $font;
    }
  }
  #create-moments{
    background-color: #abc1f4;
    h3 {
      margin-top: 2%;
      color: white;
      font-size: 24px;
      font-weight: 400;
      margin-left: 6%;
    }
    .moments-left {
      width: 40%;
      float: left;
      margin-top: -1px;
      margin-left: 50px;
      display: inline-block;
      .moments-label {
        font-size: 18px;
        font-weight: 400;
        margin-left: 9px;
        font-family: $font;
        color: $main-blue;
      }
      #moments-type {
        width: 100%;
        color: white;
        height: 50px;
        margin-top: 6px;
        font-size: 12px;
        font-weight: 400;
        padding-left: 20px;
        border-radius: 50px;
        background-color: $main-blue;
        border: 1px solid $main-blue;
      }
    }
    .moments-right {
      width: 41%;
      float: right;
      padding-bottom: 36px;
      margin-top: 26px;
      display: inline-block;
      input[type=file] {
        font-size: 18px;
      }
    }
    .moments-left2 {
      width: 40%;
      float: left;
      margin-top: 20px;
      margin-left: 50px;
      display: inline-block;
      .moments-label {
        font-size: 18px;
        font-weight: 400;
        margin-left: 16px;
        font-family: $font;
        color: $main-blue;
      }
      input[type=text] {
        width: 95%;
        height: 50px;
        font-size: 12px;
        margin-top: 5px;
        font-weight: 400;
        border-radius: 25px;
        padding-left: 15px;
        border: 1px solid $main-blue;
      }
    }
    .moments-right2 {
      width: 40%;
      float: right;
      margin-top: 0px;
      margin-right: 55px;
      display: inline-block;
      .moments-label {
        font-size: 18px;
        font-weight: 400;
        margin-left: 16px;
        font-family: $font;
        color: $main-blue;
      }
      input[type=text] {
        width: 95%;
        height: 50px;
        font-size: 12px;
        margin-top: 5px;
        font-weight: 400;
        border-radius: 25px;
        padding-left: 15px;
        border: 1px solid $main-blue;
      }
    }
    .moments-center {
      width: 83%;
      margin-top: 15px;
      margin-left: 7%;
      display: inline-block;
      .moments-label {
        font-size: 18px;
        font-weight: 400;
        margin-left: 15px;
        font-family: $font;
        color: $main-blue;
      }
      .moments-text  {
        width: 100%;
        height: 178px;
        font-size: 12px;
        margin-top: 5px;
        font-weight: 400;
        border-radius: 25px;
        padding-left: 15px;
        border: 1px solid $main-blue;
      }
    }
    button {
      float: none;
      width: 22%;
      margin-top: 24px;
      margin-right: 0px;
      margin-left: 38.5%;
      border-radius: 25px;
      background-color: #226BE4;
      color: white;
      height: 44px;
      padding: 5px 12px;
      text-align: center;
      cursor: pointer;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      font-size: 16px;
    }
  }
  #create-articles{
    width: 97%;
    background-color: #95b0f0;
    h3 {
      font-weight: 400;
      color: white;
      font-size: 24px;
      margin-left: 4%;
      margin-top: 3%;
    }
    .left {
      width: 46%;
      float: left;
      margin-top: 5%;
      margin-bottom: 3%;
      display: inline-block;
      #a-header {
        color: $main-blue;
        font-size: 16px;
        margin-left: 45px;
      }
      #articles-header{
        margin-left: 8%;
        width: 86%;
        height: 30px;
        float: left;
        margin-top: 3%;
        margin-bottom: 2%;
        border-radius: 25px;
        padding: 10px 12px 10px;
        border: 1px solid $main-blue;
      }
    }
    .right {
      width: 46%;
      float: right;
      margin-top: 5%;
      margin-bottom: 3%;
      display: inline-block;
      #a-title {
        color: $main-blue;
        font-size: 16px;
        margin-left: 45px;
      }
      #articles-title {
        margin-right: 8%;
        width: 86%;
        height: 30px;
        float: right;
        margin-top: 3%;
        margin-bottom: 2%;
        border-radius: 25px;
        padding: 10px 12px 10px;
        border: 1px solid $main-blue;
      }
    }
    .center { 
      margin-top: 6%;
      width: 100%;
      float: left;
      #a-body {
        float: left;
        color: $main-blue;
        font-size: 16px;
        margin-top: -40px;
        margin-left: 45px;
      }
      #articles-body {
        float: left;
        width: 93%;
        margin-left: 3.4%;
        margin-top: -14px;
        height: 160px;
        font-size: 14px;
        border-radius: 25px;
        box-sizing: border-box;
        padding: 22px 12px 50px;
        border: 1px solid $main-blue;
      }
      #a-tag {
        margin-top: 35px;
        float: left;
        color: $main-blue;
        font-size: 16px;
        margin-left: 45px;
      }
      #articles-tag {
        margin-left: 4%;
        width: 88%;
        height: 30px;
        margin-top: 10px;
        border-radius: 25px;
        padding: 10px 12px 10px;
        border: 1px solid $main-blue;
      }
    }
    .articles-extra-buttons {
      margin-left: 48px;
      width: 90%;
      padding-top: 50px;
      z-index: 4;
      .attach-photo {
        margin-left: 0%;
        margin-top: 30px;
        width: 18%;
        float: left;
        display: inline-block;
        img {
          width: 55px;
          height: 55px
        }
      }
      .privacy-btn {
        margin-top: 30px;
        margin-left: -10%;
        width: 18%;
        float: left;
        display: inline-block;
        img {
          width: 55px;
          height: 55px;
        }
      }
    }
    .input-button {
      text-align: center;
      width: 129px;
      height: 45px;
      margin-left: 39%;
      margin-top: 17px;
      background-color: #226BE4;
      border: 1px solid $main-blue;
      color: white;
      padding: 5px 12px;
      text-align: center;
      cursor: pointer;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      font-size: 15px;
      font-family: $font;
      border-radius: 25px;
    }
  }
  #create-events{
    background-color: #7fa2ed;
    h3 {
      font-weight: 400;
      color: white;
      font-size: 24px;
      margin-left: 4%;
      margin-top: 3%;
    }
    .left {
      width: 46%;
      float: left;
      margin-top: 5%;
      margin-bottom: 3%;
      display: inline-block;
      #e-header {
        color: $medium-blue;
        font-size: 14px;
        margin-left: 45px;
      }
      #events-header{
        margin-left: 8%;
        width: 86%;
        height: 30px;
        float: left;
        margin-top: 3%;
        margin-bottom: 2%;
        border-radius: 25px;
        padding: 10px 12px 10px;
        border: 1px solid $main-blue;
      }
    }
    .right {
      width: 46%;
      float: right;
      margin-top: 5%;
      margin-bottom: 3%;
      display: inline-block;
      #e-title {
        color: $medium-blue;
        font-size: 14px;
        margin-left: 45px;
      }
      #events-title {
        margin-right: 8%;
        width: 86%;
        height: 30px;
        float: right;
        margin-top: 3%;
        margin-bottom: 2%;
        border-radius: 25px;
        padding: 10px 12px 10px;
        border: 1px solid $main-blue;
      }
    }
    .center { 
      margin-top: 6%;
      width: 100%;
      float: left;
      #e-body {
        float: left;
        color: $medium-blue;
        font-size: 14px;
        margin-top: -40px;
        margin-left: 45px;
      }
      #events-body {
        float: left;
        width: 93%;
        margin-left: 3.4%;
        margin-top: -14px;
        height: 160px;
        font-size: 14px;
        border-radius: 25px;
        box-sizing: border-box;
        padding: 22px 12px 50px;
        border: 1px solid $main-blue;
      }
      #e-tag {
        margin-top: 35px;
        float: left;
        color: $main-blue;
        font-size: 16px;
        margin-left: 45px;
      }
      #events-tag {
        margin-left: 4%;
        width: 88%;
        height: 30px;
        margin-top: 10px;
        border-radius: 25px;
        padding: 10px 12px 10px;
        border: 1px solid $main-blue;
      }
    }
    .events-extra-buttons {
      margin-left: 48px;
      width: 90%;
      padding-top: 50px;
      z-index: 4;
      .attach-photo {
        margin-left: -4%;
        margin-top: 30px;
        width: 18%;
        float: left;
        display: inline-block;
        img {
          width: 45px;
          height: 45px
        }
      }
      .privacy-btn {
        margin-top: 30px;
        margin-left: -9%;
        width: 18%;
        float: left;
        display: inline-block;
        img {
          width: 45px;
          height: 45px;
        }
      }
    }
    .input-button {
      text-align: center;
      width: 129px;
      height: 45px;
      margin-left: 11%;
      margin-top: 35px;
      background-color: #226BE4;
      border: 1px solid $main-blue;
      color: white;
      padding: 5px 12px;
      text-align: center;
      cursor: pointer;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      font-size: 15px;
      font-family: $font;
      border-radius: 25px;
    }
  }


  .column2 {
    width: 25%;
    height: 100%;
    text-align: center;
    float: left;
    display: inline-block;
    background-color: #abc1f4;
    border-right: 0px solid $light-gray;
    h3 {
      font-family: $font;
      text-align: center;
      font-size: 26px;
      color: white;
      font-weight: 100;
      padding-bottom: 5px;
      width: 80%;
      margin-left: 10%;
      &:hover {
        color: $dark-blue;
      }
    }
    img {
      width: 150px;
      height: 100px;
      margin-bottom: 10px;
      border-radius: 12px;
    }
    h4 {
      width: 80%;
      height: 55%;
      font-size: 16px;
      font-weight: 400;
      margin-left: 9.5%;
      margin-top: 30px;
      color: $dark-blue;
      text-align: center;
    }
    .create-button-wrapper {
      width: 100%;
      text-align: center;
      margin-top: -220px;
      margin-left: -0.7%;
      .create-button {
        border-radius: 24%/72%;
        background-color: #1E2E49;
        color: $main-blue;
        padding: 5px 12px;
        width: 100px;
        height: 35px;
        margin-top: 200px;
        text-align: center;
        cursor: pointer;
        border: 1px solid #1E2E49;
        -webkit-transition-duration: 0.4s; 
        transition-duration: 0.4s;
        margin-left: 0%;
        font-size: 13px;
        margin-bottom: 10px;
        font-family: $font;
        p {
          color: white;
          font-weight: 100;
          margin-top: 6px;
          font-size: 10px;
        }
        &:hover {
          border-radius: 24%/72%;
          background-color: $main-blue;
          color: $medium-blue;
          padding: 5px 12px;
          width: 100px;
          height: 35px;
          margin-top: 200px;
          text-align: center;
          cursor: pointer;
          border: 1px solid $main-blue;
          -webkit-transition-duration: 0.4s; 
          transition-duration: 0.4s;
          margin-left: 0%;
          font-size: 13px;
          margin-bottom: 10px;
          font-family: $font;
          p {
            color: white;
            font-weight: 100;
            margin-top: 6px;
            font-size: 10px;
          }
        }
      }
    }
  }
  .column3 {
    width: 25%;
    height: 100%;
    text-align: center;
    float: left;
    display: inline-block;
    background-color: #95b0f0;
    border-right: 0px solid $light-gray;
    h3 {
      font-family: $font;
      text-align: center;
      font-size: 26px;
      color: white;
      font-weight: 100;
      padding-bottom: 5px;
      width: 80%;
      margin-left: 10%;
      &:hover {
        color: $dark-blue;
      }
    }
    img {
      width: 150px;
      height: 100px;
      margin-bottom: 10px;
      border-radius: 12px;
    }
    h4 {
      width: 80%;
      height: 55%;
      font-size: 16px;
      font-weight: 400;
      margin-left: 9.5%;
      margin-top: 30px;
      color: $dark-blue;
      text-align: center;
    }
    .create-button-wrapper {
      width: 100%;
      text-align: center;
      margin-top: -220px;
      margin-left: -0.7%;
      .create-button {
        border-radius: 24%/72%;
        background-color: #1E2E49;
        color: $main-blue;
        padding: 5px 12px;
        width: 100px;
        height: 35px;
        margin-top: 200px;
        text-align: center;
        cursor: pointer;
        border: 1px solid #1E2E49;
        -webkit-transition-duration: 0.4s; 
        transition-duration: 0.4s;
        margin-left: 0%;
        font-size: 13px;
        margin-bottom: 10px;
        font-family: $font;
        p {
          color: white;
          font-weight: 100;
          margin-top: 6px;
          font-size: 10px;
        }
        &:hover {
          border-radius: 24%/72%;
          background-color: $main-blue;
          color: $medium-blue;
          padding: 5px 12px;
          width: 100px;
          height: 35px;
          margin-top: 200px;
          text-align: center;
          cursor: pointer;
          border: 1px solid $main-blue;
          -webkit-transition-duration: 0.4s; 
          transition-duration: 0.4s;
          margin-left: 0%;
          font-size: 13px;
          margin-bottom: 10px;
          font-family: $font;
          p {
            color: white;
            font-weight: 100;
            margin-top: 6px;
            font-size: 10px;
          }
        }
      }
    }
  }
  .column4 {
    text-align: center;
    float: left;
    width: 25%;
    height: 100%;
    display: inline-block;
    background-color: #7fa2ed;
    h3 {
      font-family: $font;
      text-align: center;
      font-size: 26px;
      color: white;
      font-weight: 100;
      padding-bottom: 5px;
      width: 80%;
      margin-left: 10%;
      &:hover {
        color: $dark-blue;
      }
    }
    img {
      width: 150px;
      height: 100px;
      margin-bottom: 10px;
      border-radius: 12px;
    }
    h4 {
      width: 80%;
      height: 55%;
      font-size: 16px;
      font-weight: 400;
      margin-left: 9.5%;
      margin-top: 30px;
      color: $dark-blue;
      text-align: center;
    }
    .create-button-wrapper {
      width: 100%;
      text-align: center;
      margin-top: -220px;
      margin-left: -0.7%;
      .create-button {
        border-radius: 24%/72%;
        background-color: #1E2E49;
        color: $main-blue;
        padding: 5px 12px;
        width: 100px;
        height: 35px;
        margin-top: 200px;
        text-align: center;
        cursor: pointer;
        border: 1px solid #1E2E49;
        -webkit-transition-duration: 0.4s; 
        transition-duration: 0.4s;
        margin-left: 0%;
        font-size: 13px;
        margin-bottom: 10px;
        font-family: $font;
        p {
          color: white;
          font-weight: 100;
          margin-top: 6px;
          font-size: 10px;
        }
        &:hover {
          border-radius: 24%/72%;
          background-color: $main-blue;
          color: $medium-blue;
          padding: 5px 12px;
          width: 100px;
          height: 35px;
          margin-top: 200px;
          text-align: center;
          cursor: pointer;
          border: 1px solid $main-blue;
          -webkit-transition-duration: 0.4s; 
          transition-duration: 0.4s;
          margin-left: 0%;
          font-size: 13px;
          margin-bottom: 10px;
          font-family: $font;
          p {
            color: white;
            font-weight: 100;
            margin-top: 6px;
            font-size: 10px;
          }
        }
      }
    }
  }
}
}







@media screen and (max-width: 1200px) {
  .pe-nav {
    width: 100%;
    margin-top: 10%;
    flex-wrap: wrap;
    a {
      font-family: $font;
      margin-top: 15px;
      text-decoration: none;
      float: right;
      width: 23%;
      margin-right: 2%;
      display: inline;
      &:first-child {
        font-family: $font;
        margin-left: 0%;
        margin-right: 0%;
      }
      .p-tag {
        font-family: $font;
        text-align: center;
        color: $gray;
      }
      .p-tag.active {
        font-family: $font;
        color: $main-blue;
        border-bottom: 4px solid $main-blue;
        padding-bottom: 15px;
      }
    }

    #profile-moments {
      background-color: white;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: space-around;
      height: auto;
      overflow: hidden;
      padding-top: 20px;
      margin-top: 62px;
      margin-left: 10%;
      padding-bottom: 30%;
      width: 80%;
      height: 90%;
      .pe-moments {
        h1 {
          font-family: $font;
          margin-top: 110px;
          font-weight: 100;
          font-size: 30px;
          text-align: center;
          color: $main-blue;
        }
      }
    }
    #profile-postsbox {
      background-color: white;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: space-around;
      height: auto;
      overflow: hidden;
      padding-top: 20px;
      margin-top: 62px;
      margin-left: 10%;
      padding-bottom: 30%;
      width: 80%;
      height: 90%;
      .pe-milestones {
        h1 {
          font-family: $font;
          margin-top: 110px;
          font-weight: 100;
          font-size: 30px;
          text-align: center;
          color: $main-blue;
        }
      }
    }
    #profile-calendar {
      display: none;
      background-color: white;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: space-around;
      height: auto;
      overflow: hidden;
      padding-top: 20px;
      margin-top: 62px;
      margin-left: 10%;
      padding-bottom: 30%;
      width: 80%;
      height: 90%;
      .pe-articles {
        h1 {
          font-family: $font;
          margin-top: 110px;
          font-weight: 100;
          font-size: 30px;
          text-align: center;
          color: $main-blue;
        }
      }
    }  
    #profile-followers {
      display: none;
      background-color: white;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: space-around;
      height: auto;
      overflow: hidden;
      padding-top: 20px;
      margin-top: 62px;
      margin-left: 10%;
      padding-bottom: 30%;
      width: 80%;
      height: 90%;
      .pe-events {
        h1 {
          font-family: $font;
          margin-top: 110px;
          font-weight: 100;
          font-size: 30px;
          text-align: center;
          color: $main-blue;
        }
      }
    }
    #profile-following {
      display: none;
      background-color: white;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: space-around;
      height: auto;
      overflow: hidden;
      padding-top: 20px;
      margin-top: 62px;
      margin-left: 10%;
      padding-bottom: 30%;
      width: 80%;
      height: 90%;
      .pe-information {
        h1 {
          font-family: $font;
          margin-top: 110px;
          font-weight: 100;
          font-size: 30px;
          text-align: center;
          color: $main-blue;
        }
      }
    }
  }
}

  



