.profile-signout-button {
  background-color: #1B5AC3;
  border: 2px solid #1B5AC3;
  color: white;
  padding: 3px 12px;
  width: 85px;
  height: 28px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  border-radius: 25px;
  margin-left: 20%;
  margin-top: -34px;
  font-size: 13px;
  &:hover {
    background-color: white;
    border: 2px solid #1B5AC3;
    color: #1B5AC3;
    padding: 3px 12px;
    width: 85px;
    height: 28px;
    text-align: center;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 25px;
    margin-right: 15%;
    margin-top: -14px;
    font-size: 13px;
  }
}

.user_name {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  display: block;
  transition: 0.3s;
}
.user_pic {
  border-radius: 50%;
  width: 136px;
  height: auto;
}
.profile_wrapper {
  background-color: $light-blue;
  margin-top: 310px;
  padding-bottom: 8%;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  .user_profile_left {
    float: left;
    margin-top: -50%;
    width: 100%;
    margin-left: 4%;
    .user_img {   
      text-align: center;
      img {
        border: 4px solid $main-blue;
        border-radius: 50%;
        width: 100px;
        height: 100px;
      }
    }
    .name {
      text-align: center;
      width: 100%;
      font-size: 20px;
      color: $main-blue;
      margin-top: 5px;
      text-align: center;
    }
    .username {
      font-size: 16px;
      margin-top: -10px;
      color: $main-blue;
      text-align: center;
      display: none;
    }
    .title {
      font-size: 16px;
      font-weight: 100;
      margin-top: 0px;
      color: $main-blue;
      text-align: center;
      display: none;
    }
    .organization {
      font-size: 16px;
      font-weight: 100;
      margin-top: -10px;
      color: $main-blue;
      text-align: center;
      display: none;
    }
    .user_type {
      font-size: 16px;
      font-weight: 100;
      margin-top: -10px;
      color: $main-blue;
      text-align: center;
      display: none;
    }
    .briefcase_icon {
      text-align: center;
      margin-top: 28px;
      img {
        width: 28px;
        height: 24px;
        display: none;
      }
    }
    .previous {
      font-size: 16px;
      margin-top: -10px;
      color: $main-blue;
      text-align: center;
      display: none;
    }
    .previous_job {
      font-size: 16px;
      font-weight: 100;
      margin-top: -10px;
      color: $main-blue;
      text-align: center;
      display: none;
    }
    .location_icon {
      text-align: center;
      margin-top: 28px;
      img {
        width: 28px;
        height: 28px;
        display: none;
      }
    }
    .location {
      font-size: 16px;
      margin-top: -10px;
      color: $main-blue;
      text-align: center;
    }
    .view-more {
      background-color: $main-blue;
      border: 2px solid $main-blue;
      color: white;
      padding: 3px 12px;
      width: 105px;
      height: 36px;
      margin-top: 20px;
      text-align: center;
      font-size: 12px;
      cursor: pointer;
      -webkit-transition-duration: 0.4s; 
      transition-duration: 0.4s;
      border-radius: 25px;
      font-size: 14px;
      display: none;
      &:hover {
        width: 105px;
        height: 36px;
        margin-top: 20px;
        background-color: white;
        border: 2px solid $main_blue;
        border-radius: 25px;
        color: #1B5AC3;
        font-size: 14px;
      }
      a {
        text-decoration: none;
        p {
          color: white;
          margin-top: 4px;
          &:hover {
            color: $main-blue;
            margin-top: 4px;
          }
        }
      }
    }
  }
  .second_nav_right {
    width: 100%;
    margin-top: -8%;
    flex: 1 1 160px;
    a {
      text-decoration: none;
      float: left;
      width: 19%;
      margin-left: 0%;
      font-size: 12px;
      display: inline;
      &:first-child {
        margin-left: 10%;
        margin-right: 0px;
      }
      p {
        text-align: center;
        color: $main-blue;
        &:hover {
          border-bottom: 4px solid $main-blue;
        }
      }
    }
    #profile-postsbox {
      background-color: $light-blue;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: space-around;
      height: auto;
      overflow: hidden;
      padding-top: 50px;
      margin-top: 62px;
      margin-left: 12.5%;
      width: 74%;
      .userfeed-post {
        background-color: white;
        margin-bottom: 20px;
        border-radius: 1.8%/6%;
        width: 100%;
        height: auto;
        overflow: none;
        .publisher {
          float: left;
          .userfeed-publisher-image {
            width: 60px;
            height: 60px;
            margin-left: 20px;
            margin-top: 5px;
          }
          .userfeed-name {
            font-size: 20px;
            font-weight: 400;
            margin-left: 10px;
            margin-top: 23px;
          }
        }
        .userfeed-title {
          /*float: left;*/
          width: 90%;
          margin-left: 34px;
          margin-top: 35px;
          color: $main-blue;
          font-size: 18px;
        }
        .userfeed-description {
          text-align: justify;
          margin-left: -3px;
          width: 94%;
          margin-top: 123px;
          font-size: 16px;
        }
      }
    }
  }
}