.search-header {
    background-color: $light-blue;
    margin-top: 20px;
    h3 {
      font-size: 18px;
      font-family: $font;
      font-weight: 400;
      margin-top: 20px;
      color: $dark-blue;
    }
  }
#searchResultsDisplay {
  padding-bottom: 21%;
  background-color: $light-blue;
  .profile-h3-header {
    width: 100%;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-top: -50px;
    padding-bottom: 15px;
    margin-left: 29%;
    padding-top: 15px;
    &:after {
      content: "Human";
      margin-top: -40px;
      color: $main-blue;
    }
  }
  .profile-div {
    width: 35%;
    height: 20%;
    margin-top: 135px;
    margin-left: 20px;
    padding-bottom: 8%;
    border-radius: 25px;
    display: inline-block;
    background-color: white;
    padding: 10px;
    box-shadow: 1px 1px 5px 1px $light-gray;
    .profile-all-content {
      width: 97%;
      height: 20%;
      clear: both;
      text-align: center;
      margin-left: -30%;
      padding-bottom: 3%;
      .profile-image {
        width: 50%;
        margin-top: -6%;
        margin-left: 57%;
        padding-bottom: 3%;
        display: inline-block;
        .image { 
          height: 60px;
          width: 60px;
          border-radius: 50%;
          border: 3px solid $main-blue;
        }
      }
      .profile-text { 
        width: 50%;
        margin-left: 57%;
        margin-top: -14%;
        padding-bottom: 3%;
        .profile-full-name {
          color: $dark-blue;
          font-size: 18px;
          font-weight: 900;
        }
        .profile-handle {
          font-size: 12px;
          margin-top: -20px;
          font-weight: 400;
          color: $dark-blue;
        }
      }
      .profile-follow-line {
        width: 100%;
        margin-left: 31.5%;
        text-align: center;
        border-bottom: 1px solid $light-gray;
      }
      .profile-follow-btn {
        width: 43%;
        color: white;
        padding: 8px;
        margin-left: 61%;
        border-radius: 25px;
        background-color: $main-blue;
        &:hover {
          width: 30%;
          color: $main-blue;
          padding: 8px;
          margin-left: 35%;
          border-radius: 25px;
          background-color: white;
          border: 2px solid $main-blue;
          &:after {
            content: "Follow";
            margin-top: -40px;
            color: $main-blue;
          }
        }
        &:after {
          content: "Follow";
          margin-top: -40px;
          color: white;
        }
      }
    }
  }
  .post-h3-header {
    width: 100%;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-top: -50px;
    padding-bottom: 15px;
    margin-left: 29%;
    padding-top: 15px;
    &:after {
      content: "Article";
      margin-top: -40px;
      color: $main-blue;
    }
  }
  .posts-div {
    width: 35%;
    height: 20%;
    margin-top: 135px;
    margin-left: 20px;
    padding-bottom: 8%;
    border-radius: 25px;
    display: inline-block;
    background-color: white;
    padding: 10px;
    box-shadow: 1px 1px 5px 1px $light-gray;
    .post-all-content {
      width: 97%;
      height: 20%;
      clear: both;
      text-align: center;
      margin-left: -30%;
      padding-bottom: 3%;
      .post-image {
        width: 50%;
        margin-top: -6%;
        margin-left: 57%;
        padding-bottom: 3%;
        display: inline-block;
        .image { 
          height: 60px;
          width: 60px;
          border-radius: 50%;
          border: 3px solid $main-blue;
        }
      }
      .post-text { 
        width: 94%;
        margin-left: 35%;
        margin-top: -14%;
        padding-bottom: 3%;
        .post-title {
          color: $dark-blue;
          font-size: 18px;
          font-weight: 900;
        }
        .post-header {
          font-size: 14px;
          margin-top: -6px;
          font-weight: 400;
          margin-top: -20px;
          color: $dark-blue;
        }
      }
      .post-follow-line {
        width: 100%;
        margin-left: 31.5%;
        text-align: center;
        border-bottom: 1px solid $light-gray;
      }
      .post-follow-btn {
        width: 43%;
        color: white;
        padding: 8px;
        margin-left: 61%;
        border-radius: 25px;
        background-color: $main-blue;
        &:hover {
          width: 30%;
          color: $main-blue;
          padding: 8px;
          margin-left: 35%;
          border-radius: 25px;
          background-color: white;
          border: 2px solid $main-blue;
          &:after {
            content: "Follow";
            margin-top: -40px;
            color: $main-blue;
          }
        }
        &:after {
          content: "Follow";
          margin-top: -40px;
          color: white;
        }
      }
    }
  }
}










