.search-header {
  background-color: $light-blue;
  margin-top: 20px;
  h3 {
    font-size: 18px;
    font-family: $font;
    font-weight: 400;
    margin-top: 20px;
    color: $dark-blue;
  }
}
#searchResultsDisplay {
  padding-bottom: 21%;
  background-color: $light-blue;
  .profile-h3-header {
    width: 100%;
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-top: -60px;
    padding-bottom: 15px;
    margin-left: 39%;
    padding-top: 15px;
    &:after {
      content: "Human";
      margin-top: -40px;
      color: $main-blue;
    }
  }
  .profile-div {
    width: 22%;
    height: 20%;
    margin-top: 70px;
    margin-left: 20px;
    padding-bottom: 8%;
    border-radius: 25px;
    display: inline-block;
    background-color: white;
    padding: 10px;
    box-shadow: 1px 1px 5px 1px $light-gray;
    .profile-all-content {
      width: 97%;
      height: 20%;
      clear: both;
      text-align: center;
      margin-left: -13%;
      padding-bottom: 3%;
      .profile-image {
        width: 50%;
        margin-top: -1%;
        margin-left: 31%;
        padding-bottom: 3%;
        display: inline-block;
        .image { 
          height: 90px;
          width: 90px;
          border-radius: 50%;
          border: 3px solid $main-blue;
        }
      }
      .profile-text { 
        width: 80%;
        height: 80px;
        margin-top: -8%;
        margin-left: 25%;
        padding-bottom: 3%;
        .profile-full-name {
          color: $dark-blue;
          font-size: 20px;
          font-weight: 900;
        }
        .profile-handle {
          font-size: 16px;
          margin-top: -20px;
          font-weight: 400;
          color: $dark-blue;
        }
      }
      .profile-follow-line {
        width: 100%;
        margin-left: 14.5%;
        text-align: center;
        border-bottom: 1px solid $light-gray;
      }
      .profile-follow-btn {
        width: 30%;
        color: white;
        padding: 8px;
        margin-left: 32%;
        border-radius: 25px;
        background-color: $main-blue;
        &:hover {
          width: 30%;
          color: $main-blue;
          padding: 7px;
          margin-left: 32%;
          border-radius: 25px;
          background-color: white;
          border: 2px solid $main-blue;
          &:after {
            content: "Follow";
            margin-top: -40px;
            color: $main-blue;
          }
        }
        &:after {
          content: "Follow";
          margin-top: -40px;
          color: white;
        }
      }
    }
  }
  .post-h3-header {
    width: 100%;
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-top: -60px;
    padding-bottom: 15px;
    margin-left: 39%;
    padding-top: 15px;
    &:after {
      content: "Article";
      margin-top: -40px;
      color: $main-blue;
    }
  }
  .posts-div {
    width: 22%;
    height: 20%;
    margin-top: 70px;
    margin-left: 20px;
    padding-bottom: 8%;
    border-radius: 25px;
    display: inline-block;
    background-color: white;
    padding: 10px;
    box-shadow: 1px 1px 5px 1px $light-gray;
    .post-all-content {
      width: 97%;
      height: 20%;
      clear: both;
      text-align: center;
      margin-left: -13%;
      padding-bottom: 3%;
      .post-image {
        width: 50%;
        margin-top: -1%;
        margin-left: 31%;
        padding-bottom: 3%;
        display: inline-block;
        .image { 
          height: 90px;
          width: 90px;
          border-radius: 50%;
          border: 3px solid $main-blue;
        }
      }
      .post-text { 
        width: 90%;
        height: 80px;
        margin-left: 19%;
        margin-top: -8%;
        padding-bottom: 3%;
        .post-title {
          color: $dark-blue;
          font-size: 20px;
          font-weight: 900;
        }
        .post-heading {
          font-size: 16px;
          margin-top: -14px;
          font-weight: 400;
          color: $dark-blue;
        }
      }
      .post-follow-line {
        width: 100%;
        margin-left: 14.5%;
        text-align: center;
        border-bottom: 1px solid $light-gray;
      }
      .post-follow-btn {
        width: 30%;
        color: white;
        padding: 8px;
        margin-left: 32%;
        border-radius: 25px;
        background-color: $main-blue;
        &:hover {
          width: 30%;
          color: $main-blue;
          padding: 7px;
          margin-left: 32%;
          border-radius: 25px;
          background-color: white;
          border: 2px solid $main-blue;
          &:after {
            content: "Follow";
            margin-top: -40px;
            color: $main-blue;
          }
        }
        &:after {
          content: "Follow";
          margin-top: -40px;
          color: white;
        }
      }
    }
  }
}






























































































@media screen and (max-width: 800px) {
  .search-header {
    background-color: $light-blue;
    margin-top: 20px;
    h3 {
      font-size: 18px;
      font-family: $font;
      font-weight: 400;
      margin-top: 20px;
      color: $dark-blue;
    }
  }
  #searchResultsDisplay {
    padding-bottom: 21%;
    background-color: $light-blue;
    .profile-h3-header {
      width: 100%;
      font-size: 22px;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      margin-top: -60px;
      padding-bottom: 15px;
      margin-left: 29%;
      padding-top: 15px;
      &:after {
        content: "Human";
        margin-top: -40px;
        color: $main-blue;
      }
    }
    .profile-div {
      width: 22%;
      height: 20%;
      margin-top: 70px;
      margin-left: 20px;
      padding-bottom: 8%;
      border-radius: 25px;
      display: inline-block;
      background-color: white;
      padding: 10px;
      box-shadow: 1px 1px 5px 1px $light-gray;
      .profile-all-content {
        width: 97%;
        height: 20%;
        clear: both;
        text-align: center;
        margin-left: -25%;
        padding-bottom: 3%;
        .profile-image {
          width: 50%;
          margin-top: -1%;
          margin-left: 31%;
          padding-bottom: 3%;
          display: inline-block;
          .image { 
            height: 110px;
            width: 110px;
            border-radius: 50%;
            border: 3px solid $main-blue;
          }
        }
        .profile-text { 
          width: 50%;
          margin-left: 50%;
          margin-top: -8%;
          padding-bottom: 3%;
          .profile-full-name {
            color: $dark-blue;
            font-size: 24px;
            font-weight: 900;
          }
          .profile-handle {
            font-size: 16px;
            margin-top: -20px;
            font-weight: 400;
            color: $dark-blue;
          }
        }
        .profile-follow-line {
          width: 100%;
          margin-left: 28.5%;
          text-align: center;
          border-bottom: 1px solid $light-gray;
        }
        .profile-follow-btn {
          width: 43%;
          color: white;
          padding: 8px;
          margin-left: 49%;
          border-radius: 25px;
          background-color: $main-blue;
          &:hover {
            width: 30%;
            color: $main-blue;
            padding: 8px;
            margin-left: 35%;
            border-radius: 25px;
            background-color: white;
            border: 2px solid $main-blue;
            &:after {
              content: "Follow";
              margin-top: -40px;
              color: $main-blue;
            }
          }
          &:after {
            content: "Follow";
            margin-top: -40px;
            color: white;
          }
        }
      }
    }
    .post-h3-header {
      width: 100%;
      font-size: 22px;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      margin-top: -60px;
      padding-bottom: 15px;
      margin-left: 29%;
      padding-top: 15px;
      &:after {
        content: "Article";
        margin-top: -40px;
        color: $main-blue;
      }
    }
    .posts-div {
      width: 22%;
      height: 20%;
      margin-top: 70px;
      margin-left: 20px;
      padding-bottom: 8%;
      border-radius: 25px;
      display: inline-block;
      background-color: white;
      padding: 10px;
      box-shadow: 1px 1px 5px 1px $light-gray;
      .post-all-content {
        width: 97%;
        height: 20%;
        clear: both;
        text-align: center;
        margin-left: -25%;
        padding-bottom: 3%;
        .post-image {
          width: 50%;
          margin-top: -1%;
          margin-left: 31%;
          padding-bottom: 3%;
          display: inline-block;
          .image { 
            height: 110px;
            width: 110px;
            border-radius: 50%;
            border: 3px solid $main-blue;
          }
        }
        .post-text { 
          width: 50%;
          margin-left: 50%;
          margin-top: -8%;
          padding-bottom: 3%;
          .post-full-name {
            color: $dark-blue;
            font-size: 24px;
            font-weight: 900;
          }
          .post-handle {
            font-size: 16px;
            margin-top: -20px;
            font-weight: 400;
            color: $dark-blue;
          }
        }
        .post-follow-line {
          width: 100%;
          margin-left: 28.5%;
          text-align: center;
          border-bottom: 1px solid $light-gray;
        }
        .post-follow-btn {
          width: 43%;
          color: white;
          padding: 8px;
          margin-left: 49%;
          border-radius: 25px;
          background-color: $main-blue;
          &:hover {
            width: 30%;
            color: $main-blue;
            padding: 8px;
            margin-left: 35%;
            border-radius: 25px;
            background-color: white;
            border: 2px solid $main-blue;
            &:after {
              content: "Follow";
              margin-top: -40px;
              color: $main-blue;
            }
          }
          &:after {
            content: "Follow";
            margin-top: -40px;
            color: white;
          }
        }
      }
    }
  }
}














