body {
  margin-top: 20px;
  width: 100%;
  background-image: url("../images/Group 3@2x.png");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-header {
  background-color: white;
  width: 101%;
  margin-left: -1%;
  margin-top: -17px;
  height: 100px;
}
.main-header img {
  margin-top: 35px;
  margin-left: 25px;
  float: left;
}
.main-header button {
  margin-top: 45px;
  border-radius: 25px;
  padding-top: 6px;
  margin-right: 30px;
  width: 100px;
  height: 30px; 
  font-size: 16px;
  float: right;
  border-color: #326ddc;
  font-family: 'Tajawal', sans-serif;
}
.main-header .button1 {
  background: white;
  color: #326ddc;
}
.main-header .button2 {
  background: #326ddc;
  color: white;
  
}
.logo-image{
  width: 270px;
  height: 45px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.jumbotron{
  background-image: url("images/Group 3@2x.png");
  text-align: center;
  margin-top: 130px;
}
/*.jumbotron-page3 {
  background-image: url("images/Group 3@2x.png");
  text-align: center;
  margin-top: 130px;
}*/
.jumbotron-page3 img {
  text-align: center;
  margin-top: 25px;
  width: 22%;
  margin-left: 20px;
}
p.big {
  font-weight: 100;
  text-align: center;
  color: white;
  font-size: 54px;
  font-family: 'Tajawal', sans-serif;
}
p.small {
  font-weight: 100;
  margin-top: -50px;
  text-align: center;
  color: white;
  font-size: 24px;
  font-family: 'Tajawal', sans-serif;
}