body {
  margin-top: 20px;
  width: 100%;
  background-image: url("../images/Group 3@2x.png");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-header {
  background-color: white;
  width: 101%;
  margin-left: -1%;
  margin-top: -35px;
  height: 96px;
}
.main-header img {
  margin-top: 38px;
  margin-left: 34px;
  float: left;
}
.main-header button {
  margin-top: 45px;
  border-radius: 25px;
  padding-top: 6px;
  margin-right: 30px;
  width: 105px;
  height: 33px; 
  font-size: 16px;
  float: right;
  border: 2px solid #1B5AC3;
  font-family: 'Tajawal', sans-serif;
  text-decoration: none;
}
.main-header .button1 {
  background: #1B5AC3;
}
.main-header .button1:hover {
  background: white;
}
.main-header .button1 a {
  text-decoration: none;
  color: white;
}
.main-header .button1:hover a {
  text-decoration: none;
  color: #1B5AC3;
}
.main-header .button2 {
  background: #1B5AC3;
}
.main-header .button2 a {
  text-decoration: none;
  color: white;
}
.main-header .button2:hover {
  background: white;
}
.main-header .button2:hover a {
  text-decoration: none;
  color: #1B5AC3;
}
.logo-image{
  width: 300px;
  height: 55px;
}
.coming-soon {
  width: 100%;
  height: auto;
}
.coming-soon h1 {
  color: white;
  text-align: center;
  font-weight: 100;
  margin-top: 25%;
  font-size: 66px;
}
@media screen and (max-width: 700px) {
  .navbar img {
    width: 240px;
    height: 50px;
    margin-left: -45px;
  }
  .coming-soon {
    width: 100%;
    height: auto;
  }
  .coming-soon h1 {
    color: white;
    text-align: center;
    font-weight: 100;
    margin-top: 80%;
    font-size: 46px;
  }
}
.main-header span {
  position: fixed;
  background: white;
  left: 0px;
  width: 100%;
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.main-header span .logo {
  height: 52px;
  width: auto;
  margin-right: -10px;
}
.main-header span a {
  /*padding: 8px 8px 8px 32px;*/
  text-decoration: none;
  font-size: 16px;
  margin-top: 40px;
  margin-left: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.main-header span a:hover {
  color: #f1f1f1;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  padding-top: auto;
  left: 0;
  top: 0px;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  margin-top: 275px;
  border-radius: 2%;
  height: auto;
  margin-bottom: 15px;
}
.a-login {
  width: 100%;
  text-align: center;
  color: #1B5AC3;
  margin-left: 45%;
  font-size: 22px;
  padding-bottom: 10px;
  text-decoration: none;
}
hr {
  width: 100%;
  height: 2px;
  color: #1B5AC3;
}
.first_name {
  width: 50%;
  float: left;
  margin-top: 20px;
}
.first_name label {
  color: #0080FF;
  font-size: 14px;
  margin-left: 25px;
  font-weight: 100;
}
.first_name input[type=text] {
  background-color: #E0E0E0;
  border-radius: 13%/97%;
  padding-left: 15px;
  margin-left: 5px;
  margin-top: 6px;
  font-size: 14px;
  border: none;
  height: 40px;
  width: 100%;
  color; gray;
}
.first_name span {
  display: none;
}
.last_name {
  width: 45%;
  float: right;
  margin-top: 20px;
}
.last_name label {
  color: #0080FF;
  font-size: 14px;
  margin-left: 18px;
  font-weight: 100;
}
.last_name input[type=text] {
  background-color: #E0E0E0;
  border-radius: 13%/97%;
  padding-left: 18px;
  margin-top: 6px;
  font-size: 14px;
  border: none;
  height: 40px;
  width: 100%;
  color; gray;
}
.last_name span {
  display: none;
}

.handle {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}
.handle label {
  margin-top: 10px;
  color: #0080FF;
  font-size: 14px;
  margin-left: 25px;
  font-weight: 100;
  float: left;
}
.handle input[type=text] {
  background-color: #E0E0E0;
  border-radius: 13%/180%;
  padding-left: 25px;
  margin-top: 6px;
  font-size: 14px;
  border: none;
  height: 40px;
  width: 100%;
  color; gray;
}
.handle span {
  display: none;
}


.signin-email {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}
.signin-email label {
  margin-top: 10px;
  color: #0080FF;
  font-size: 14px;
  margin-left: 25px;
  font-weight: 100;
  float: left;
}
.signin-email input[type=email] {
  background-color: #E0E0E0;
  border-radius: 13%/180%;
  padding-left: 25px;
  margin-top: 6px;
  font-size: 14px;
  border: none;
  height: 40px;
  width: 100%;
  color; gray;
}
.signin-email span {
  display: none;
}

.signin-password {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}
.signin-password label {
  margin-top: 10px;
  color: #0080FF;
  font-size: 14px;
  margin-left: 25px;
  font-weight: 100;
  float: left;
}
.signin-password input[type=text] {
  background-color: #E0E0E0;
  border-radius: 13%/180%;
  padding-left: 25px;
  margin-top: 6px;
  font-size: 14px;
  border: none;
  height: 40px;
  width: 100%;
  color; gray;
}
.signin-password span {
  display: none;
}
.signin-password a {
  display: none;
}
.signin-submit input[type=button] {
  background-color: #1B5AC3;
  padding: 12px; 
  margin-left: 40%;
  margin-bottom: -10px;
  width: 20%;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 25px;
  font-size: 14px;
  color: white;
  font-weight: 100;
}
.signin-submit input[type=button]:hover {
  background-color: #0000CD;
  padding: 12px; 
  margin-left: 40%;
  margin-bottom: -10px;
  width: 20%;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 25px;
  font-size: 14px;
  color: white;
  font-weight: 100;
}
.signin-agree {
  margin-left: 3px;
  font-size: 15px;
}
.signin-agree a {
  font-size: 15px;
  text-decoration: none;
  color: #1B5AC3;
}




/*login*/
.login-email {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}
.login-email label {
  color: #0080FF;
  font-size: 14px;
  margin-left: 25px;
  font-weight: 100;
  float: left;
}
.login-email input[type=email] {
  background-image: url("../images/mail-icon.png");
  background-position: 4.5% 50%;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-top: 2px;

  background-color: #E0E0E0;
  border-radius: 13%/180%;
  padding-left: 57px; 
  margin-top: 6px;
  font-size: 14px;
  border: none;
  height: 40px;
  width: 100%;
  color; gray;
}
.login-email span {
  display: none;
}

.login-password {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}
.login-password label {
  margin-top: 10px;
  color: #0080FF;
  font-size: 14px;
  margin-left: 25px;
  font-weight: 100;
  float: left;
}
.login-password input[type=text] {
  background-image: url("../images/lock.png");
  background-position: 4.5% 50%;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-top: 2px;

  background-color: #E0E0E0;
  border-radius: 13%/180%;
  padding-left: 57px;
  margin-top: 6px;
  font-size: 14px;
  border: none;
  height: 40px;
  width: 100%;
  color; gray;
}
.login-password span {
  display: none;
}
.login-password a {
  display: none;
}
.login-submit input[type=button] {
  background-color: #1B5AC3;
  padding: 12px; 
  margin-left: 40%;
  width: 20%;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 25px;
  font-size: 14px;
  color: white;
  font-weight: 100;
}
.login-submit input[type=button]:hover {
  background-color: #0000CD;
  padding: 12px; 
  margin-left: 40%;
  width: 20%;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 25px;
  color: white;
  font-size: 14px;
  font-weight: 100;
}
.forgot a {
  margin-top: 20px;
  color: #0080FF;;
  text-align: center;
  margin-left: 33%;
  text-decoration: none;
  font-size: 18px;
}


.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.jumbotron{
  background-image: url("images/Group 3@2x.png");
  text-align: center;
  margin-top: -60px;
}
/*.jumbotron-page3 {
  background-image: url("images/Group 3@2x.png");
  text-align: center;
  margin-top: 130px;
}*/
.jumbotron-page3 img {
  text-align: center;
  margin-top: 25px;
  width: 22%;
  margin-left: 20px;
}
p.big {
  font-weight: 100;
  text-align: center;
  color: white;
  font-size: 54px;
  font-family: 'Tajawal', sans-serif;
}
p.small {
  font-weight: 100;
  margin-top: -50px;
  text-align: center;
  color: white;
  font-size: 24px;
  font-family: 'Tajawal', sans-serif;
}